body {
	
}

/*  BUTTON */

div.Button {
	padding-left: 0px;
	padding-bottom: 0.5em;
}

div.ButtonLeft {
	display: block;
	width: 50%;
	min-width: 50%;
	vertical-align: top;
	float: left;
}

div.ButtonRight {
	text-align: right;
	vertical-align: top;
	display: block;
	width: 49%;
	min-width: 49%;
	float: right;
}

/* Category */

div.CATContainer {
	display: block;
	padding: 3px;
	width: 100%;
}

div.CATLeftColumn {
	display: inline-block;
	width: 85%;
	min-width: 85%;
	vertical-align: top;
}

div.CATRightColumn {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	width: 100%;
	text-align: right;
	padding-top: 2px;
}

/* div.CategoryView
    {
        width:100%;
        min-width:100%;
        display:inline-block; 
        padding:3px;
    }
*/

div.CatHeaderView {
	display: block;
	padding: 3px;
}

/* div.Category {
    	display:inline-block; 
        padding-bottom: 20px;
    }
*/

div.LeftColumn {
	display: block;
	width: 710px;
	vertical-align: top;
	float: left;
}

div.RightColumn {
	display: block;
	width: 180px;
	float: right;
}

div.RightColumnInner {
	margin-top: 2em;
	padding: 0px;
}

/* div.QuestionIndex
    {
    }
*/

div.QuestionAnswer {
	
}

span.Question {
	
}

div.Category_CBX {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	padding-right: 10px;
	min-width: 150px;
}

div.CatHeader {
	width: 15%;
	min-width: 15%;
	display: block;
	padding: 3px;
	clear: both;
	padding-top: 1em;
}

div.CATContainer {
	display: block;
	padding: 3px;
}

div.Error {
	
}

div.EditLeft {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	width: 7%;
	min-width: 7%;
	vertical-align: top;
}

div.EditRight {
	padding-left: 5px;
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	width: 88%;
	min-width: 88%;
}

/* ul.faqCategory
    {
    }
*/

div.CatList {
	padding: 1em;
}

div.CatList strong {
	
}

dd {
	display: block;
}

dl.dlfaq dt span {
	padding-left: 3em;
}

dl.dlfaq dt strong {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 3em;
	margin-top: 1em;
	margin-right: 1em;
}

dl.dlfaq dt.contracted strong {
	/*border:1px solid red;*/
    cursor: pointer;
}

dt {
	margin-top: 2em;
	text-align: justify;
}

dd {
	margin-top: 1em;
}

ul.LinkCategory {
	list-style-position: outside;
	margin: 0;
	padding: 0 0 0 1em;
}

ul.LinkCategory li {
	margin: 0.667em 0;
}

div.BottomButton {
	width: 100%;
	min-width: 100%;
	text-align: right;
}

.editlink {
	background-position: 0px 5px;
	height: 18px;
}

.deletelink {
	background-position: 0px 5px;
	height: 18px;
}

.dlfaq dt a.deletelink,
.dlfaq dt a.editlink {
	vertical-align: top;
	background-position: center 1px;
}

td a.deletelink,
td a.editlink {
	vertical-align: top;
	background-position: center center;
}

.infolink {
	background-position: 0px 5px;
	height: 18px;
}

.helplink_normal {
	background-position: 0px 5px;
	height: 18px;
}

a.ToTop {
	font-size: 0.8em;
	color: #6;
}

iframe#Faq_Answer_ifr {
	width: 750px !important;
	height: 270px !important;
}

input#Faq_Question {
	width: 757px;
}

p.Titolo_campo {
	display: inline;
}

input#CategoryForModify_Name {
	width: 635px;
}