/* @override 
	https://edutech.elearning-center.it/Skins/2/Login.css */

/* ---- Skin Login Edutech Updated 11.07.2013 ---- */
/* ------ Richiede defaultlogin.css ------ */

/* @group Page layout */

body.internal_body {
    font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif
}

body,
div#page-box,
#aspnetForm.mainForm {
	background: #f0f0f0 !important;
}

div#container {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#header {
	background: #9AC2E3;
}

#header img.logo {
	border: none;	
}

#header img.logo {
	margin-top: 0px;
	
	height: 110px;
	min-height: 110px;
	max-height: 110px;
}

#toolbar {
	display: none;
}

#branding h1 {
	display: none;
}

div#nav-main {
	display: none;
}

div.section {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	min-width: 640px;
	width: 960px;
	padding: 0;
}

div#top-content {
	background-color: #e3e0dc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebe8e4),to(#e3e0dc));
	background-image: -webkit-linear-gradient(top, #ebe8e4, #e3e0dc);
	background-image: -moz-linear-gradient(top, #ebe8e4, #e3e0dc);
	background-image: -o-linear-gradient(top, #ebe8e4, #e3e0dc);
	background-image: -ms-linear-gradient(top, #ebe8e4, #e3e0dc);
	background-image: linear-gradient(top, #ebe8e4, #e3e0dc);
	border-bottom: 1px solid #cdcdca;
}

div#middle-content {
	background-color: #f0f0f0;
}
div#bottom-content {
	background-color: #f0f0f0;
	border-bottom: 1px solid #e3e0dc;
}

/* @end */

/* @group Tools */

div#tools {
	background-color: #transparent;
	color: #555;
	font-size: 1.05em;
	font-weight: bold;
	text-align: left;
	line-height: 1.4em;
	height: 36px;
	text-shadow: 0px 1px 0px #fff;
}

div#tools a {
	color: #336699;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

div#tools a:hover {
	text-decoration: underline;
}

div#tools ul {

}

div#tools ul li {
	background-color: transparent;
}

div#tools ul li a {

}


div#tools li a.menu {
	background-image: url(./images/i-triangle_login.png) !important;
	background-position: right 0.4em !important;
	padding-right: 15px;
	padding-left: 0;
}

div#tools li a.help {
	background: url(./images/help_login.png) no-repeat left center;
	padding-left: 24px;
	padding-top: 3px;
}

div#tools li#Top_Lang {
	background: url(./images/globe_login.png) no-repeat left center;
	padding-left: 24px;
}

div#tools li#Top_Lang a {
	background-image: url(./images/i-triangle-login.png);
	background-position: right -174px;
	padding-right: 15px;
	text-decoration: none;
	cursor: default;
}

div#tools li#Top_Lang ul.sub li a {
	background-image: none;
	padding-left: 0;
	cursor: pointer;
}

div#tools ul li ul.sub {
	background-color: #e3e0dc;
	top: 23px;
	left: 0;
	font-weight: normal;
	font-style: normal;
	padding-left: 0;
	padding-bottom: 4px;
	border-top: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.00);
}

div#tools ul li ul.sub li a:hover {
	color: #fff;
	background: #f6f5f5;
}

div#tools ul li li.first a {
	border-top: 1px solid #c7c7c7;
}

/* icons */

div#tools li a.home {
	background: url(./images/i-home.png) top left no-repeat;
}

div#tools li a.menu {
	background: url(./images/i-triangle.png) top left no-repeat;
}

/* @end */


/* @group Form */

div#form {
	background: #f0f0f0;
}

div#form  h2 {
	color: #555;
	font-size: 1.2em;
	margin: 1em 0;
	text-align: left;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
}

div#form div#submit-feedback {
	
}

div#form div#submit-feedback span {
	color: #56493f;
	background-color: #fff3b7;
	background: -moz-linear-gradient(top, #fff3b7 0%, #ffe57c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3b7), color-stop(100%,#ffe57c));
	background: -webkit-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: -o-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: -ms-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #f9c075;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}

div#form div#submit-feedback span.invisible {
	display: none;
}

div#form div#submit-feedback a,
div#form div#submit-feedback a:visited {
	font-weight: bold;
	color: #56493f !important;
	text-decoration: underline;
}

div#form div#submit-feedback a:hover {
	border-bottom: 1px solid #56493f;
}

/* @end */

/* @group Form inputs */

div#form input,
div#form span.submit {
	display: inline-block;
	font-size: 15px !important;
}

div#form input,
div#form span.submit a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div#form input {
	line-height: 2em;
	padding-left: 6px;
	color: #6d7f90;
	background-color: #e6e9ed;
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	vertical-align: bottom;
}

div#form input.jq_watermark {
	line-height: 2em;
	padding-left: 6px;
	color: #6d7f90;
	background-color: #e6e9ed;
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.2);
	vertical-align: bottom;
}

input#CPHcontent_TXBpassword.textbox {
	font-size: 1.2em
}

div#form .info-label {
	color: #333;
	font-size: 0.9em;
}

div#form .info-text {
	color: #444;
	font-size: 0.9em;
	margin: 0.5em	 0;
}

div#form ul.info-text.Manuali li a {
	color: #09547e !important;
}

*+html div#form input.jq_watermark,
*+html div#form input.textbox {
	border: 1px solid #aaa;
	color: #2f3c4c;
}

div#form input:focus {
	color: #3b5679;
	background-color: #fff;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.5);
	outline: 0 !important;
}

div#form input.submit {	
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	border: 1px solid #006699;
	background-color: #006699;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006699),to(#336699));
	background-image: -webkit-linear-gradient(top, #006699, #336699);
	background-image: -moz-linear-gradient(top, #006699, #336699);
	background-image: -o-linear-gradient(top, #006699, #336699);
	background-image: -ms-linear-gradient(top, #006699, #336699);
	background-image: linear-gradient(top, #006699, #336699);
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 rgba(255,255,255,0.3);
}

div#form span.submit a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	border: 1px solid #832121;
	background-color: #db3b3a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ef4443),to(#c83332));
	background-image: -webkit-linear-gradient(top, #ef4443, #c83332);
	background-image: -moz-linear-gradient(top, #ef4443, #c83332);
	background-image: -o-linear-gradient(top, #ef4443, #c83332);
	background-image: -ms-linear-gradient(top, #ef4443, #c83332);
	background-image: linear-gradient(top, #ef4443, #c83332);
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 rgba(255,255,255,0.3);
}


div#form input.submit:hover,
div#form span.submit a:hover {
	border: 1px solid #832121;
	background: #c83332;
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 rgba(255,255,255,0.3);
}

div#form input.submit:active,
div#form span.submit a:active {
	background: #c83332;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	outline: 0 !important;
}

/* @group Alt version buttons */

div#form.auth-type input a {
	color: #fff;
}

div#form.auth-type div.box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.3);
}

div#form.auth-type div.box:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

*+html div#form.auth-type div.box {
	border: 1px solid #aaa;
	margin-bottom: 0;
}

* html div#form.auth-type div.box {
	border: 1px solid #aaa;
	margin-bottom: 0;
}

div#form.auth-type div.box {
	border: 1px solid #aaa\0/;
}

div#page-box div#container.page-width div#middle-content div#form.section div.box ul.info-text.Manuali li {

}

div#page-box div#container.page-width div#middle-content div#form.section div.box ul.info-text.Manuali li a {
	color: #cecece;
	text-transform: uppercase;	
}

div#page-box div#container.page-width div#middle-content div#form.section div.box ul.info-text.Manuali li a:hover {
	text-decoration: underline;
}

div#form.auth-type div.box ul,
div#form.auth-type div.box ol,
div#form.auth-type div.box dl,
div#form.auth-type div.box span {
	text-align: left;
}

div#form.auth-type div.box ul,
div#form.auth-type div.box dl {
	padding-left: 10px;
	margin-left: 0;
}

div#form.auth-type div.box li {
	padding-left: 1em;
	margin-bottom: 1em;
}

div#form.auth-type div.box dd {
	color: #888;
	margin: 0;
	margin-bottom: 1em;
	font-style: italic;
}


div#form .submit.alt a {
	background: #383838;
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 #555;
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555;
	cursor: pointer;
}

div#form span.submit.alt span {
	text-indent: -9999px !important;
	font-size: 0.01em |important;
	display: none;
}

div#form .submit.alt a:hover {
	background: #383838 url(./images/logo-myunitn.png) no-repeat right;
	border: 1px solid #565656;
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 #555,
		inset 0px 0 60px rgba(255,255,255,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555,
		inset 0px 0 60px rgba(255,255,255,0.05);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 0px 0 60px rgba(255,255,255,0.05);		
	outline: 0 !important;
}

div#form .submit.alt a:active {
	background: #383838 url(./images/logo-myunitn.png) no-repeat right;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	outline: 0 !important;
}

/* @end */

/* @end */

/* @group Info */

div#info {
	color: #666;
	text-align: center;
	background-color: transparent;
	padding: 24px 0 24px 0;
}

div#info fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-size: 0.9em;
	background-color: inherit;
	border: 1px solid #ccc;
	padding: 10px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	text-align: left;
}

div#info fieldset p,
div#info fieldset span {
	margin: 12px 0;
}

div#info legend {
	color: #666;
	background-color: inherit;
	font-weight: bold;
}

/* @end */

/* @group Footer */

#footer {
    /*padding: 1em 0;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    border-top: 1px solid #fff;
    background-color: #f0f0f0;*/
	
	font-size: 0.9em;
	line-height: 1.5em;
	color: #006699;
	border-top: none;
	background-image: none;
	background: none;
	background-color: #9AC2E3;
	
	min-height: 80px;
    padding-top: 20px;
	margin-top: 20px;
	
}

#footer div.footer_text {
	display: inline-block;
	
}

#footer div.Logos {
	padding-right: 25px;
}


#footer div.chiusura,
#footer div.chiusura div * {
    line-height: 1.5em;
    font-size: 12.8px !important;
}


/* @group #cFooter IE hacks */

* html #footer {
    background: #f0f0f0;
    background-image: none;
    background-repeat: repeat-x;
    background-position: 0 top;
    height: 150px;
}

*+html #footer {
    background: #f0f0f0;
    background-image: none;
    background-repeat: repeat-x;
    background-position: 0 top;
    height: 150px;
}

#footer {
    background-color: #f0f0f0\0/;
    background-image: none;
    background-repeat: repeat-x\0/;
    background-position: 0 top\0/;
    height: 150px\0/;
}

/* @end */

#footer a {
    color: #09547e;
    text-decoration: none;
}

#footer a:hover {
    color: #09547e;
    text-decoration: underline;
}

#footer b,
#footer strong {
	font-weight: bold;
}

div#footer div#siteinfo div.chiusura ul,
div#footer div#siteinfo div.chiusura ul li,
div#footer div#siteinfo div.chiusura ul li a,
div#footer div#siteinfo div.chiusura ul li a img {
	border: 0;
}


/* @end */


/* @group Varie */

a.temp {
	color: #666;
	float: right;
	margin: 0;
	margin-right: 12px;
	padding: 0;
	font-size: 0.8em;
	font-style: italic;
}

/* Assegnazione profilo */
/* Assegnazione profilo */

.description {   
    padding-top: 1em;
}
        
.half {
    width: 437px;
    height: 130px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding: 2em 5px 1em 5px;
    margin-bottom: 15px;
    text-align: justify;
}
    
.Cbx_Title {
    font-weight: bold;
    font-size: 13px;
    width: 340px !important;
    height: 34px;
    padding-left: 3em;
    display: inline-block;
}
        
.OldProfile {
    background-repeat: no-repeat;
    background-image:url("./Images/permessiutenti32.png");
}
            
.NewProfile {
    background-repeat: no-repeat;
    background-image:url("./Images/IsNew32.png");
}

.Cbx_Description {
    font-weight: normal;
    font-size: 11px;
    padding-left: 2.3em;
}
    
.MyUnitn {
    padding-left: 115px;
    height: 45px;
    display: block;
    background-repeat: no-repeat;
    background-image:url("./Images/logo-myunitn.png");
    
}

/* @end */

