.fieldobject .fieldrow {
	
}

.fieldobject .fieldrow .fieldlabel {
	width: 120px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

div.fieldobject div.fieldrow span.Titolo_Campo,
div.fieldobject div.fieldrow span.Titolo_campo,
div.fieldobject div.fieldrow label.Titolo_campo,
div.fieldobject div.fieldrow label.Titolo_Campo,
div.fieldfooter div.choseselect div.left label.fieldlabel, div.fieldfooter div.choseselect div.left span.fieldlabel
div.fieldfooter div.choseselect div.left label.fieldlabel, div.fieldobject div.fieldrow span.fieldlabel,
div.fieldobject div.fieldrow label.fieldlabel,
label.fieldlabel,
span.fieldlabel {
	color: #222;
	width: 95px;
	*width: 100px;
	width: 118px;
	*width: 123px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: inherit;
	margin-right: 5px;
	font-weight: normal;
}

div.fieldobject div.fieldrow span.Titolo_Campo,
div.fieldobject div.fieldrow span.Titolo_campo,
div.fieldobject div.fieldrow label.Titolo_campo,
div.fieldobject div.fieldrow label.Titolo_Campo,
div.fieldfooter div.choseselect div.left label.fieldlabel,
div.fieldfooter div.choseselect div.left span.fieldlabel,
div.fieldfooter div.choseselect div.left label.fieldlabel,
div.fieldobject div.fieldrow span.fieldlabel,
div.fieldobject div.fieldrow label.fieldlabel {
	width: 118px;
	*width: 123px;
	vertical-align: top;
}

table.doodleanswers thead {
	color: #888;
}

table.doodleanswers th.hour {
	
}

table.doodleanswers th.day {
	font-weight: bold;
}

table.doodleanswers tr.doodleanswer.currentuser {
	background: #d0dbeb;
}

table.doodleanswers tr.doodleanswer.currentuser td.user {
	font-weight: bold;
}

div.fielddescription span.fieldlabel {
	margin-left: 10px;
	width: 95px;
	*width: 100px;
}

.fieldobject.header {
	
}

.fieldobject.header .status {
	
}

.contentwrapper .column .rightcontent .fieldobject .fieldrow.long textarea,
.contentwrapper .column .rightcontent .fieldobject .fieldrow.long input.inputtext {
	width: 550px;
}

span.editable {
	display: inline-block;
	cursor: pointer;
}

span.editable.disabled {
	cursor: default;
}

span.editable.viewmode {
	display: inline-block;
	vertical-align: top;
}

td span.editable.viewmode {
	display: inline-block;
	vertical-align: top;
}

td.name span.editable {
	
}

span.editable.viewmode .view {
	display: inline-block;
	border-bottom: 1px dotted #657ea3;
	display: inline-block !important;
}

span.editable.viewmode.disabled .view {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border-bottom: 1px dotted transparent;
}

span.editable.viewmode .edit {
	display: none;
}

span.editable.editmode {
	
}

span.editable.editmode input {
	position: relative;
}

span.editable.editmode .view {
	display: none;
}

span.editable.editmode .edit {
	display: inline-block;
}

span.editable span.edit span.icon.cancel,
span.editable span.edit span.icon.ok {
	display: none;
}

table.table.doodleanswers th.day,
table.table.doodleanswers th.hour,
table.table.doodleanswers td.hour {
	text-align: center;
}

div.calendarwrapper div.datepicker .ui-datepicker {
	margin-left: auto;
	margin-right: auto;
}

div.calendarwrapper div.description.empty {
	text-align: center;
	margin: 2em 0;
	padding: 10px;
	font-size: 1.2em;
	background: #f5d9d7;
	border-radius: 4px;
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	color: #c20;
	border: 1px solid pink;
}

.doodleanswers th.user {
	
}

span.ui-icon {
	background-image: url(../../../Generics/Command/img/jqui_888888_256x240.png);
}

span.ui-icon.ui-icon-closethick {
	background-image: url(../../../Generics/Command/img/jqui_cd0a0a_256x240.png);
}

table.doodles th a,
table.doodles th span,
table.doodles td a,
table.doodles td span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}

table.doodles {
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

table.doodles th .ui-icon {
	
}

table.doodles td.date {
	font-weight: bold;
}

table.doodles th.actions {
	width: 30px;
	min-width: 30px;
}

table.doodles th.hour {
	min-width: 55px;
	font-weight: bold;
}

table.doodles td.hour {
	text-align: center;
}

table.doodles td.hour input {
	width: 95%;
	margin: 0;
}

div.datepicker {
	margin-bottom: 1em;
}

table.ui-datepicker-calendar tbody td.ui-state-active-date a {
	background: #F5DA81;
}

div.tablewrapper.horscroll {
	overflow: auto;
	overflow-y: hidden;
	margin: 2em 0;
}

div.fieldobject.doodleurl .fieldlabel {
	
}

div.fieldobject.doodleurl input {
	width: 550px;
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	color: #4f93ec;
	font-size: 1em;
}

.doodleurl .fieldlabel {
	margin: 0 !important;
}

.doodleurl div.fieldrow {
	margin: 0;
	margin-top: .5em;
}

div.fieldobject.doodleurl {
	margin: 1em 0 2em 0;
	border-radius: 4px;
	padding: 16px 4px;
	background: #ddd;
	border: 1px solid #ccc;
}

table.doodleanswers tr.otheruser td.hour span.icon {
	cursor: default;
}

table.doodleanswers td.hour.checked {
	background: #e3f1e2;
	/*temp*/ /*#D6F3D4*/
    background: #d6f3d4;
}

table.doodleanswers td.hour.notchecked {
	background: #f7e9e8;
	/*temp*/ /*F5D9D7*/
    background: #f5d9d7;
}

table.doodleanswers td.hour.notchecked span.icon {
	
}

table.table.minimal.doodleanswers th.hour.last,
table.table.minimal.doodleanswers td.hour.last {
	border-right: 1px solid #ccc;
}

table.table.minimal.doodleanswers th.hour.first,
table.table.minimal.doodleanswers td.hour.first {
	border-left: 1px solid #ccc;
}

table.doodleanswers tr.doodleanswer.stats td {
	border-top: 2px solid #ccc;
}

table.doodleanswers tr.doodleanswer.stats td {
	font-weight: bold;
}

table.doodleanswers tr.doodleanswer.stats td.leastselected {
	background: #f5d9d7;
}

table.doodleanswers tr.doodleanswer.stats td.bottomselected {
	
}

table.doodleanswers tr.doodleanswer.stats td.topselected {
	
}

table.doodleanswers tr.doodleanswer.stats td.mostselected {
	background: #d6f3d4;
}

table.table .extrainfo {
	display: block;
	font-style: italic;
	color: #888;
	font-size: .9em;
}

table.table.doodleslist th.actions {
	width: 80px;
}

table.table.doodleslist .actions {
	text-align: center;
}

div.tablewrapper.doodleanswers {
	margin: 2em 0;
}

table.table.doodleslist th.stats {
	width: 100px;
}

table.table.doodleslist th.status {
	width: 120px;
}

table.table.doodleslist th.status {
	width: 120px;
}

table.table.doodleslist th.created {
	width: 150px;
}

table.table.doodleslist.owned {
	margin-bottom: 1.5em;
}

.rightcontent .userselections li.urlgroup div.url {
	
}

.rightcontent .userselections li.urlgroup div.url span {
	background: #eee;
	padding: 3px;
	border-radius: 3px;
	color: #4f93ec;
}