

div.message
{

	width:90%;
	margin-left:2em;
	text-align:justify;	

}

div.message span.language
{	
	float:left;
	text-align:left;
	margin-bottom:0.5em;
	clear:right;
	font-weight:bold;
    font-size:large;

}

div.message span.messageBody
{	
	float:left;
	text-align:left;
	margin-bottom:0.5em;
	clear:left;
    
    padding-left:1em;
}

div.message span.messageTitle
{	
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:0.5em;
	clear:left;
	
    font-weight:bold;
    font-size:large;
	color:red!important;
}

div.footer
{
	width:80%;	
	margin-left:auto;
	margin-right:auto;
	margin-top:10em;

}
