

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('./Images/PTN77F-webfont.eot');
    src: url('./Images/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Images/PTN77F-webfont.woff') format('woff'),
         url('./Images/PTN77F-webfont.ttf') format('truetype'),
         url('./Images/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}