/* Edit Password */

div.Box80   {   float: left; width: 65% }
div.Box20   {   float: left; width: 34% }

span.Spacing2   {   padding-top: 2em; padding-bottom: 2em; display:inline-block; }
span.Spacing4   {   padding-top: 4em; padding-bottom: 4em; display:inline-block; }
        
div.EditPassword_DataBox label.Titolo_Campo 
    {   width: 200px; min-width: 200px; max-width: 200px; 
        display: inline-block; padding-bottom: 1em;}

div.EditPassword_DataBox    {   padding-top: 5em; padding-left: 5em;}

div.change_pwd div.Box80
{   display: block; padding: 1em; width: 60%; }

div.change_pwd div.Box20
{   display: block; padding: 0px 0.5em; width: 35%; float:right; }

div.change_pwd div.Box20 span
{   display: block; padding-bottom: 0.3em;}

div.change_pwd div.Box20 input
{    }