<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
	<connectionStrings>
		<!-- <add name="comol" connectionString="Data Source=192.168.222.216;Initial Catalog=test;User ID=sa;Password=lmadm1" providerName="System.Data.SqlClient" /> -->
		<!-- <add name="comol" connectionString="Data Source=89.190.189.232;Initial Catalog=Edutech;User ID=AdevicoSa;Password=ed_2015_gen_14" providerName="System.Data.SqlClient" /> -->
		<!--<add name="comol" connectionString="Data Source=PC-SVILUPPO01\SQLEXPRESS;Initial Catalog=ED-Test;User ID=Dev;Password=Dev" />-->

		<add name="comol" connectionString="Data Source=89.190.189.232;Initial Catalog=ED-Demo;User ID=AdevicoSa;Password=ed_2015_gen_14" />
	</connectionStrings>
	<dataConfiguration defaultDatabase="comol" />
	<appSettings>
	<add key="External" value="" />
	<add key="Internal" value="" />
	<add key="SuperUser" value="" />
			<!-- <add key="Admin" value="Data Source=192.168.222.216;Initial Catalog=test;User ID=sa;Password=lmadm1" /> -->
	<add key="Admin" value="Data Source=89.190.189.232;Initial Catalog=ED-Demo;User ID=AdevicoSa;Password=ed_2015_gen_14" />
	<!--<add key="Admin" value="Data Source=89.190.189.232;Initial Catalog=ED-Demo;User ID=AdevicoSa;Password=ed_2015_gen_14" />-->
	<!-- <add key="Admin" value="Data Source=89.190.189.232;Initial Catalog=Edutech;User ID=AdevicoSa;Password=ed_2015_gen_14" />  -->
	
	
	<add key="IcodeonFactory" value="Icodeon\Config_IcodeonConn_Eduth.config" />
	<add key="DefaultBaseFileRepository" value="E:\FileSviluppo\File" />
	</appSettings>
	<system.web>
	<compilation debug="true" targetFramework="4.0" />
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.serviceModel>
	<services>
		<service behaviorConfiguration="WCF_CoreServices.PermissionServiceBehavior" name="WCF_CoreServices.PermissionService">
		<endpoint address="" binding="wsHttpBinding" contract="WCF_CoreServices.IPermissionService">
			<identity>
			<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
		<service behaviorConfiguration="WCF_CoreServices.CommunityServiceBehavior" name="WCF_CoreServices.CommunityService">
		<endpoint address="" binding="wsHttpBinding" contract="WCF_CoreServices.ICommunityService">
			<identity>
			<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
		<service behaviorConfiguration="WCF_CoreServices.IServicePermissionBehavior" name="WCF_CoreServices.IServicePermission">
		<endpoint address="" binding="wsHttpBinding" contract="WCF_CoreServices.IIServicePermission">
			<identity>
			<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
		<service behaviorConfiguration="WCF_CoreServices.ServicePermissionBehavior" name="WCF_CoreServices.ServicePermission">
		<endpoint address="" binding="wsHttpBinding" contract="WCF_CoreServices.IServicePermission">
			<identity>
			<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
		<service behaviorConfiguration="WCF_CoreServices.ServiceCommunityBehavior" name="WCF_CoreServices.ServiceCommunity">
		<endpoint address="" binding="wsHttpBinding" contract="WCF_CoreServices.IServiceCommunity">
			<identity>
			<dns value="localhost" />
			</identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
	</services>
	<behaviors>
		<serviceBehaviors>
		<behavior name="WCF_CoreServices.PermissionServiceBehavior">
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="false" />
		</behavior>
		<behavior name="WCF_CoreServices.CommunityServiceBehavior">
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="false" />
		</behavior>
		<behavior name="WCF_CoreServices.IServicePermissionBehavior">
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="false" />
		</behavior>
		<behavior name="WCF_CoreServices.ServicePermissionBehavior">
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="false" />
		</behavior>
		<behavior name="WCF_CoreServices.ServiceCommunityBehavior">
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="false" />
		</behavior>
		</serviceBehaviors>
	</behaviors>
	<serviceHostingEnvironment />
	</system.serviceModel>
	<system.webServer>
	<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<system.diagnostics>
	<sources>
		<source name="System.ServiceModel"
				switchValue="Information, ActivityTracing"
				propagateActivity="true">
		<listeners>
			<add name="traceListener"
				type="System.Diagnostics.XmlWriterTraceListener"
				initializeData= "e:\WCF_permessi.svclog" />
		</listeners>
		</source>
	</sources>
	</system.diagnostics>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
		<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2015.2.729.40" newVersion="2015.2.729.40" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
		</dependentAssembly>
		<dependentAssembly>
		<assemblyIdentity name="SpreadsheetLight" publicKeyToken="32fbb46dc1730c57" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-3.4.4.0" newVersion="3.4.4.0" />
		</dependentAssembly>
	</assemblyBinding>
	</runtime>
</configuration>