<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsSnmtpSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Adevico.WebSNMTP/WsSnmtp.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsSnmtpSoap"
                contract="WsSnmtp.WsSnmtpSoap" name="WsSnmtpSoap" />
        </client>
    </system.serviceModel>
</configuration>