<?xml version="1.0" encoding="utf-8"?>
<EditorConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImageHandlerPath>~/Modules/Common/Editor/Handler.ashx</ImageHandlerPath>
  <DefaultCssFilesPath>Graphics/Modules/Editor/ContentArea/</DefaultCssFilesPath>
  <CssFiles>
    <EditorCssFile>
      <FileName>EditorContent_LA.css?v=201604071200lm</FileName>
    </EditorCssFile>
  </CssFiles>
  <DefaultFont>
    <Family>Arial</Family>
    <Size>2</Size>
    <Background>White</Background>
    <Color>Black</Color>
  </DefaultFont>
  <DefaultRealFont>
    <Family>Arial</Family>
    <Size>12px</Size>
    <Background>transparent</Background>
    <Color>Black</Color>
    <IsRealFontSize>true</IsRealFontSize>
  </DefaultRealFont>
  <FontNames>Lucida,Arial</FontNames>
  <FontSizes>1,2,3,4,5,6,7</FontSizes>
  <RealFontSizes>8px,9px,10px,11px,12px,13px,14px,16px,18px,20px,22px,24px,28px,36px,48px,72px</RealFontSizes>
  <AvailableSmartags>
    <SmartTag xsi:type="LatexSmartTag">
      <DisplayWidth>400</DisplayWidth>
      <DisplayHeight>200</DisplayHeight>
      <Name>latex</Name>
      <Tag>latex</Tag>
      <Html>&lt;a href="" onclick="javascript:return LatexPopup(this,'#RenderPopupUrl#');" class='latexhref' title='{0}'&gt;&lt;img class='lateximg' src='#RenderUrl#?{0}\dpi{#Dpi#} ' alt='{1}' title='{1}'/&gt;&lt;/a&gt;</Html>
      <NeedEncoding>false</NeedEncoding>
      <Image>images/Smarttags/Latex_2.gif</Image>
      <Dpi>160</Dpi>
      <RenderUrl>SmartTagsRender/LatexImage.aspx?</RenderUrl>
      <RenderPopupUrl>SmartTagsRender/LatexPopUp.aspx?</RenderPopupUrl>
    </SmartTag>
  </AvailableSmartags>
  <AvailableItemsToLink>
    <AdvancedLinkItem>
      <Tag>img</Tag>
      <Translations>
        <ItemTranslation>
          <IdLanguage>1</IdLanguage>
          <Name>Immagini</Name>
          <Description>Gestione immagini</Description>
          <Tooltip>Immagini</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>2</IdLanguage>
          <Name>Images</Name>
          <Description>Manage images</Description>
          <Tooltip>Images</Tooltip>
        </ItemTranslation>
      </Translations>
      <Availability>
        <ItemAvailability>
          <Url></Url>
          <AvailableFor>telerik</AvailableFor>
        </ItemAvailability>
      </Availability>
      <AsPopup>false</AsPopup>
    </AdvancedLinkItem>
    <AdvancedLinkItem>
      <Tag>emoticons</Tag>
      <Translations>
        <ItemTranslation>
          <IdLanguage>1</IdLanguage>
          <Name>Inserisci emoticons</Name>
          <Description>Inserisci emoticons</Description>
          <Tooltip>Inserisci emoticons</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>2</IdLanguage>
          <Name>Insert emoticons</Name>
          <Description>Insert emoticons</Description>
          <Tooltip>Insert emoticons</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>3</IdLanguage>
          <Name>Geben Sie die Ikone ein</Name>
          <Description>Klicken Sie auf das Symbol, um es im Text einzugeben</Description>
          <Tooltip>Geben Sie die Ikone ein</Tooltip>
        </ItemTranslation>
      </Translations>
      <Availability>
        <ItemAvailability>
          <Url>Modules/Common/Editor/Telerik/InsertEmoticonsTo.aspx</Url>
          <Script>Modules/Common/Editor/Telerik/Scripts/InsertEmoticonsScript.js</Script>
          <DialogWidth>400</DialogWidth>
          <DialogHeight>310</DialogHeight>
          <AvailableFor>telerik</AvailableFor>
        </ItemAvailability>
      </Availability>
      <AsPopup>false</AsPopup>
    </AdvancedLinkItem>
    <AdvancedLinkItem>
      <Tag>latex</Tag>
      <Translations>
        <ItemTranslation>
          <IdLanguage>1</IdLanguage>
          <Name>Inserisci formula LaTex</Name>
          <Description>Inserisci formula LaTex</Description>
          <Tooltip>Inserisci formula LaTex</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>2</IdLanguage>
          <Name>Insert LaTex</Name>
          <Description>Insert LaTex</Description>
          <Tooltip>Insert LaTex</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>3</IdLanguage>
          <Name>Geben Sie LaTex ein</Name>
          <Description>Schreiben Sie den im Text einzugebenden LaTex-String</Description>
          <Tooltip>Geben Sie LaTex ein</Tooltip>
        </ItemTranslation>
      </Translations>
      <Availability>
        <ItemAvailability>
          <Url>Modules/Common/Editor/Telerik/InsertLatex.aspx</Url>
          <Script>Modules/Common/Editor/Telerik/Scripts/InsertLatexScript.js</Script>
          <DialogWidth>550</DialogWidth>
          <DialogHeight>440</DialogHeight>
          <AvailableFor>telerik</AvailableFor>
        </ItemAvailability>
      </Availability>
      <AsPopup>false</AsPopup>
    </AdvancedLinkItem>
    <AdvancedLinkItem>
      <Tag>youtube</Tag>
      <Translations>
        <ItemTranslation>
          <IdLanguage>1</IdLanguage>
          <Name>Inserisci filmato da YouTube</Name>
          <Description>Inserisci filmato da YouTube</Description>
          <Tooltip>Inserisci filmato da YouTube</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>2</IdLanguage>
          <Name>Insert from Youtube</Name>
          <Description>Insert from Youtube</Description>
          <Tooltip>Insert from Youtube</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>3</IdLanguage>
          <Name>Geben Sie das YouTube-Video ein</Name>
          <Description>Schreiben Sie die im Text eigegebenden Adresse des Videos</Description>
          <Tooltip>Geben Sie das YouTube-Video ein</Tooltip>
        </ItemTranslation>
      </Translations>
      <Availability>
        <ItemAvailability>
          <Url>Modules/Common/Editor/Telerik/InsertYoutube.aspx</Url>
          <Script>Modules/Common/Editor/Telerik/Scripts/InsertYoutubeScript.js</Script>
          <DialogWidth>550</DialogWidth>
          <DialogHeight>500</DialogHeight>
          <AvailableFor>telerik</AvailableFor>
        </ItemAvailability>
      </Availability>
      <AsPopup>false</AsPopup>
    </AdvancedLinkItem>
    <AdvancedLinkItem>
      <Tag>wiki</Tag>
      <Translations>
        <ItemTranslation>
          <IdLanguage>1</IdLanguage>
          <Name>Inserisci wiki</Name>
          <Description>Inserisci collegamento a voce delle wiki</Description>
          <Tooltip>Inserisci collegamento a voce delle wiki</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>2</IdLanguage>
          <Name>Insert link to wiki</Name>
          <Description>Insert link to wiki</Description>
          <Tooltip>Insert link to wiki</Tooltip>
        </ItemTranslation>
        <ItemTranslation>
          <IdLanguage>3</IdLanguage>
          <Name>Geben Sie eine wiki-Verbindung ein</Name>
          <Description>Wählen Sie den im Text einzugebenden Link zum Wiki aus</Description>
          <Tooltip>Geben Sie eine wiki-Verbindung ein</Tooltip>
        </ItemTranslation>
      </Translations>
      <Availability>
        <ItemAvailability>
          <Url>Modules/Common/Editor/Telerik/InsertWiki.aspx</Url>
          <Script>Modules/Common/Editor/Telerik/Scripts/InsertWikiScript.js</Script>
          <DialogWidth>700</DialogWidth>
          <DialogHeight>450</DialogHeight>
          <AvailableFor>telerik</AvailableFor>
        </ItemAvailability>
      </Availability>
      <AsPopup>false</AsPopup>
    </AdvancedLinkItem>
  </AvailableItemsToLink>
  <AvailableToolbars>
    <EditorToolbar>
      <EditorType>telerik</EditorType>
      <ToolbarType>none</ToolbarType>
      <Url>Telerik/noneToolbar.xml</Url>
      <LocalPath>percorso fisico</LocalPath>
    </EditorToolbar>
    <EditorToolbar>
      <EditorType>telerik</EditorType>
      <ToolbarType>lite</ToolbarType>
      <Url>Telerik/liteToolbar.xml</Url>
      <LocalPath>percorso fisico</LocalPath>
    </EditorToolbar>
    <EditorToolbar>
      <EditorType>telerik</EditorType>
      <ToolbarType>simple</ToolbarType>
      <Url>Telerik/simpleToolbar.xml</Url>
      <LocalPath>percorso fisico</LocalPath>
    </EditorToolbar>
    <EditorToolbar>
      <EditorType>telerik</EditorType>
      <ToolbarType>advanced</ToolbarType>
      <Url>Telerik/advancedToolbar.xml</Url>
      <LocalPath>percorso fisico</LocalPath>
    </EditorToolbar>
    <EditorToolbar>
      <EditorType>telerik</EditorType>
      <ToolbarType>full</ToolbarType>
      <Url>Telerik/fullToolbar.xml</Url>
      <LocalPath>percorso fisico</LocalPath>
    </EditorToolbar>
  </AvailableToolbars>
  <DefaultEditor>
    <EnabledTags>img,latex,youtube,emoticons</EnabledTags>
    <DisabledTags></DisabledTags>
    <Width>860px</Width>
    <Height>350px</Height>
    <AutoResizeHeight>notallowed</AutoResizeHeight>
    <SetDefaultFont>allow</SetDefaultFont>
    <FontNames>Verdana,Arial,Tahoma,Palatino Linotype</FontNames>
    <FontSizes>1,2,3,4,5,6,7</FontSizes>
    <RealFontSizes>8px,9px,10px,11px,12px,13px,14px,16px,18px,20px,22px,24px,28px,36px</RealFontSizes>
    <ToolbarType>advanced</ToolbarType>
    <EditorType>telerik</EditorType>
    <Name>Telerik</Name>
    <Description>Editor casa Telerik</Description>
    <ToolsPath>Telerik/</ToolsPath>
  </DefaultEditor>
  <Settings>
    <EditorSettings>
      <SetDefaultFont>allow</SetDefaultFont>
      <EnabledTags>img,latex,youtube,emoticons</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>860px</Width>
      <Height>350px</Height>
      <AutoResizeHeight>allow</AutoResizeHeight>
      <FontNames>Verdana,Arial,Tahoma,Palatino Linotype</FontNames>
      <FontSizes>1,2,3,4,5,6,7</FontSizes>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <Name>Telerik</Name>
      <Description>Editor casa Telerik</Description>
      <ToolsPath>Telerik/</ToolsPath>
    </EditorSettings>
  </Settings>
  <ModuleSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,latex,youtube</EnabledTags>
      <DisabledTags>emoticons</DisabledTags>
      <Width>100%</Width>
      <Height>350px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial</FontNames>
      <FontSizes>2</FontSizes>
      <ToolbarType>simple</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>false</AllowMultipleFontFamily>
      <AllowMultipleFontSize>false</AllowMultipleFontSize>
      <ModuleCode>SRVQUST</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>890px</Width>
      <Height>500px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <FontSizes>1,2,3,4,5</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px,18px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>false</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVEDUP</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>750px</Width>
      <Height>400px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <FontSizes>2,3,4,5</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>simple</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVFORUM</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>200px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <FontSizes>2,3,4,5</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVTASK</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,latex,youtube</EnabledTags>
      <DisabledTags>emoticons</DisabledTags>
      <Width>100%</Width>
      <Height>180px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida,Verdana,Tahoma</FontNames>
      <FontSizes>2,3,4,5</FontSizes>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVCFP</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,latex,youtube</EnabledTags>
      <DisabledTags>emoticons</DisabledTags>
      <Width>100%</Width>
      <Height>180px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida,Verdana,Tahoma</FontNames>
      <FontSizes>2,3,4,5</FontSizes>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVRFM</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags></EnabledTags>
      <DisabledTags>img,emoticons,latex,youtube</DisabledTags>
      <Width>100%</Width>
      <Height>180px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida,Verdana,Tahoma</FontNames>
      <RealFontSizes>10px,12px,14px,16px,18px,20px,22px,24px,26px,28px,30px,32px,34px,36px,38px,40px,42px,44px,72px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <AllowHtmlEdit>true</AllowHtmlEdit>
      <AllowedHtmlEditProfileTypes>
        <int>19</int>
        <int>7</int>
      </AllowedHtmlEditProfileTypes>
      <ModuleCode>SRVskins</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>400px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <FontSizes>1,2,3,4,5,6,7</FontSizes>
      <RealFontSizes>10px,12px,13px,14px,16px,18px,20px,22px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <AllowHtmlEdit>true</AllowHtmlEdit>
      <AllowedHtmlEditProfileTypes>
        <int>19</int>
        <int>7</int>
      </AllowedHtmlEditProfileTypes>
      <ModuleCode>SRVBACH</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>400px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida,Verdana,Tahoma</FontNames>
      <FontSizes>1,2,3,4,5,6,7</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px,18px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVlez</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags></EnabledTags>
      <DisabledTags>img,emoticons,latex,youtube</DisabledTags>
      <Width>100%</Width>
      <Height>200px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <DefaultRealFont>
        <Family>Arial</Family>
        <Size>12px</Size>
        <Background>transparent</Background>
        <Color>Black</Color>
        <IsRealFontSize>true</IsRealFontSize>
      </DefaultRealFont>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Courier,Helvetica,Lucida,Verdana,Tahoma,Times</FontNames>
      <RealFontSizes>10px,12px,14px,16px,18px,20px,22px,24px,26px,28px,30px,32px,34px,36px,38px,40px,42px,44px,72px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <AllowHtmlEdit>true</AllowHtmlEdit>
      <AllowedHtmlEditProfileTypes>
        <int>7</int>
      </AllowedHtmlEditProfileTypes>
      <ModuleCode>SRVDOCT</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube,wiki</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>450px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <FontSizes>2,3,4,5</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px,18px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVwiki</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,youtube</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>450px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Helvetica,Lucida,Palatino Linotype,Verdana,Tahoma</FontNames>
      <FontSizes>1,2,3</FontSizes>
      <RealFontSizes>10px,11px,12px,13px,14px,16px,18px,20px,22px,24px,26px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVwiki-section</ModuleCode>
    </ModuleEditorSettings>
    <ModuleEditorSettings>
      <EnabledTags>img,emoticons,latex,youtube,wiki</EnabledTags>
      <DisabledTags></DisabledTags>
      <Width>100%</Width>
      <Height>450px</Height>
      <AutoResizeHeight>notallowed</AutoResizeHeight>
      <SetDefaultFont>allow</SetDefaultFont>
      <FontNames>Arial,Lucida</FontNames>
      <RealFontSizes>10px,11px,12px,13px,14px,16px,18px</RealFontSizes>
      <UseRealFontSize>true</UseRealFontSize>
      <FontSizes>1,2,3</FontSizes>
      <ToolbarType>advanced</ToolbarType>
      <EditorType>telerik</EditorType>
      <AllowOvveride>true</AllowOvveride>
      <AllowMultipleFontFamily>true</AllowMultipleFontFamily>
      <AllowMultipleFontSize>true</AllowMultipleFontSize>
      <ModuleCode>SRVGLS</ModuleCode>
    </ModuleEditorSettings>
  </ModuleSettings>
  <FontSizeSettings>
    <FontSettings>
      <Value>1</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>1 (8 pt)</DisplayName>
          <DisplaySize>8pt</DisplaySize>
          <Size>8</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>1 (11 px)</DisplayName>
          <DisplaySize>11px</DisplaySize>
          <Size>11</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>2</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>2 (10 pt)</DisplayName>
          <DisplaySize>10pt</DisplaySize>
          <Size>10</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>2 (13 px)</DisplayName>
          <DisplaySize>13px</DisplaySize>
          <Size>13</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>3</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>3 (12 pt)</DisplayName>
          <DisplaySize>12pt</DisplaySize>
          <Size>12</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>3 (15 px)</DisplayName>
          <DisplaySize>16px</DisplaySize>
          <Size>16</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>4</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>4 (14 pt)</DisplayName>
          <DisplaySize>14pt</DisplaySize>
          <Size>14</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>4 (19 px)</DisplayName>
          <DisplaySize>19px</DisplaySize>
          <Size>19</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>5</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>5 (18 pt)</DisplayName>
          <DisplaySize>18pt</DisplaySize>
          <Size>18</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>5 (24 px)</DisplayName>
          <DisplaySize>24px</DisplaySize>
          <Size>24</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>6</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>6 (24 pt)</DisplayName>
          <DisplaySize>24pt</DisplaySize>
          <Size>24</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>6 (32 px)</DisplayName>
          <DisplaySize>32px</DisplaySize>
          <Size>32</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
    <FontSettings>
      <Value>7</Value>
      <RenderSize>
        <FontSize>
          <DisplayName>7 (36 pt)</DisplayName>
          <DisplaySize>36pt</DisplaySize>
          <Size>36</Size>
          <Type>point</Type>
        </FontSize>
        <FontSize>
          <DisplayName>7 (48 px)</DisplayName>
          <DisplaySize>48px</DisplaySize>
          <Size>48</Size>
          <Type>pixel</Type>
        </FontSize>
      </RenderSize>
    </FontSettings>
  </FontSizeSettings>
</EditorConfiguration>