<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.2.729.40" newVersion="2015.2.729.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SpreadsheetLight" publicKeyToken="32fbb46dc1730c57" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.4.0" newVersion="3.4.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>