<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
      <session-factory>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
            <!--MsSql2008Dialect-->
            <!-- <property name="connection.connection_string">Data Source=192.168.222.196;Initial Catalog=COMOL_IN_LINEA;User ID=legge6;Password=03082009-adm_usr</property>-->
            <property name="connection.connection_string">Data Source=#IP_SCORM_SERVER#;Initial Catalog=test;User ID=legge6;Password=lmadm1</property>
            <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
            <mapping assembly="lm.Comol.Core.DomainModel"/>
            <mapping assembly="lm.Comol.Modules.Base"/>
      </session-factory>
</hibernate-configuration>
