<?xml version="1.0" encoding="utf-8"?>
<SmartagConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AvailableSmartags>
    <SmartTag xsi:type="LatexSmartTag">
      <DisplayWidth>400</DisplayWidth>
      <DisplayHeight>200</DisplayHeight>
      <Name>latex</Name>
      <Tag>latex</Tag>
      <Html>&lt;a href="" onclick="javascript:return LatexPopup(this,'#RenderPopupUrl#');" class='latexhref' title='{0}'&gt;&lt;img class='lateximg' src='#RenderUrl#?{0}\dpi{#Dpi#} ' alt='{1}' title='{1}'/&gt;&lt;/a&gt;</Html>
      <NeedEncoding>false</NeedEncoding>
      <Image>images/Smarttags/Latex_2.gif</Image>
      <Dpi>160</Dpi>
      <RenderUrl>SmartTagsRender/LatexImage.aspx?</RenderUrl>
      <RenderPopupUrl>SmartTagsRender/LatexPopUp.aspx?</RenderPopupUrl>
    </SmartTag>
  </AvailableSmartags>
</SmartagConfiguration>