.headerGridview{
    background-color: #00008c;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    height: 1.4em;
    font-size: x-small;
    border-bottom: 1px #333333 solid;
}

.celleGridview{background-color: #ffffff; color: #333333;}

.gridview{border-bottom: 1px #333333 solid; border-right: 1px #333333 solid; border-left: 1px #333333 solid;}
    
.elemento{border-right: 1px #333333 solid;}

.padding{padding-left: 5px;}
.center{text-align: center;}
