/* menu normale */
.bottone{
    height: 2em;
    line-height: 20px;
    display: table-cell;
    float: left;
    border-top: 1px #ffffff solid;
    border-bottom:  1px #ffffff solid;
    border-right:  1px #ffffff solid;
    clear: right;
}
    
.bottone1:hover{
    background-color: #333333;
}    

.bottone1{
    background-color: #000080;
    border-bottom: 1px #ffffff solid;
}

.bottone2:hover{
    background-color: #666666;
}

.bottone2{
    background-color: #cc6600;
    border-bottom: 1px #ffffff solid;
}

/* menu espanso */
.bottoneH{
    background-color: #666666;
    border-bottom: 1px #666666 solid;
}

.abottone{
    color: #ffffff;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
}

.sottoBottone{
    width: 900px;
    background-color: #666666;
    display: block;
    color: #ffffff;
}

.contenutoFiltro{
    width: 880px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    text-align: left;
}

.divFiltri{
    width: 100%;
    
    background-color: #FFFFFF;
    color: #333333;
    border-top: 1px #666666 solid;
    border-bottom: 1px #666666 solid;
}

.spanFiltri
{
    line-height: 3em;
}

.FRRiga{
    height: 26px;
    line-height: 26px;
    width: 900px;
}

.FRIntestazione1{
    float: left;
    padding-left: 10px;
    width: 590px;
    text-align: left;
    border-bottom: 1px dotted #ffffff;
    font-weight: bold;
}

.FRIntestazione2{
    float: left;
    padding-left: 10px;
    width: 239px;
    border-left: 1px #ffffff dotted;
    text-align: left;
    border-bottom: 1px dotted #ffffff;
    font-weight: bold;
}

.FRIntestazione3{
    float: left;
    width: 50px;
    text-align: center;
    border-bottom: 1px dotted #ffffff;  
}

.FRColonna1{
    float: left;
    padding-left: 10px;
    width: 590px;
    text-align: left;
}

.FRColonna2{
    float: left;
    padding-left: 10px;
    width: 239px;
    border-left: 1px #ffffff dotted;
    text-align: left;
}

.FRColonna3{
    float: left;
    width: 50px;
    text-align: center;
}

.AggiornaRisultati{
    float: left;
    margin-left: 10px;
}

.ApplicaFiltri{
    float: right;
    margin-right: 4px;
}


