/* PARTE SOPRA: PAGING E CERCA VELOCE */

.parteSopra{
    height: 4em;
    width: 900px;
    min-width: 800px;
}

/* PAGING SOPRA */
.pagingSopra{
    margin-top: 2.1em;
    float: left;     
    color: #333333;
    line-height: 1.8em;
    padding-left: 1em;
    height: 1.8em;
    background-color: #ffffff;
    border-top: 1px #333333 solid;
}

.sfondoPagingSopra{
    margin-top: 2.1em;
    float: left;     
    color: #ffffff;
    height: 1.9em;
    background-image: url('../img/sfondoPagingSopra.gif');
    background-repeat: no-repeat;
    line-height: 1.8em;
    padding-left: 1em;
}

/* CERCA VELOCE */
.cercaVeloce{
    margin-top: 0.1em;
    color: #ffffff;
    float: right;
    height: 3.8em;
    background-color: #000080;
    border-top: 1px #999999 solid;
    border-right: 1px #999999 solid;
    line-height: 1.8em;
    padding-right: 1em;
    padding-left: 1em;
}

.sfondoCercaVeloce{
    margin-top: 0.1em;
    color: #ffffff;
    float: right;
    height: 3.9em;
    background-image: url('../img/sfondoCercaVeloce.gif');
    background-repeat: no-repeat;
    background-position: right top;
    line-height: 1.8em;
    padding-right: 1em;
}


/* PARTE SOTTO: NUM PAGINE E PAGING SEMPLICE */

.parteSotto{
    height: 4em;
    width: 900px;
    min-width: 800px;
}

/* NUM PAGINE */
.numPagineSotto{
    margin-top: 0em;
    color: #ffffff;
    float: left;
    height: 2em;
    background-color: #000080;
    border-bottom: 1px #999999 solid;
    border-left: 1px #999999 solid;
    line-height: 2em;
    padding-right: 0.4em;
    padding-left: 1em;
}

.sfondoNumPagineSotto{
    margin-top: 0em;
    color: #ffffff;
    float: left;
    height: 2.1em;
    background-image: url('../img/sfondoNumPagine.gif');
    background-repeat: no-repeat;
    background-position: bottom;
    line-height: 2em;
    padding-right: 1em;
}

/* PAGING SOTTO */
.pagingSotto{
    margin-top: 0em;
    color: #333333;
    float: right;
    height: 2em;
    background-color: #ffffff;
    border-bottom: 1px #333333 solid;
    border-right: 1px #333333 solid;
    line-height: 2em;
    padding-right: 1em;
    padding-left: 0.2em;
}

.sfondoPagingSotto{
    margin-top: 0em;
    color: #ffffff;
    float: right;
    height: 2.1em;
    background-image: url('../img/sfondoPagingSotto.gif');
    background-repeat: no-repeat;
    background-position: bottom;
    line-height: 1.8em;
    padding-right: 1em;
}

/* LEGENDA */
.legenda{
    height: 2em;
    line-height: 2em;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #000080;
    border-bottom: 1px #ffffff solid;
}

/* FUNZIONI GENERALI */

.selected{
    padding-left: 0.1em;
    padding-right: 0.1em;
    background-color: #ffffff;
    color: #333333;
}

