/* background */

body, form, p, input, label, table {
	margin: 0; padding:0; border:0;
}

body 
{
	background: #ffffff url(bg-header.png) repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#footer {
	background: url(bg-footer.png) repeat-x;
	height: 80px;	
}

.container {
	margin: 0 auto;
	width: 970px;
	overflow: hidden;
	position: relative;
}

#header .container {
	background: url(header.png) no-repeat center top;	
	background-position:top;
	height: 376px;
}


#footer {
	margin:0; padding: 0;
	background-color: #dfdfdf;
}
	#footer .container {
		padding: 10px 0;
	}
	
	#footer .container .centered {
		padding:0; margin: 0;
	}

#content .container {
	background: url(content.png) no-repeat center top;
	height: 195px;
}

/* colonne */

.left {
	float: left;
	width: 485px;
}
.right {
	float: right;
	width: 485px;
}

/* content */


#content {
	font-size: 12px;
}

#content li {
	list-style-image:url(list.png);
}

#content h2 {
	margin-top: 20px;
	color: #666;
	text-transform:uppercase;
	font-size:14px;
}

#content a {
	color: black;
	text-decoration:underline;
}

#content a:hover {
	color: red;
}

#content .right h2, #content .right p {
	margin-left: 25px;
} 

#footer .centered {
	text-align:center;
	margin-top:48px;
	font-size:11px;
}

/* header */ 

#pseudoForm  {
	padding-top: 200px;
	/*margin-top:200px;*/
}

#header table {
	border-collapse:collapse;
	width: 485px;
	text-align: right;
}

#header table td {
	padding-bottom:10px;
}
#header table td.inp {
	width: 285px;
}


#header input {
	height: 36px;
	width: 285px; 
	font-size:20px;
}

#header table input {
	background: white;	
	padding: 5px 10px 5px 10px;
	height: 26px;	
	border:1px solid #3b5679;
}


#header p.submit {
	padding-top: 48px;
}

#header span {
	color: white;
	font-weight:100;
	font-size:16px;
	margin-right:10px;
}

#UC_Login_TXBEmail {
	border: 1px solid #65203f;
	width: 100px; 
	font-size:20px;
	background-color: #c198ad;
	padding: 0 10px 0 10px;
	height:15px;
}

#UC_Login_BTNPwdDimenticata, #UC_Login_BTNGoLogin, #UC_Login_BTNRiprova {
	width: 50px;
	border: 1px solid black;
	color: white;
	background-color: #65203f;
}

div.DIV_Disclamer { display: none; }
/*#header div.DIV_Disclamer
{   display: block; clear: both; font-size: small; 
    text-align: center; padding-left: 150px;}
    
#header div.DIV_Disclamer span
{  color: #000 ; background-color: #c7c7c7; display: block; 
   width: 600px; font-size: small; text-align: justify; padding: 1em;
   }
   
#header div.DIV_Disclamer span b
{ font-weight: bold; }

#header div#UC_Login_PNLnoAccess
{ display: none; }*/