<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SNMTP.AuthPwd" value=""/>
    <add key="SNMTP.PrivPwd" value=""/>
    <add key="SNMTP.ComName" value="public"/>
    <add key="SNMTP.ReceiverIp" value="127.0.0.1"/>
    <add key="SNMTP.Version" value="V2"/>
    <add key="SNMTP.ReceiverPort" value="164"/>

    <add key="SNMTP.Encoding" value="ASCII"/>
    <!--
    UTF7          Ok
    UTF8          Ok
    UTF32         K.O.
    ASCII         Ok
    Unicode       K.O.
    BigEndianUnicode  K.O.
    Default       OK?        iso-8859-1  |  Western European (Windows)   |  Windows-1252        By system: meglio evitare
    -->
    <add key="SNMTP.LoggedInfo.DefaultTrapId" value="1.3.6"/> <!--.1.3.6.1.2.1.1.5.0"/>-->
    <add key="SNMTP.Object.uId.Format" value="{0}.{1}"/>
    <add key="SNMTP.Object.uId.Default" value="1"/>
    
    <!--
    ActionFormat
    0	DateTime
    1	System
    2	Progressivo
    3 eventid
    4 UserData
    5	ActionData
    -->
    <add key="SNMTP.LoggedInfo.MessageFormat" value="{0} {1} BG: 6198: 01: 01: eventid={3}, User={4}, Action={5}"/>
    
    <add key="SNMTP.LoggedInfo.DateTimeFormat" value=""/>
  
    <!--Sistema di invio-->
    <add key="SNMTP.LoggedInfo.System" value="127.0.0.1"/>
  
    <add key="SNMTP.LoggedInfo.UserData" value="{1}, Login={3}, IP={6}, ProxyIp={7}"/>
    <!--
     UserData  {3}
        0   Id
        1	mail
        2	codice fiscale
        3	login
        4	nome
        5	cognome
        6 Ip
        7 ProxyIp
    -->
    <add key="SNMTP.LoggedInfo.ActionData" value="{2}, ActionType={3}, ModuleId={0}, ModuleCode={1}, ObjectType={7}, ObjectId={8}, ObjectIdActionInfo={9}"/>
    <!--

        ActionData  {4}
            0	ModuleId
            1	ModuleCode
            2 ActionCodeId
            3	ActionTypeId
            4	CommunityId
            5	CommunityIsFederated
            6	InteractionType
            7	ObjectType
            8	ObjectId
            9   SuccessInfo
            10  GenericInfo
            */
    -->
    
  </appSettings>
  
  
  
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>