div#toolbar { display: none !important; }
div.reply  {display: none !important; }
.linkMenu {display:none !important; }
.actions  {display:none !important; }

#header  { border-bottom: 1px solid #ccc !important;}