<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="COL_BusinessLogic_v2.My.MySettings.StatisticheConnectionString" connectionString="Data Source=DOMAINGALAXY;Initial Catalog=Statistiche;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="COL_BusinessLogic_v2.My.MySettings.testConnectionString" connectionString="Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="testEntities" connectionString="metadata=res://*/Entity.DAL.EntityFramework.LibrettoElettronico.csdl|res://*/Entity.DAL.EntityFramework.LibrettoElettronico.ssdl|res://*/Entity.DAL.EntityFramework.LibrettoElettronico.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TestTemporaneo" connectionString="metadata=res://*/Entity.DAL.EntityFramework.Model1.csdl|res://*/Entity.DAL.EntityFramework.Model1.ssdl|res://*/Entity.DAL.EntityFramework.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityLibrettoContainer" connectionString="metadata=res://*/Entity.DAL.EntityFramework.LibrettoElettronico.csdl|res://*/Entity.DAL.EntityFramework.LibrettoElettronico.ssdl|res://*/Entity.DAL.EntityFramework.LibrettoElettronico.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="LibrettoConnectionString" connectionString="metadata=res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.csdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.ssdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="testEntities1" connectionString="metadata=res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.csdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.ssdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="testEntities2" connectionString="metadata=res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.csdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.ssdl|res://*/Entity.DAL.EntityFramework.EntityLibrettoElettronico.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DOMAINGALAXY;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="testLibretto" connectionString="metadata=res://*/Entity.DAL.EntityFramework.LibrettoEntityFrameWork.csdl|res://*/Entity.DAL.EntityFramework.LibrettoEntityFrameWork.ssdl|res://*/Entity.DAL.EntityFramework.LibrettoEntityFrameWork.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=domaingalaxy;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MyDiaryEntityFramework" connectionString="metadata=res://*/Entity.DAL.EntityFramework.MyDiaryEntityFramework.csdl|res://*/Entity.DAL.EntityFramework.MyDiaryEntityFramework.ssdl|res://*/Entity.DAL.EntityFramework.MyDiaryEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=domaingalaxy;Initial Catalog=test;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="COL_BusinessLogic_v2.My.MySettings.testConnectionString1" connectionString="Data Source=domaingalaxy;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
