body
{
    background-color: white;
    /*font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif;
    font-size: 12px;*/
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    word-spacing: normal;
}
.datacontent 
{
    padding: 10px;    

}
#datacontainer
{            
    position:absolute;
    left:0;
    top:10;
    width:100%;
}