div.printonly
{
    display: none;
}


/*body,html,h2,p
{
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    color:#333;
    line-height: 1.5em;
}*/

html
{
    overflow: hidden;
}
html:hover
{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
/*p+p
{
    margin-top: 0.5em;
}*/


body
{
    background-color: white;
    /*font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif;
    font-size: 12px;*/
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    word-spacing: normal;
}/*
.datacontent 
{
    padding: 10px;    

}
#datacontainer
{            
    position:absolute;
    left:0;
    top:10;
    width:100%;
}*/