/* @override
	http://comunitaonline.unitn.it/Skins/3/Main.css
	http://www.comunitaonline.unitn.it/Skins/3/Main.css */


/* ---- Skin Unitn Updated 13.11.2013 ---- */
/* ---- mainnav admin i-cog link / rows 836-856 ---- */

/* @group  page elements */

body.internal_body {
	word-wrap: break-word;
	/*text-rendering: optimizeLegibility;*/
	background: #e5e5e5 !important;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#page-box,
#aspnetForm.mainForm {
	background-color: #e5e5e5;
	margin: 0;
}

#content {
	min-height: 300px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 1em;
}

#container {
	padding-top: 12px;
	background-color: #fff;
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	border: 1px solid #ccc;
	border-top: none;
	z-index: 1;
	*padding-left:0; /* sovrascrive COL_Reset*/
}

/* @group #container Webkit + IE hacks */

* html #container {
	border: 1px solid #bbb;
	border-top: none;
	border-bottom: 2px solid #bbb;
	top: 0;
}

#container {
	border: 1px solid #bbb\9;
	border-top: none\9;
}

::selection {background: #c7d0da;}
::-moz-selection {background: #c7d0da;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

/* @end */

/* @end */

/* @group Toolbar, Notifications */

#header #toolbar {
	margin: 0 !important;
	padding: 2px 0 0 0 !important;
	background-color: #3b5679;
	color: #eee;
	font-size: 0.95em;
	line-height: 1.7em;
	min-height: 24px;
	vertical-align: middle !important;
	border: none;
	-moz-box-shadow: 	inset 0 -1px 0 rgba(255, 255, 255, 0.200);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.200);
	box-shadow: 		inset 0 -1px 0 rgba(255, 255, 255, 0.200);
}

#toolbar a {
	color: #fff;
}

#toolbar a:hover {
	text-decoration: underline;
}

#toolbar ul li a.menu:hover,
#toolbar ul li a.status:hover,
#toolbar ul li li a:hover {
	text-decoration: none;
}

#toolbar ul li#greetings {
	color: #a0acbe;
	padding-right: 15px;
}

#toolbar ul li {
	background-color: #3b5679;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2px;
	padding-bottom: 1px;
	color: #a0acbe;
}

#toolbar #tools ul li a {
	margin-left: 5px;
	margin-right: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

#toolbar #tools li#Top_Home {
	background: #58799d;
	margin-right: 15px;
	margin-top: 1px;
	line-height: 15px;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	-moz-box-shadow: inset 0 0 1px #3b5679;
	-webkit-box-shadow: inset 0 0 13px #3b5679;
	box-shadow: inset 0 0 2px #3b5679;
}

#toolbar #tools li#Top_Home a,
#toolbar #tools li#Top_Home a.home {
	background: transparent url(./Images/Toolbar-icons-sprite.png) 3px top no-repeat !important;
	margin: 0;
	padding: 1px 5px 0 22px;
	text-shadow: 0 1px 0px #3b5679;
}

#toolbar #tools li#Top_Tools a,
#toolbar #tools li#Top_Lang a {
	margin-right: 13px;
	cursor: default;
}

#toolbar #tools li#Top_Tools .sub li a,
#toolbar #tools li#Top_Lang .sub li a {
	cursor: pointer;
}

#toolbar #tools li.expanded#Top_Tools a,
#toolbar #tools li.expanded#Top_Lang a,
#toolbar #notifications ul li.expanded#memo a,
#toolbar #notifications ul li.expanded#chat a {
	color: #a0acbe;
}

#toolbar #tools li.expanded#Top_Tools .sub a,
#toolbar #tools li.expanded#Top_Lang .sub a,
#toolbar #notifications ul li.expanded#memo .sub a,
#toolbar #notifications ul li.expanded#chat .sub a {
	color: #fff;
}

#toolbar #tools ul li ul.sub,
#toolbar #notifications ul li .sub {
	background-color: #3b5679;
	border-top: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 4px;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
}

#toolbar #tools ul li ul.sub {
	top: 22px;
	left: -2px;
}

#toolbar #tools ul.sub li a,
#toolbar #notifications ul.sub li a {
	margin: 0 !important;
	padding: 3px 3px 3px 7px;
}

#toolbar #notifications ul li ul.sub {
	top: 18px;
}

#toolbar #tools ul li li a:hover,
#toolbar #notifications ul li ul.sub li a:hover {
	color: #fff;
	background-color: #ae0000;
	background: -moz-linear-gradient(top, #ae0000 0%, #8a0004 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae0000), color-stop(100%,#8a0004));
	background: -webkit-linear-gradient(top, #ae0000 0%,#8a0004 100%);
	background: -o-linear-gradient(top, #ae0000 0%,#8a0004 100%);
	background: -ms-linear-gradient(top, #ae0000 0%,#8a0004 100%);
	background: linear-gradient(top, #ae0000 0%,#8a0004 100%);
}

/* @group #toolbar ul li li a:hover IE hacks */

* html #toolbar #tools ul li li a:hover,
* html #toolbar #notifications ul li ul.sub li a:hover {
	background-color: #ae0000;
}

#toolbar #tools ul li li a:hover,
#toolbar #notifications ul li ul.sub li a:hover  {
	background-color: #ae0000\9;
}

/* @end */

#toolbar #chat ul.sub li a:hover {
	background-color: #ae0000 !important;
	background: #ae0000 url(./Images/i-status-offline.png) no-repeat 0 center;
}

#toolbar #notifications ul li#memo a,
#toolbar #notifications ul li#chat {
	cursor: default;
}

#toolbar #notifications ul li#memo .sub a,
#toolbar #notifications ul li#chat .sub a {
	cursor: pointer;
}

#toolbar #notifications ul li {
	line-height: 1.4em;
}

#toolbar #memo ul.sub {
	text-align: left;
}

#toolbar #notifications ul {
	padding-top: 2px;
}

#toolbar #notifications ul li span {
	background-color: #d4160e;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 140%;
	margin: 0 0 1px 4px;
	padding: 0 4px !mportant;
	text-align: center;
}

/* @group #toolbar icons */

#toolbar #tools li a.menu {
	background-image: url(./Images/i-triangle-sprite.png);
	background-position: right -172px;
	padding-right: 15px
}

#toolbar #tools li.expanded a.menu {
	background-position: right -54px;
}

#toolbar #chat a.status {
	background-image: url(./Images/i-status-offline.png);
}

#toolbar #chat.online a.status {
	background-image: url(./Images/i-status-online.png);
}

#toolbar #chat .sub li a {
	background-image: url(./Images/i-status-offline.png);
}

#toolbar #chat .sub li.online a {
	background-image: url(./Images/i-status-online.png);
}

#toolbar #memo a.status {
	background-image: url(./Images/i-memo.png);
	padding-bottom: 1px;
}

/* @end */

/* @end */

/* @group Heading */

#header {
	background-color: #fefefe;
	background: -moz-linear-gradient(top, #ffffff 30%, #eeeeee 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(90%,#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 30%,#eeeeee 90%);
	background: -o-linear-gradient(top, #ffffff 30%,#eeeeee 90%);
	background: -ms-linear-gradient(top, #ffffff 30%,#eeeeee 90%);
	background: linear-gradient(top, #ffffff 50%,#eeeeee 80%);	
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
	box-shadow: 0 4px 6px rgba(0,0,0,0.15);

}

test {
	background-color: #fefefe;
}

/* @group #header IE hacks */


* html #header {
	background: #fefefe;	
	background: #fff; /*UNIVERSIADE*/
}

#header {
	background-color: #fefefe\9;
	background: #fff\9; /*UNIVERSIADE*/
}

/* @end */

#branding img.logo {
	margin-top: 8px;
	height: 80px;
	min-height: 80px;
	max-height: 80px;
}

#branding {
	min-height: 100px;
	height: auto;
}

#branding h1 {
	font-size: 1.2em;
	padding: 24px 30px 12px 470px;
	text-align: right;
	color: #989898;
	text-shadow: 0px 1px 0px #fff;
}

#branding h1 span {
	display: block;
	padding: 3px 0;
	padding-top: 0.6em;
	font-family: Georgia, Palatino, Times, serif;
	font-weight: 400;
	font-size: 1.4em;
	color: #797669;
	text-transform: uppercase;
}

/* @end */

/* @group Nav-main */

#nav-main {
	color: #fff;
	font-size: 0.95em;
	min-height: 30px;
	text-shadow: 0px -1px 0px #604d3a;
	background-color: #8c8178;
	background: -moz-linear-gradient(top, #a19c97 0%, #766456 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a19c97), color-stop(100%,#766456));
	background: -webkit-linear-gradient(top, #a19c97 0%,#766456 100%);
	background: -o-linear-gradient(top, #a19c97 0%,#766456 100%);
	background: -ms-linear-gradient(top, #a19c97 0%,#766456 100%);
	background: linear-gradient(top, #a19c97 0%,#766456 100%);
}

/* @group #nav-main IE hacks */

* html #nav-main {
	background-color: #8c8178;
	background-image: url(./Images/bg-nav-main.png);
	background-repeat: repeat-x;
	background-position: 0 top;
}

#nav-main {
	background-color: #8c8178\9;
	background-image: url(./Images/bg-nav-main.png)\9;
	background-repeat: repeat-x\9;
	background-position: 0 top\9;
}

/* @end */

#nav-main ul#top {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	line-height: 1.4em;
	font-size: 1.3em;
	list-style: none;
}

#nav-main ul#top li {
	margin-top: 0;
	padding: 0;
}

#nav-main ul#top li a {
	margin-top: 0;
	margin-left: 6px;
	margin-right: 6px;
	color: #fff;
	padding-top: 4px;
	padding-bottom: 6px !important;
	padding-left: 6px;
	padding-right: 16px;
	background-image: url("./Images/i-triangle-sprite.png");
	background-repeat: no-repeat;
	background-position: right -167px;
	cursor:default;
}

#nav-main ul#top li a,
#nav-main ul#top li a:hover,
#nav-main ul#top li a:active {
	outline: 0 !Important;
}

#nav-main ul#top li#community-type a,
#nav-main ul#top li .sub ul li a {
	cursor:pointer;
}

#nav-main ul#top li.expanded a {
	color: #dcd5cf;
	text-shadow: 0px -1px 0px #000;
	background-color: #56493f;
	background-position: right -108px;
	-moz-box-shadow: 	inset 0 0 5px rgba(0, 0, 0, 0.700),
						inset 0 1px 0 rgba(255, 255, 255, 0.600),
						0 0 2px rgba(255, 255, 255, 0.500);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.700),
						inset 0 1px 0 rgba(255, 255, 255, 0.600),
						0 0 2px rgba(255, 255, 255, 0.500);
	box-shadow: 		inset 0 0 5px rgba(0, 0, 0, 0.700),
						inset 0 1px 0 rgba(255, 255, 255, 0.600),
						0 0 2px rgba(255, 255, 255, 0.500);
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: 	background-color 0.2s ease;
	-o-transition: 		background-color 0.2s ease;
	transition: 		background-color 0.2s ease;
}

#nav-main ul#top li a:hover {
	color: #dcd5cf;
	text-shadow: 0px -1px 0px #000;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

/* Book */

.ico_book_s,
.ico_book_m,
.ico_book_l {
	background-image: url("./Images/book.png");
    height: 26px;
    width: 26px;

}

#nav-main ul#top li#community-type a {
	margin-top: 0;
	padding-left: 0;
	padding-right: 6px;
}

#nav-main ul#top li#community-type a img {
	margin-top: 3px;
	height: 16px;
}

#nav-main ul#top li.expanded li a {
	color: #333;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #fff;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#nav-main ul#top li#community-type.expanded a {
	color: #333;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#nav-main ul#top li#community-type a,
#nav-main ul#top li div.sub a {
	background: url("");
}

/* @end */

/* @group Nav-main dropdpwn */

#nav-main ul#top li .sub, 
#nav-main ul#top li .sub .col,
#nav-main ul#top li .sub ul li a,
#nav-main ul#top li .sub ul li.admin a {
	background-color: #f6f6f6;
}

#nav-main ul#top li .sub {
	left: auto;
}

#nav-main div.sub {
	text-shadow: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 4px;
}

#nav-main ul#top li .sub {
	font-size: 0.8em;
	border: none;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	top: 30px;
	left: 6px;
}

/* @group #community-type a img IE hacks */

* html #nav-main ul#top li .sub  {
	padding-bottom: 0;
	border: 1px solid #ccc;
	border-top: none;
	left: 5px;
}

#nav-main #nav-main ul#top li .sub  {
	padding-bottom: 0\9;
	border: 1px solid #ccc\9;
	border-top: none\9;
	left: 5px\9;
}

/* @end */

#nav-main ul#top li .sub h2 {
	color: #777;
	background-color: #dedede;
	background: -moz-linear-gradient(top, #eeeeee 0%, #d5ccc5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d5ccc5));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#d5ccc5 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#d5ccc5 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#d5ccc5 100%);
	-moz-box-shadow: inset 0 -1px 3px #d5ccc5;
	-webkit-box-shadow: inset 0 -1px 3px #d5ccc5;
	box-shadow: inset 0 -1px 3px #d5ccc5;
	text-shadow: 0px 1px 0px #eee;
}

#nav-main ul#top li ul li span.actions a {
	padding: 0 1px !important;
}

/* @group #nav-main ul#top li .sub h2 IE hacks */

* html #nav-main ul#top li .sub h2 {
	background-color: #dedede;
}
#nav-main ul#top li .sub h2 {
	background-color: #dedede\9;
}

/* @group #nav-main ul#top li .sub h2 IE hacks */

* html #nav-main ul#top li .sub h2 {
	border-bottom: 1px solid #ccc;
}

#nav-main ul#top li .sub h2 {
	border-bottom: 1px solid #ccc\9;
}

/* @end */

/* @end */

#nav-main ul#top li .sub .col {
	margin-right: 1px;
	width: auto;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
}

#nav-main ul#top li .sub ul li a {
	padding: 6px 4px 10px 6px;
	margin: 0;
}

#nav-main ul#top li .sub ul li a,
#nav-main ul#top li .sub ul li span {
	padding: 4px 64px 4px 8px;
}

#nav-main ul#top li .sub ul li span.actions {
	padding: 0;
	width: 66px;
}

#nav-main ul#top li .sub ul li span {
	color: #b4b4b4;
}

#nav-main ul#top li .sub ul li a:hover,
#nav-main ul#top li .sub ul li.admin a:hover {
	color: #fff !important;
	background: #3b5679;
	background: -moz-linear-gradient(top, #476891 0%, #3b5679 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#476891), color-stop(100%,#3b5679));
	background: -webkit-linear-gradient(top, #476891 0%,#3b5679 100%);
	background: -o-linear-gradient(top, #476891 0%,#3b5679 100%);
	background: -ms-linear-gradient(top, #476891 0%,#3b5679 100%);
	background: linear-gradient(top, #476891 0%,#3b5679 100%);
}

/* @group #nav-main ul#top li .sub ul li a:hover IE hacks */

* html #nav-main ul#top li .sub ul li a:hover,
* html #nav-main ul#top li .sub ul li.admin a:hover {
	background-color: #3b5679;
}

#nav-main ul#top li .sub ul li a:hover,
#nav-main ul#top li .sub ul li a:hover {
	background-color: #3b5679\9;
}

/* @end */

/* @group Box Admin */

#nav-main ul#top li.admin .sub h2 {
	background-color: #dedede;
}

#nav-main ul#top li.admin .sub ul li span {
	color: #b4b4b4;
}

#nav-main ul#top li.admin .sub ul li a:hover {
	
}

#nav-main ul#top li.admin li a {
	text-indent: 0;
	width: auto;
	background: none;
}

#nav-main ul#top li .sub ul li a,
#nav-main ul#top li .sub ul li.admin a {
	color: #333 !important;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	text-shadow: none !important;
}

#nav-main ul#top li.admin .sub {
	left: -52px;
}

* html #nav-main ul#top li.admin .sub {
    left: -63px;
}

/* @end */

/* @group #nav-main inline icons */

#nav-main ul#top li .sub ul li span.actions a {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 0;
	width: 16px;
	height: 16px;
}

#nav-main ul#top li .sub ul li span.actions a:hover {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 -66px;
	width: 16px;
	height: 16px;
}

#nav-main ul#top li .sub ul li span.actions a.new {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 -132px;
	width: 16px;
	height: 16px;
}

#nav-main ul#top li .sub ul li span.actions a.new:hover {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 -198px;
	width: 16px;
	height: 16px;
}

#nav-main ul#top li .sub ul li span.actions a.stats {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 -264px;
	width: 16px;
	height: 16px;
}

#nav-main ul#top li .sub ul li span.actions a.stats:hover {
	background: url(./Images/action-ico.png) no-repeat top left;
	background-position: 0 -330px;
	width: 16px;
	height: 16px;
}

/* @end */

/* @end */

/* @group Footer */

#cFooter {
	margin-top: 30px;
	padding-top: 10px;
	font-size: 0.9em;
	line-height: 1.7em;
	color: #666;
	border-top: 2px solid #3b5679;
	background: #e5e5e5;
	background-color: #e5e5e5;
	background: -moz-linear-gradient(top, #cccccc 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #cccccc 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #cccccc 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #cccccc 0%,#e5e5e5 100%);
	background: linear-gradient(top, #cccccc 0%,#e5e5e5 100%);
	text-shadow: 0px 1px 0px #efefef;
}

/* @group #cFooter IE hacks */

* html #cFooter {
	background: #fefefe;
	background-image: url(./Images/bg-footer.png);
	background-repeat: repeat-x;
	background-position: 0 -4px;
	height: 150px;
	border-top: 2px solid #3b5679;
}

#cFooter {
	background-color: #fefefe\9;
	background-image: url(./Images/bg-footer.png)\9;
	background-repeat: repeat-x\9;
	background-position: 0 -4px\9;
	height: 150px\9;
	border-top: none #3b5679\9;
	background-image: -ms-linear-gradient(top, #cccccc 0%,#e5e5e5 100%)\9IE9;
	border-top: 2px solid #3b5679\9IE9;
}

body.fullwidth #cFooter {
	margin-top: 0;
}

body.fullwidth #cFooter,
body.fullwidth #container.page-width {
	margin-top: 0;
	margin-bottom: 0;
}


/* @end */

#cFooter a {
	color: #ae0000;
	text-decoration: none;
}

#cFooter a:hover {
	color: #ae0000;
	text-decoration: underline;
}

/* @end */

/* @group Content overrides */

div#serviceinfo.RigaTitolo.serviceinfo {
	color: #666;
	border-bottom: none;
	font-size: 1.5em;
	font-weight: 400;
	padding: 18px 12px 12px 12px;
	font-variant: normal;
	text-transform: uppercase;
}

/* @group div#serviceinfo.RigaTitolo.serviceinfo IE hacks */

* html div#serviceinfo.RigaTitolo.serviceinfo {
	font-size: 1.5em;
}

div#serviceinfo.RigaTitolo.serviceinfo {
	font-size: 1.5em\9;
}

/* @end */


#content div.DIV_MP_Content {
	padding-top: 6px !important;
	border-top: 1px solid #ccc !important;
	width: inherit;
}

#content div.DIV_MP_Content div#Div1 {
	margin-bottom: 20px;
	height: 30px;
}

#content div.DIV_MP_Content div.DefaultDashBoardContainer div div.RightContainer div div table tbody tr {
	line-height: 1.6em;
}

#CPHservice_CTRLmessage_DIVmenuDashboard div.topBoxMenu span.title {
	border: none;
}

/* @group Quaderni */

#content table tbody tr .DiarioLezioni_HeaderRigaLezione_Bold,
#content table tbody tr .DiarioLezioni_HeaderRigaLezione_Bold a.DiarioLezioni_HeaderLink,
#content table tbody tr .DiarioLezioni_HeaderRigaLezione_Bold span.DiarioLezioni_HeaderRigaLezione_Bold,
#content table tbody tr .DiarioLezioni_HeaderRigaLezione_Bold img {
	background-color: #58799d !important;
}

#content div.DIV_MP_Content div table tbody tr .DiarioLezioni_HeaderRigaLezione_Bold * {
	margin: 0;
	padding: 1px 0;
	vertical-align: middle;
}

#content div.DiaryItemRow div.cellLeft,
#content div.DiaryItemRow div.cellRight {
	margin-bottom: 0.9em;
}

#content div.DIV_MP_Content div div.DiarioLezioni_DGheader {
	background-color: #444;
	vertical-align: bottom;
}

#content div.DiaryItemRow div.cellRight a {
	color: #1e72e6 !important;
	text-decoration: none;
}

#content div.DiaryItemRow div.cellRight a:hover {
	text-decoration: underline;
}

#content div.DIV_MP_Content div.DefaultDashBoardContainer div div.RightContainer div div table {
	font-size: 1.2em !important;
}

/* @end */

body#SRVELNC_CMNT div#content span.title { border: 0px;}

/* @end */

