.RadDropDownTree {
  margin: 0;
  padding: 0;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  width: 160px;
  text-align: left;
  vertical-align: middle;
  _vertical-align: top;
  white-space: nowrap; }
  .RadDropDownTree:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .RadDropDownTree .rddtInner {
    padding: 2px 22px 2px 5px;
    height: 16px;
    border: 1px solid;
    display: block;
    position: relative;
    overflow: hidden; }
  .RadDropDownTree .rddtFakeInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    overflow: hidden; }
  .RadDropDownTree .rddtEmptyMessage {
    font-style: italic; }
  .RadDropDownTree .rddtHovered .rddtEmptyMessage,
  .RadDropDownTree .rddtDisabled .rddtEmptyMessage {
    color: inherit; }
  .RadDropDownTree .rddtIcon,
  .RadDropDownTree .rrbActionButton {
    width: 18px;
    height: 20px;
    border: 0;
    background: none;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: auto; }
  .RadDropDownTree .rcbLabel {
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px;
    *zoom: 1; }

.RadDropDownTree_rtl {
  text-align: right; }

.rddtSlide,
.rddtDropDownSlide {
  _height: 1px;
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }

.rddtPopup {
  *zoom: 1;
  padding: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  text-align: left;
  position: relative;
  cursor: default;
  width: 160px;
  *width: 154px; }
  .rddtPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rddtPopup .rddtScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rddtPopup .rddtScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddtPopup .rddtHeader,
  .rddtPopup .rddtFooter {
    *zoom: 1;
    margin: -2px;
    padding: 3px 5px;
    background-repeat: repeat-x; }
    .rddtPopup .rddtHeader:after,
    .rddtPopup .rddtFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddtPopup .rddtHeader {
    margin-bottom: 2px;
    border-bottom: 1px solid; }
  .rddtPopup .rddtFooter {
    margin-top: 2px;
    border-top: 1px solid; }
  .rddtPopup.rddtAutoWidth {
    width: auto;
    min-width: 160px;
    *min-width: 154px; }
    .rddtPopup.rddtAutoWidth .rddtScroll {
      width: auto; }
  .rddtPopup .rddtScroll {
    width: 100%;
    height: 100%; }

.rddtPopup_rtl {
  text-align: right;
  direction: rtl; }

