<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IFileMQService">
                    <security mode="None" />
                </binding>
                <binding name="NetMsmqBinding_IUnzipMQService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/lm_filetransfer"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IFileMQService"
                contract="SrvFileTransfer.IFileMQService" name="NetMsmqBinding_IFileMQService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.msmq://localhost/private/lm_fileunzip"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IUnzipMQService"
                contract="SrvFileUnzip.IUnzipMQService" name="NetMsmqBinding_IUnzipMQService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>