div#Wizard div.StepButton { padding-top: 0.7em; }

div#Wizard div.StepContent div.IW_Community table { width: 99%; }

div#Wizard div.StepContent div.IW_Glossary { text-align: center; }
div#Wizard div.StepContent div.IW_Glossary .Tbl_Glossary { width: 99%;  margin-top: 1.5em; }

div#Wizard div.StepContent div.StepData .no_item { display: block; padding: 3em; }

div#Wizard div.StepContent div.IW_complete { padding-top: 5em; padding-left: 4em;}