<?xml version="1.0" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory>
    
		  <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		  <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
     <property name="connection.connection_string">Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#;User ID=#NOME_UTENTE#;Password=#PASSWORD#" providerName="System.Data.SqlClient</property>

		 <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      
      <mapping assembly="lm.Comol.Core.Data"/>
      <mapping assembly="lm.Comol.Core.DomainModel"/>
      <mapping assembly="lm.Comol.Core.BaseModules"/>

      <mapping assembly="lm.Comol.Modules.CallForPapers"/>
      <mapping assembly="lm.Notification.Core"/>

      <mapping assembly="lm.Comol.Modules.Standard"/>
      <mapping assembly="lm.Comol.Modules.Base"/>
      <mapping assembly="lm.Comol.Modules.ScormStat"/>
      <mapping assembly="lm.Comol.Modules.EduPath"/>
      <mapping assembly="lm.Comol.Modules.TaskList"/>


      <mapping assembly="COL_Questionario"/>

        
    </session-factory>
</hibernate-configuration>