/*
* Divas Cookies CSS classes
*/
.divascookies {
	
}

.divascookies > .divascookies-banner-container {	
}

.divascookies p.divascookies-banner-text {	
    font-size: 13px !important;    
    vertical-align: middle;
}

span.divascookies-policy-link a {
	
}

.divascookies-banner-container > .divascookies-accept-button-container {
	
}

.divascookies-accept-button-container > .divascookies-accept-button-img {
	
}

.divascookies-accept-button-container > .divascookies-accept-button-text {
	font-size: 13px !important;   
}	