<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="Linq2NH">
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.connection_string">
      Data Source=89.190.189.232;Initial Catalog=Player_Demo;User ID=AdevicoSa;Password=ed_2015_gen_14;
    </property>
    <!--<property name="connection.connection_string">
      Data Source=192.168.222.251;Initial Catalog=COL_LMSDB;Persist Security Info=True;integrated security=True;
    </property>-->
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    <mapping assembly="lm.Comol.Modules.ScormStat" />
  </session-factory>
</hibernate-configuration>