    body {
	    background: #ffffff url(bg_Inc.png) repeat-x;
	    margin: 0; padding:0;
    }
    
    #cTopHead {
        background: url("unitn.png") no-repeat scroll 0 15px transparent;
        padding-bottom: 10px;
        position: absolute;
        z-index: -10;
        
        /*height: <%=me.HeaderNewsMemoHeight%>;*/
        width:900px; 
        position:relative; 
        z-index:300; 
        padding-top:4px; 
        margin-bottom: 0;
    }