.lateximg:hover
{
	/*padding:1em;*/
	border:1px solid #000;
	background-color:White;
}
        
.lateximg
{
	border:0;
	padding-top:0.2em;
	padding-bottom:0.2em;
	padding-left:0.5em;
	padding-right:0.5em;     	
	vertical-align:middle;
	border:1px solid transparent;
}
        
.latexhref
{
	border:0;
	text-decoration:none;
}              
