.TreeNode
{
	font-weight: normal;
	font-size: 11px;
	margin-left: 3px;
	color: black;
	font-family: Verdana, Arial;
	text-decoration: underline;
}

.TreeNodeOver
{
	font-weight: normal;
	font-size: 11px;
	margin-left: 3px;
	color: black;
	font-family: Verdana, Arial;
	height: 18px;
	text-decoration: underline;
}

.TreeNodeSelect
{
	font-weight: bold;
	font-size: 11px;
	margin-left: 3px;
	cursor: hand;
	color: navy;
	font-family: Verdana, Arial;
	height: 18px;
	text-decoration: none;
}

.TreeNodeDisabled
{
	font-weight: normal;
	font-size: 11px;
	margin-left: 3px;
	cursor: default;
	color: dimgray;
	font-family: Verdana, Arial;
	text-decoration: none;
}

