input.folderapply {
	display: none;
}

.fieldobject .fieldrow span.item span, .fieldobject .fieldrow span.item input {
    vertical-align: bottom;
}

.fieldobject.upload div.description{
	margin-top:1em;
}

.RadTreeView.directories .iteminfo .name .actionbuttons, 
.RadTreeView.directories .iteminfo .name .text {
    vertical-align: middle;	
}

.RadTreeView.directories .iteminfo .name .text{
	top: -3px;
    position: relative;
}

.RadTreeView.directories .iteminfo .name .actionbuttons{
	
}

.RadTreeView.directories .iteminfo span.itemdetail{
	margin-left:0.5em;
	vertical-align: middle;	
	top: -3px;
    position: relative;
}