<?xml version="1.0" encoding="utf-8"?>
<Resource>
    <DefaultLanguage>
        <ID>1</ID>
        <Code>it-IT</Code>
    </DefaultLanguage>
    <ConfigExtension>
        <FileIcon>Config/IconeFile.config</FileIcon>
        <FileMime>Config/TipiDownload.config</FileMime>
        <DefaultIcon>images/ico/bo.gif</DefaultIcon>
        <ExtensionToShow>.iconFile</ExtensionToShow>
    </ConfigExtension>
    <ConfigMail>
        <ServerSMTP>#IP_SMPTP#</ServerSMTP>
        <AuthenticationEnabled>false</AuthenticationEnabled>
        <UseSsl>true</UseSsl>
        <HostPort>25</HostPort>
        <CredentialsUsername></CredentialsUsername>
        <CredentialsPassword></CredentialsPassword>
        <SendMailError>true</SendMailError>
        <RegistraMail>false</RegistraMail>
        <systemMail>HelpDesk@mail.not</systemMail>
        <systemMailError>HelpDesk@mail.not</systemMailError>
        <systemErrorMailSender>noreply@mail.not</systemErrorMailSender>
        <RealMailSenderAccount>HelpDesk@mail.not</RealMailSenderAccount>
        <systemMailSubject>[Adevico]</systemMailSubject>
        <SendMailByReply>true</SendMailByReply>
    </ConfigMail>
    <OnErrorShow404>false</OnErrorShow404>
    <DBcodice>3</DBcodice>
    <ConfigLogin>
        <SubscriptionActive>true</SubscriptionActive>
        <ShowHelpToSubscription>true</ShowHelpToSubscription>
        <RichiediSSL>true</RichiediSSL>
        <RichiediLoginSSL>true</RichiediLoginSSL>
        <aggiornamentoXML>4</aggiornamentoXML>
        <ProfileAutoActivation>True</ProfileAutoActivation>
        <SendRegistrationMail>false</SendRegistrationMail>
        <!--<AlwaysDefaultPageForInternal>true</AlwaysDefaultPageForInternal>-->
    </ConfigLogin>
    <ActionService>
        <Enabled>True</Enabled>
        <EnableWebPresence>True</EnableWebPresence>
        <EnableBrowser>True</EnableBrowser>
        <EnableAction>True</EnableAction>
    </ActionService>
    <NotificationService>
        <Services>
            <Service Code="SRVMATER" Enabled="True" Name=""></Service>
            <Service Code="SRVLEZ" Enabled="True" Name=""></Service>
            <Service Code="SRVEVENTI" Enabled="True" Name=""></Service>
            <Service Code="SRVISCRITTI" Enabled="True" Name=""></Service>
            <Service Code="SRVCOVER" Enabled="True" Name=""></Service>
            <Service Code="SRVBACH" Enabled="True" Name=""></Service>
            <Service Code="SRVWIKI" Enabled="True" Name=""></Service>
            <Service Code="SRVLBEL" Enabled="True" Name=""></Service>
            <Service Code="SRVFORUM" Enabled="True" Name=""></Service>
            <Service Code="SRVQUST" Enabled="True" Name=""></Service>
            <Service Code="SRVDIMDIM" Enabled="True" Name=""></Service>
            <Service Code="SRVLINK" Enabled="True" Name=""></Service>
            <Service Code="SRVTASK" Enabled="True" Name=""></Service>
        </Services>
        <Enabled>True</Enabled>
    </NotificationService>
    <NotificationErrorService>
        <ErrorsType>
            <Error ErrorType="CommunityModuleError" PersistTo="Mail" Enabled="True" Name=""></Error>
            <Error ErrorType="DBerror" PersistTo="Mail" Enabled="True" Name=""></Error>
            <Error ErrorType="GenericError" PersistTo="Mail" Enabled="True" Name=""></Error>
            <Error ErrorType="GenericModuleError" PersistTo="Mail" Enabled="True" Name=""></Error>
            <Error ErrorType="GenericWebError" PersistTo="Mail" Enabled="True" Name=""></Error>
        </ErrorsType>
        <ComolUniqueID>SVILUPPO</ComolUniqueID>
        <Enabled>True</Enabled>
    </NotificationErrorService>
    <ChatService>
        <Enabled>True</Enabled>
        <DefaultUrl>http://#IP_SERVER#/WS_Chat/</DefaultUrl>
        <DefaultFileUrl>http://#IP_SERVER#/WS_Chat/TmpFile/</DefaultFileUrl>
    </ChatService>
    <BlogSettings>
        <BlogHome>http://localhost/blog/</BlogHome>
        <DomainCookie>adevico.local</DomainCookie>
        <ValidationTime>20</ValidationTime>
    </BlogSettings>

    <BaseFileRepositoryPath>
        <PhisicalPath>E:\FileSviluppo\BaseFileRepositoryPath\</PhisicalPath>
        <SameServer>true</SameServer>
        <MaxSize>300</MaxSize>
        <MaxUploadSize>300</MaxUploadSize>
    </BaseFileRepositoryPath>
    <ConfigFileAndPath>
        <Repository>
            <VirtualPath></VirtualPath>
            <PhisicalPath>E:\FileSviluppo\BaseFileRepositoryPath\</PhisicalPath>
            <SameServer>false</SameServer>
            <!-- <PhisicalPath>E:\Inetpub\ProgettiWeb\LM_Comol\Deploy\LocalFileSystem\BaseFileRepositoryPath\</PhisicalPath>-->
            <!-- <PhisicalPath>E:\FileSviluppo\</PhisicalPath>
            \\192.168.222.220\FileSviluppo
            <SameServer>true</SameServer>-->
        </Repository>
        <UserCertifications>
            <VirtualPath></VirtualPath>
            <PhisicalPath>E:\FileSviluppo\Certifications\</PhisicalPath>
            <!-- <PhisicalPath>\\\\192.168.222.220\FileSviluppo\Certifications\</PhisicalPath>-->
            <!--<PhisicalPath>\\\192.168.222.220\FileSviluppo\</PhisicalPath>-->
            <SameServer>true</SameServer>
            <MaxSize>120</MaxSize>
        </UserCertifications>
        <Noticeboard>
            <VirtualPath>images/Noticeboard/</VirtualPath>
            <PhisicalPath>E:\FileSviluppo\Noticeboard\</PhisicalPath>
            <SameServer>true</SameServer>
            <MaxSize>120</MaxSize>
        </Noticeboard>
        <Tiles>
            <VirtualPath>images/Tiles/</VirtualPath>
            <PhisicalPath>E:\FileSviluppo\Tiles\</PhisicalPath>
            <SameServer>true</SameServer>
            <MaxSize>120</MaxSize>
        </Tiles>
        <Glossary>
          <VirtualPath></VirtualPath>
          <PhisicalPath>E:\FileSviluppo\Glossary\</PhisicalPath>
          <SameServer>true</SameServer>
          <MaxSize>120</MaxSize>
        </Glossary>
      <File>
            <VirtualPath>File/</VirtualPath>
            <PhisicalPath>E:\FileSviluppo\File\</PhisicalPath>
            <SameServer>false</SameServer>
            <!--
            <PhisicalPath>\\192.168.222.220\FileSviluppo\File\\</PhisicalPath>
            <SameServer>true</SameServer>-->
            <MaxSize>120</MaxSize>
            <MaxUploadSize>80</MaxUploadSize>
        </File>
        <FileTesi>
            <VirtualPath>File_Tesi/</VirtualPath>
            <PhisicalPath></PhisicalPath>
            <SameServer>true</SameServer>
            <MaxSize>60</MaxSize>
            <MaxUploadSize>60</MaxUploadSize>
        </FileTesi>
        <VideoCast>
            <VirtualPath></VirtualPath>
            <PhisicalPath>E:\FileSviluppo\VideoCast\</PhisicalPath>
            <SameServer>true</SameServer>
            <RewritePath>VideoCastItemToPlay/</RewritePath>
            <MaxUploadSize>300</MaxUploadSize>

      
        </VideoCast>
        <Scorm>
            <RewritePath>ScormItemToDownload/</RewritePath>
            <PhisicalPath>PlayerSviluppo\</PhisicalPath>
            <SameServer>False</SameServer>
            <ServerPath>\\#IP_SCORM_SERVER#\</ServerPath>
            <MaxUploadSize>300</MaxUploadSize>
        </Scorm>
        <Cover>
            <VirtualPath>Cover/</VirtualPath>
            <PhisicalPath></PhisicalPath>
            <SameServer>true</SameServer>
        </Cover>
        <Mail>
            <VirtualPath>Mail/</VirtualPath>
            <PhisicalPath></PhisicalPath>
            <SameServer>true</SameServer>
            <MaxSize>10</MaxSize>
            <MaxUploadSize>10</MaxUploadSize>
        </Mail>
        <Profile>
            <VirtualPath>Profili/</VirtualPath>
            <PhisicalPath></PhisicalPath>
            <SameServer>true</SameServer>
        </Profile>
        <Wiki>
            <VirtualPath>Wiki_File/</VirtualPath>
            <PhisicalPath></PhisicalPath>
            <SameServer>true</SameServer>
            <MaxSize>60</MaxSize>
        </Wiki>
        <Bacheca>
            <VirtualPath></VirtualPath>
            <PhisicalPath>E:\FileSviluppo\Bacheca\</PhisicalPath>
            <ServerPath></ServerPath>
            <SameServer>true</SameServer>
        
            <Template>Style/Bacheca/Template.htm</Template>
            <CSSstandard>
            </CSSstandard>
            <CSSstampa>Style/Bacheca/StampaBacheca.css</CSSstampa>
            <CSSlatex>Style/Latex/Latex.css</CSSlatex>
            <JsLatex>Style/Latex/Latex.js</JsLatex>
        </Bacheca>
    </ConfigFileAndPath>
    <ConfigurationPresenter>
        <!--none = 0,
        surname = 1,
        name = 2,
        surnamename = 4,
        namesurname =5-->
        <DefaultDisplayNameMode>5</DefaultDisplayNameMode>
        <isNew>True</isNew>
        <DefaultRemoveServiceNotification>RimuoviNotifica.aspx</DefaultRemoveServiceNotification>
        <DefaultStartPage>Authentication/InternalLogin.aspx</DefaultStartPage>

        <DefaultManagement>Comunita/CommunityManagement.aspx</DefaultManagement>
        <DefaultTitle>Adevico - Visione sviluppo</DefaultTitle>
        <DefaultHomeHeaderLink>Modules/DashBoard/PortalDashboard.aspx</DefaultHomeHeaderLink>
        <DefaultSubscriptionsLink>Modules/DashBoard/Search.aspx?s=Simple&amp;my=true</DefaultSubscriptionsLink>
        <DefaultLogonPage>Modules/DashBoard/PortalDashboard.aspx</DefaultLogonPage>
        <DefaultCommunityModule>Modules/common/RedirectToDefaultModule.aspx?IdCommunity={0}</DefaultCommunityModule>
        <EditorItemHandlerPath>~/UC/Editor/EditorHandler.aspx</EditorItemHandlerPath>
        <AjaxTimer>60000</AjaxTimer>
        <DefaultNation>193</DefaultNation>
        <DefaultProvince>92</DefaultProvince>
        <DefaultNoProvinceID>0</DefaultNoProvinceID>
        <DefaultTaxCodeRequired>false</DefaultTaxCodeRequired>
        <DefaultHighSchool>18</DefaultHighSchool>
        <DefaultProfileTypesToActivate>2,3,4,6,7,20</DefaultProfileTypesToActivate>
        <DefaultSplitMailRecipients>100</DefaultSplitMailRecipients>
        <DefaultMatricolaRequired>True</DefaultMatricolaRequired>
        <DefaultBirthDateRequired>true</DefaultBirthDateRequired>
        <DefaultScormEnabled>true</DefaultScormEnabled>
        <DefaultScormDownload>false</DefaultScormDownload>
        <DefaultAllowScormDownload>true</DefaultAllowScormDownload>
        <DefaultFileCategoryID>0</DefaultFileCategoryID>
        <DefaultFolderCategoryID>-2</DefaultFolderCategoryID>
        <EnabledPortalHomeModal>true</EnabledPortalHomeModal>
        <EnabledLogonAs>True</EnabledLogonAs>
        <AllowUserRegistration>true</AllowUserRegistration>
        <RepositoryConfiguration>
            <AvailableItemType>1,2,3,5</AvailableItemType>
            <AllowDownload>1,5</AllowDownload>
            <DefaultDownload>1</DefaultDownload>
            <UrlConfigurations>
                <RepositoryItemTypeConfiguration>
                    <PlayerUrl>http://#IP_SCORM_SERVER#/PlayerSviluppo</PlayerUrl>
                    <RepositoryItemType>2</RepositoryItemType>
                    <RedirectToFilePage>false</RedirectToFilePage>
                </RepositoryItemTypeConfiguration>
                <RepositoryItemTypeConfiguration>
                    <PlayerUrl>http://#IP_SCORM_SERVER#/mediaPlayerSviluppo/sites</PlayerUrl>
                    <RepositoryItemType>5</RepositoryItemType>
                    <RedirectToFilePage>false</RedirectToFilePage>
                </RepositoryItemTypeConfiguration>
            </UrlConfigurations>
        </RepositoryConfiguration>
        <PortalDisplayInfo>
            <Name>
                <LocalNames>
                    <LocalName LanguageId="-1">Portal</LocalName>
                    <LocalName LanguageId="1">Portale</LocalName>
                    <LocalName LanguageId="2">Portal</LocalName>
                </LocalNames>
            </Name>
            <Home>
                <LocalNames>
                    <LocalName LanguageId="-1">Home Portale</LocalName>
                    <LocalName LanguageId="1">Home Portale</LocalName>
                    <LocalName LanguageId="2">Portal Home</LocalName>
                </LocalNames>
            </Home>
            <IstanceName>
                <LocalNames>
                    <LocalName LanguageId="-1">Adevico - Sviluppo</LocalName>
                    <LocalName LanguageId="1">Adevico - Sviluppo</LocalName>
                    <LocalName LanguageId="2">Internal Adevico</LocalName>
                </LocalNames>
            </IstanceName>
        </PortalDisplayInfo>
        <AllowSaveAndContinueQuestionnaire>False</AllowSaveAndContinueQuestionnaire>
        <AllowSaveBetweenPageQuestionnaire>False</AllowSaveBetweenPageQuestionnaire>
        <AllowOverWriteQuestionnaireSavingPolicy>True</AllowOverWriteQuestionnaireSavingPolicy>
        <AllowDssUse>True</AllowDssUse>
    </ConfigurationPresenter>
    <Latex CSS="Style/Latex/Latex.css" Javascript="Style/Latex/Latex.js">
        <ServersRender>
            <ServerRender Name="Interno" isDefault="true" isEnabled="false" RemoteUrl="http://192.168.222.201/cgi-bin/mathtex.cgi?"></ServerRender>
            <ServerRender Name="Esterno" isDefault="false" isEnabled="true" RemoteUrl="http://www.forkosh.dreamhost.com/mathtex.cgi?"></ServerRender>
        </ServersRender>
    </Latex>
    <BulkInsert>
        <Questionario>
            <PhisicalPath>E:\FileSviluppo\BulkInsert\Questionario\</PhisicalPath>
            <SameServer>true</SameServer>
            <MaxUploadSize>20</MaxUploadSize>
            <MaxSize>30</MaxSize>
        </Questionario>
    </BulkInsert>
    <Style>
        <NewMenu>Jscript/DEVmenu/</NewMenu>
        <!--<Login>Style/LoginDynamic/</Login>-->
        <Header>Style/DynamicComol/</Header>
        <!--<BaseFolderUrl></BaseFolderUrl>-->
        <!--<DefaultUrl></DefaultUrl>-->
        <jqueryTheme>Base</jqueryTheme>
        <jqueryVersion>1.11.0</jqueryVersion>
        <jqueryUIVersion>1.10.4</jqueryUIVersion>
        <!--<SkinCss></SkinCss>-->
        <!--<DefaultImgFolder>Style/NewMenuDemo/Img/</DefaultImgFolder>-->
        <!--<SkinPhisicalPath>E:\Inetpub\ProgettiWeb\LM_ComolElle3\Src\Comunita_OnLine\File\Skins\</SkinPhisicalPath>
		<SkinVirtualPath>File/Skins/</SkinVirtualPath>-->
        <!--<UseNewSkin/>-->
    </Style>
    <TopBar>
        <Tools>
            <Service>
                <Code>SysPassword</Code>
                <AutenticationIds>1</AutenticationIds>
                <ServiceId>-1</ServiceId>
                <Url DisabledTypeIds="21,18" https="1">Authentication/EditPassword.aspx</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">Password</LocalName>
                    <LocalName LanguageId="1">Cambio Password</LocalName>
                    <LocalName LanguageId="2">Password</LocalName>
                    <LocalName LanguageId="3">Passwort ändern</LocalName>
                </LocalNames>
            </Service>
            <Service>
                <Code>SysSettings</Code>
                <ServiceId>-2</ServiceId>
                <AutenticationIds>1,2,5</AutenticationIds>
                <Url DisabledTypeIds="21,18" https="1">Modules/ProfileManagement/ProfileSettings.aspx</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">Il mio profilo</LocalName>
                    <LocalName LanguageId="1">Il mio profilo</LocalName>
                    <LocalName LanguageId="2">My profile</LocalName>
                    <LocalName LanguageId="3">Benutzerprofil</LocalName>
                </LocalNames>
            </Service>
            <Service>
                <Code>SysSkins</Code>
                <ServiceId>-3</ServiceId>
                <AutenticationIds>1,2,5</AutenticationIds>
                <Url DisabledTypeIds="2,7,21" https="0">Modules/Skin/SkinList.aspx</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">Skin</LocalName>
                    <LocalName LanguageId="1">Skin</LocalName>
                    <LocalName LanguageId="2">Skin</LocalName>
                </LocalNames>
            </Service>
            <Service>
                <Code>SRVTESI</Code>
                <ServiceId>7</ServiceId>
                <PersonTypeIds>1,7,15,18,25</PersonTypeIds>
                <LocalNames>
                    <LocalName LanguageId="-1">Tesi </LocalName>
                    <LocalName LanguageId="1">Tesi </LocalName>
                    <LocalName LanguageId="2">Thesis </LocalName>
                </LocalNames>
                <Url https="0" DisabledTypeIds="21,18">tesi_new/Tesi_Studente/ManagementTesi_Studente.aspx</Url>
            </Service>
            <Service>
                <Code>SRVCRCLA</Code>
                <ServiceId>36</ServiceId>
                <PersonTypeIds>1,7,15,18,25</PersonTypeIds>
                <Enabled>True</Enabled>
                <LocalNames>
                    <LocalName LanguageId="-1">Curriculum </LocalName>
                </LocalNames>
                <Url https="0" DisabledTypeIds="21,18">Curriculum/CurriculumEuropeo.aspx</Url>
            </Service>
            <Service>
                <Code>SRVELNC_CMNT</Code>
                <ServiceId>28</ServiceId>
                <PersonTypeIds/>
                <Enabled>True</Enabled>
                <LocalNames>
                    <LocalName LanguageId="-1">My Community</LocalName>
                    <LocalName LanguageId="1">Le mie comunità</LocalName>
                    <LocalName LanguageId="2">My Community</LocalName>
                    <LocalName LanguageId="3">Meine Communities</LocalName>
                </LocalNames>

                <Url https="0">Modules/common/RedirectToDefaultModule.aspx?To=Subscriptions</Url>
            </Service>
            <Service>
                <Code>SRVLINK</Code>
                <ServiceId>19</ServiceId>
                <PersonTypeIds/>
                <Enabled>True</Enabled>
                <LocalNames>
                    <LocalName LanguageId="-1">Favourites</LocalName>
                    <LocalName LanguageId="1">Collegamenti personali</LocalName>
                    <LocalName LanguageId="2">Favourites</LocalName>
                    <LocalName LanguageId="3">Persönliche Verknüpfungen</LocalName>
                </LocalNames>
                <Url DisabledTypeIds="21,18" https="0">generici/Link_Personali.aspx</Url>
            </Service>
        </Tools>
        <Languages>
            <Language>
                <LanguageId>1</LanguageId>
                <Text>Italiano</Text>
            </Language>
            <Language>
                <LanguageId>2</LanguageId>
                <Text>English</Text>
            </Language>
            <Language>
                <LanguageId>5</LanguageId>
                <Text>Espanõl</Text>
            </Language>
            <Language>
                <LanguageId>3</LanguageId>
                <Text>Deutsch</Text>
            </Language>
        </Languages>
        <UserUrl https="1" DisabledTypeIds="21,18">Modules/ProfileManagement/ProfileSettings.aspx</UserUrl>
        <LanguageUrl https="0" DisabledTypeIds="21,18">Modules/common/LanguageSettingsChange.aspx?LanguageID=</LanguageUrl>
        <HomeUrl https="0">Modules/common/RedirectToDefaultModule.aspx?To=HomePortal</HomeUrl>
        <LogoutUrl https="0">Modules/common/Logout.aspx</LogoutUrl>
        <HelpUrl https="0">Manuali/index.html</HelpUrl>
        <ExtHelps>
            <Service>
                <Code>SRVTCKT</Code>
                <ServiceId>52</ServiceId>
                <Enabled>True</Enabled>
                <Url https="0">Modules/Ticket/ListUser.aspx</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">I miei Ticket</LocalName>
                    <LocalName LanguageId="1">I miei Ticket</LocalName>
                    <LocalName LanguageId="2">My Tickets</LocalName>
                    <LocalName LanguageId="3">My Tickets</LocalName>
                </LocalNames>
            </Service>
            <Service>
                <Code>SRVTCKT</Code>
                <ServiceId>52</ServiceId>
                <Enabled>True</Enabled>
                <Url https="0">Modules/Ticket/Add.aspx</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">Nuovo Ticket</LocalName>
                    <LocalName LanguageId="1">Nuovo Ticket</LocalName>
                    <LocalName LanguageId="2">New Ticket</LocalName>
                    <LocalName LanguageId="3">New Ticket</LocalName>
                </LocalNames>
            </Service>
            <Service>
              <Code>SRVTCKT</Code>
              <ServiceId>52</ServiceId>
              <Enabled>True</Enabled>
              <Url DisabledTypeIds="21,18" https="0">Modules/Ticket/UserSettings.aspx</Url>
              <LocalNames>
                <LocalName LanguageId="-1">Notifiche Ticket</LocalName>
                <LocalName LanguageId="1"> Notifiche Ticket</LocalName>
                <LocalName LanguageId="2">Tickets notifications</LocalName>
                <LocalName LanguageId="3">Tickets notifications</LocalName>
              </LocalNames>
            </Service>
            <Service>
                <Code>SRVTCKT</Code>
                <ServiceId>52</ServiceId>
                <Enabled>True</Enabled>
                <PersonTypeIds>7</PersonTypeIds>
                <Url https="0">Modules/Ticket/GlobalAdmin.aspx</Url>
                <LocalNames>
                  <LocalName LanguageId="-1">Gestione Globale Ticket</LocalName>
                  <LocalName LanguageId="1">Gestione Globale Ticket</LocalName>
                  <LocalName LanguageId="2">Ticket administration</LocalName>
                  <LocalName LanguageId="3">Ticket administration</LocalName>
                </LocalNames>
            </Service>
            <Service>
                <Code>Help</Code>
                <ServiceId>0</ServiceId>
                <Enabled>True</Enabled>
                <Url https="0" TargetBlank="1">Manuali/index.html</Url>
                <LocalNames>
                    <LocalName LanguageId="-1">Help</LocalName>
                    <LocalName LanguageId="1">Help</LocalName>
                    <LocalName LanguageId="2">Help</LocalName>
                    <LocalName LanguageId="3">Help</LocalName>
                </LocalNames>
            </Service>
        </ExtHelps>
        <Order>
            <item order="0">Welcome</item>
            <item order="1">Home</item>
            <item order="2">Strumenti</item>
            <item order="3">Languages</item>
            <item order="4">Help</item>
            <item order="5">Logout</item>
        </Order>
        <LanguageLoginUrl https="0">Modules/common/LanguageSettingsChange.aspx?LanguageID=</LanguageLoginUrl>
        <!--<LoginCss https="0">Style/Skin/Demo/Login.css</LoginCss>-->
    </TopBar>


    <!-- Descrizione dei vari parametri -->
    <SkinSettings_INFO>
        <!-- ID Tipi persone che possono modificare le skin - Id INTERI, separati da virgola -->
        <PersonsTypeIds>7</PersonsTypeIds>
        <!-- ID persona di chi puo' modificare le skin - Id Interi, separati da virgola. Nello specifico: piantina.grassa, luigi.colazzo-->
        <PersonsIds>7957,2</PersonsIds>
        <!-- Elenco di Informazioni aggiuntive che precedono Login e Passowrd 
		-->
        <!--<LoginInfos>
			<Info>Per l'iscrizione al sistema, &lt;a href="http://cooperazionetrentina.elearning-center.it/Modules/CallForPapers/PublicRequestsCollector.aspx?type=RequestForMembership" title="richieste di adesione" target="_blank"&gt;clicca qui!&lt;/a&gt;</Info>
		</LoginInfos>-->
        <!-- Logo Header -->
        <HeadLogo alt="Edutech" link="www.edutech.it">http://www.edutech.it/images/logo-2015.png</HeadLogo>

        <!-- Testo footer - HTML Encoded -->
        <FootText>
            Adevico - Edutech
        </FootText>
        <!-- Footer Logos-->
        <FootLogos>
            <Logo alt="Edutech" link="www.edutech.it">http://www.edutech.it/images/logo-2015.png</Logo>
            <Logo alt="Edutech" link="www.edutech.it">http://www.edutech.it/images/logo-2015.png</Logo>
        </FootLogos>

        <MainCSS>Graphics/Skin/Demo/main.css</MainCSS>
        <IECSS>Graphics/Skin/Demo/IEPatch.css</IECSS>
        <AdminCSS>Graphics/Skin/Demo/Admin.css</AdminCSS>
        <LoginCSS>Graphics/Skin/Demo/Login.css</LoginCSS>

        <!-- Path fisico per store file -->
        <SkinPhisicalPath>E:\FileSviluppo\Skins\</SkinPhisicalPath>

        <!-- Path virtuale -->
        <SkinVirtualPath>File/Skins/</SkinVirtualPath>

        <!-- Impostazione Skin portale (priorità Organizzazione) -->
        <!-- DEFAULT: SE non trova "PortalSettings"
             Carica Loghi e footer, ma non i CSS -->
        <PortalSettings>
            <!-- SOLO portale (non carica l'organizzazione a livello di portale)-->
            <None/>
            
            <!-- Cariaca TUTTI gli elementi dell'organizzazione dell'utente (se presenti)-->
            <All/>
            
            <!-- Carica SOLO gli elementi specificati: se VUOTO == None, se TUTTI == All -->
                           
            <!-- Css Organizzazione -->
            <Css/>
                
            <!-- Logo Principale -->
            <MainLogo/>
                
            <!-- Elementi Footer (Loghi + testi) -->
            <Footer/>

        </PortalSettings>
        
    </SkinSettings_INFO>



    <SkinSettings>
        <!-- ID Tipi persone che possono modificare le skin - Id INTERI, separati da virgola -->
        <PersonsTypeIds>7</PersonsTypeIds>
        <!-- ID persona di chi puo' modificare le skin - Id Interi, separati da virgola. Nello specifico: piantina.grassa, luigi.colazzo-->
        <PersonsIds>7957,2</PersonsIds>
        <!-- Elenco di Informazioni aggiuntive che precedono Login e Passowrd 
		-->
        <!--<LoginInfos>
			<Info>Per l'iscrizione al sistema, &lt;a href="http://cooperazionetrentina.elearning-center.it/Modules/CallForPapers/PublicRequestsCollector.aspx?type=RequestForMembership" title="richieste di adesione" target="_blank"&gt;clicca qui!&lt;/a&gt;</Info>
		</LoginInfos>-->
        <!-- Logo Header -->
        <HeadLogo alt="Demo" link="demo.elearning-center.it">Graphics/Skin/Demo/Demo.png</HeadLogo>

        <!-- Testo footer - HTML Encoded -->
        <FootText>
            Adevico - Edutech
        </FootText>
        <!-- Footer Logos-->
        <FootLogos>
            <Logo alt="Demo" link="demo.elearning-center.it">Graphics/Skin/Demo/Demo.png</Logo>
            <Logo alt="Demo" link="demo.elearning-center.it">Graphics/Skin/Demo/Demo.png</Logo>
        </FootLogos>

        <MainCSS>Graphics/Skin/Demo/main.css</MainCSS>
        <IECSS>Graphics/Skin/Demo/IEPatch.css</IECSS>
        <AdminCSS>Graphics/Skin/Demo/Admin.css</AdminCSS>
        <LoginCSS>Graphics/Skin/Demo/Login.css</LoginCSS>
        
        <!-- Path fisico per store file -->
        <SkinPhisicalPath>E:\FileSviluppo\Skins\</SkinPhisicalPath>

        <!-- Path virtuale -->
        <SkinVirtualPath>File/Skins/</SkinVirtualPath>

        <!-- Impostazione Skin portale (priorità Organizzazione) -->
        <!-- DEFAULT: SE non trova "PortalSettings"
             Carica Loghi e footer, ma non i CSS -->
        <PortalSettings>
            <!--<None/>-->
            <!--<All/>-->
            <!--<Css/>-->
            <!--<MainLogo/>-->
            <!--<Footer/>-->
        </PortalSettings>
        
    </SkinSettings>
    
    <!-- DocTemplate Settings -->
    <DocTemplateSettings>

        <!-- Il percorso FISICO in cui sono salvate le immagini relative ai vari loghi. -->
        <BasePath>E:\FileSviluppo\DocTemplate\</BasePath>

        <!-- Il percorso VIRTUALE (WEB) relativo all'application della cartella BasePath, contenente le immagini dei vari loghi. -->
        <BaseUrl>/_DocTemplate/</BaseUrl>

        <!-- NOTA: BasePath e Comol-BaseUrl + BaseUrl devono conincidere! -->

        <!-- La cartella in cui vengono salvati i file temporanei, DENTRO BasePath. Vale sia per WEB che per percorsi fisici!-->
        <BaseTemporaryFolder>Temp/</BaseTemporaryFolder>

        <!-- Dimensione caratteri Footer per relativo ridimensionamento. Di DEFAULT viene messo a 8.-->
        <FooterFontSize>5</FooterFontSize>

        <!-- EVENTUALE (implementazione futura) percorso contenente la serializzazione di un template "di default". -->
        <DefaultTemplatePath>E:\FileSviluppo\DocTemplate</DefaultTemplatePath>

        <!--<BasePath>E:\Inetpub\ProgettiWeb\LM_ComolElle3\Src\Comunita_OnLine\test\DocTemplate\</BasePath>-->
        <!--<BaseTemporaryFolder>Temp\</BaseTemporaryFolder>-->
        <!--<DefaultTemplatePath>E:\Inetpub\ProgettiWeb\LM_ComolElle3\Src\Comunita_OnLine\test\DocTemplate\Default\</DefaultTemplatePath>-->
    </DocTemplateSettings>

 
    <WebConferencingSettings>
      <NameWithId>True</NameWithId>
        <CanRecord>True</CanRecord>
        <RecordExpDay>0</RecordExpDay>
        <CanTrace>True</CanTrace>
        <TraceExpDay>0</TraceExpDay>
        <UseDataBase>True</UseDataBase>
        <System>none</System>
        <UseProxy>True</UseProxy>
        <ProxyUrl></ProxyUrl>
        <eWSettings>
            <BaseUrl></BaseUrl>
            <MainUserId></MainUserId>
            <MainUserPwd></MainUserPwd>
            <MaxUrlChar>0</MaxUrlChar>
        </eWSettings>
    </WebConferencingSettings>
</Resource>