<?xml version="1.0" encoding="utf-8"?>
<Config>
  <CSVknowledgeTutor textDelimeter="&quot;" columnDelimeter=";">
    <CSVfield name="DataOra" DBfield="" property="ActivityDate">
    </CSVfield>
    <CSVfield name="IDSessione" DBfield="" property="SessionID">
    </CSVfield>
    <CSVfield name="TipoBrowser" DBfield="" property="BrowserType">
    </CSVfield>
    <CSVfield name="VersioneBrowser" DBfield="" property="BrowserVersion">
    </CSVfield>
    <CSVfield name="LinguaBrowser" DBfield="" property="BrowserLanguage">
    </CSVfield>
    <CSVfield name="SupportaFrames" DBfield="" property="BrowserCapabilities_Frames">
    </CSVfield>
    <CSVfield name="SupportaTables" DBfield="" property="BrowserCapabilities_Table">
    </CSVfield>
    <CSVfield name="SupportaCookies" DBfield="" property="BrowserCapabilities_Cookies">
    </CSVfield>
    <CSVfield name="SupportaVBScript" DBfield="" property="BrowserCapabilities_VBScript">
    </CSVfield>
    <CSVfield name="SupportaJavaScript" DBfield="" property="BrowserCapabilities_JavaScript">
    </CSVfield>
    <CSVfield name="SupportaJavaApplets" DBfield="" property="BrowserCapabilities_JavaApplets">
    </CSVfield>
    <CSVfield name="SupportaActiveX" DBfield="" property="BrowserCapabilities_ActiveX">
    </CSVfield>
    <CSVfield name="IndirizzoIP" DBfield="" property="ClientIPaddress">
    </CSVfield>
    <CSVfield name="TipoSO" DBfield="" property="Platform">
    </CSVfield>
    <CSVfield name="ImpostazioniLocali" DBfield="" property="RegionalSettings">
    </CSVfield>
    <CSVfield name="LarghezzaDisplay" DBfield="" property="DisplayWidth">
    </CSVfield>
    <CSVfield name="AltezzaDisplay" DBfield="" property="DisplayHeight">
    </CSVfield>
    <CSVfield name="DispositivoPortatile" DBfield="" property="BrowserCapabilities_isMobile">
    </CSVfield>
    <CSVfield name="ChiamataVocale" DBfield="" property="BrowserCapabilities_CanInitiateVoiceCall">
    </CSVfield>
    <CSVfield name="Locale" DBfield="" property="Request_IsLocal">
    </CSVfield>
    <CSVfield name="IDUtente" DBfield="" property="User.ID">
    </CSVfield>
    <CSVfield name="TipoUtente" DBfield="" property="User.TipoPersona.ID">
    </CSVfield>
    <CSVfield name="Sesso" DBfield="" property="User.Sesso">
    </CSVfield>
    <CSVfield name="DataNascita" DBfield="" property="User.DataNascita">
    </CSVfield>
    <CSVfield name="IDFacolta" DBfield="" property="OrganizationID">
    </CSVfield>
    <CSVfield name="Lingua" DBfield="" property="Language.Codice">
    </CSVfield>
    <CSVfield name="IDComunita" DBfield="" property="Comunita.ID">
    </CSVfield>
    <CSVfield name="TipoComunita" DBfield="" property="Comunita.TipoComunita.ID">
    </CSVfield>
    <CSVfield name="IDArea" DBfield="" property="Area.ID">
    </CSVfield>
    <CSVfield name="IDAttivita" DBfield="" property="ActivityID">
    </CSVfield>
    <CSVfield name="ClasseAttivita" DBfield="" property="ActivityClass">
    </CSVfield>
    <CSVfield name="StatoAttivita" DBfield="" property="ActivityStatus">
    </CSVfield>
    <CSVfield name="PercorsoPagina" DBfield="" property="PagePath">
    </CSVfield>
    <CSVfield name="Attributo1" DBfield="" property="Attribute1">
    </CSVfield>
    <CSVfield name="Attributo2" DBfield="" property="Attribute2">
    </CSVfield>
    <CSVfield name="Attributo3" DBfield="" property="Attribute3">
    </CSVfield>
  </CSVknowledgeTutor>
</Config>