<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <TagQuestionario>
    <tag name="link" value="#LINKQUESTIONARIO#" proprieta="Url"  isObligatory="true" fase="2"></tag>
    <tag name="destinatario" value="#DESTINATARIO#" proprieta="Anagrafica" isObligatory="false" fase="2"></tag>
    <tag name="password" value="#PASSWORD#" proprieta="Password" isObligatory="false" fase="2"></tag>
    <tag name="dataFine" value="#DATAFINE#" proprieta="dataFine" isObligatory="false" fase="1"></tag>
    <tag name="autore" value="#AUTORE#" proprieta="creator" isObligatory="false" fase="1"></tag>
    <tag name="dataInizio" value="#DATAINIZIO#" proprieta="dataInizio" isObligatory="false" fase="1"></tag>
    <tag name="nomeQuestionario" value="#NOMEQUESTIONARIO#" proprieta="nome" isObligatory="false" fase="1"></tag>
    <tag name="descrizioneQuestionario" value="#DESCRIZIONEQUESTIONARIO#" proprieta="descrizione" isObligatory="false" fase="1"></tag>
    <tag name="durata" value="#DURATA#" proprieta="durata" isObligatory="false" fase="1"></tag>
  </TagQuestionario>
</Config>