<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Urls>
		<url Name="imgIconQuiz" Path="Questionari/img/quiz.png"></url>
		<url Name="imgBandieraItaliano" Path="../images/index/lingua_1.gif"></url>
		<url Name="imgBandieraInglese" Path="../images/index/lingua_2.gif"></url>
		<url Name="imgBandieraTedesco" Path="../images/index/lingua_3.gif"></url>
		<url Name="imgBandieraFrancese" Path="../images/index/lingua_4.gif"></url>
		<url Name="imgBandieraSpagnolo" Path="../images/index/lingua_5.gif"></url>
		<url Name="QuestionariGestioneList" Path="Questionari/QuestionariGestioneList.aspx?mode=0"></url>
		<url Name="EsameGestione" Path="Questionari/EsameGestione.aspx"></url>
		<url Name="Esame" Path="Esame.aspx"></url>
		<url Name="EduPath_CreateInActivity" Path="Modules/EduPath/ActivityManagement.aspx?AId={0}&amp;idQ={1}&amp;Step=4&amp;owId={2}"></url>
		<url Name="EduPath_CompileInActivity" Path="Modules/EduPath/ViewActivity.aspx?AId={0}&amp;ViewMode=1&amp;getScore=1"></url>
		<url Name="EduPath_StatInActivity" Path="Modules/EduPath/GlobalStat.aspx"></url>
		<url Name="EduPath_StatInSubActivity" Path="Modules/EduPath/GlobalStat.aspx"></url>
		<url Name="EduPath_PersonalStatInSubActivity" Path="Modules/EduPath/UserActivityStat.aspx"></url>
		<url Name="EduPath_UserStatInSubActivity" Path="Modules/EduPath/UserActivityStat.aspx?saId={0}&amp;ComId={1}&amp;UsId={2}&amp;ViewMode=2"></url>
		<url Name="QuestionariGestioneListShort" Path="QuestionariGestioneList.aspx"></url>
		<url Name="QuestionariStatList" Path="Questionari/QuestionariGestioneList.aspx?mode=1"></url>
		<url Name="MasterPageUI" Path="Questionari/QuestionarioPageUI.Master"></url>
		<url Name="QuestionariCestinoList" Path="Questionari/QuestionariCestinoList.aspx"></url>
		<url Name="QuestionariList" Path="Questionari/QuestionariList.aspx"></url>
		<url Name="ModelliGestioneList" Path="Questionari/ModelliGestioneList.aspx?mode=0"></url>
		<url Name="DomandaAdd" Path="Questionari/DomandaEdit.aspx"></url>
		<url Name="DomandaEdit" Path="Questionari/DomandaEdit.aspx"></url>
		<url Name="GruppoAdmin" Path="Questionari/GruppoAdmin.aspx"></url>
		<url Name="HistoryAutovalutazione" Path="Questionari/HistorySelfEvaluation.aspx"></url>
		<url Name="HistoryAutovalutazione_short" Path="HistorySelfEvaluation.aspx"></url>
		<url Name="QuestionarioAdd" Path="Questionari/QuestionarioAdd.aspx"></url>
		<url Name="QuestionarioAdmin" Path="Questionari/QuestionarioAdmin.aspx"></url>
		<url Name="MeetingAdmin" Path="Questionari/MeetingAdmin.aspx"></url>
		<url Name="MeetingAdminShort" Path="MeetingAdmin.aspx"></url>
		<url Name="MeetingWiz" Path="Questionari/MeetingWiz.aspx"></url>
		<url Name="MeetingWizShort" Path="MeetingWiz.aspx"></url>
		<url Name="SondaggioAdmin" Path="Questionari/SondaggioAdmin.aspx"></url>
		<url Name="SondaggioAdminShort" Path="SondaggioAdmin.aspx"></url>
		<url Name="QuestionarioAdminShort" Path="QuestionarioAdmin.aspx"></url>
		<url Name="QuestionarioView" Path="Questionari/QuestionarioView.aspx"></url>
		<url Name="QuestionarioStatistiche" Path="Questionari/QuestionarioStat.aspx"></url>
		<url Name="QuestionarioStatisticheGenerali" Path="Questionari/QuestionarioStat.aspx?mode=0"></url>
		<url Name="QuestionarioStatisticheGeneraliShort" Path="QuestionarioStat.aspx?mode=0"></url>
		<url Name="QuestionarioStatisticheUtenti" Path="Questionari/QuestionarioStat.aspx?mode=1"></url>
		<url Name="PaginaEdit" Path="Questionari/PaginaEdit.aspx"></url>
		<url Name="QuestionarioEdit" Path="Questionari/QuestionarioEdit.aspx"></url>
		<url Name="QuestionarioEditShort" Path="QuestionarioEdit.aspx"></url>
		<url Name="UtentiInvitati" Path="Questionari/UtentiInvitati.aspx"></url>
		<url Name="Risposte" Path="Questionari/Risposte.aspx"></url>
		<url Name="RisposteLibere" Path="Questionari/RisposteLibereList.aspx"></url>
		<url Name="ucDomandaMultiplaEdit" Path="Questionari/UserControls/ucDomandaMultiplaEdit.ascx"></url>
		<url Name="ucDisplayActionControl" Path="Questionari/UserControls/ucModuleToQuizAction.ascx"></url>
		<url Name="ucHeaderCompile" Path="../uc/UC_HeaderQuestionario.ascx"></url>
		<url Name="ucDomandaRatingEdit" Path="Questionari/UserControls/ucDomandaRatingEdit.ascx"></url>
		<url Name="ucDomandaRatingStarsEdit" Path="Questionari/UserControls/ucDomandaRatingStarsEdit.ascx"></url>
		<url Name="MyTest" Path="MyPath"></url>		   
		<url Name="ucDomandaDropDownEdit" Path="Questionari/UserControls/ucDomandaDropDownEdit.ascx"></url>
		<url Name="ucDomandaDropDown" Path="Questionari/UserControls/ucDomandaDropDown.ascx"></url>
		<url Name="ucDomandaMeeting" Path="Questionari/UserControls/ucDomandaMeeting.ascx"></url>
		<url Name="ucDomandaMeetingEdit" Path="Questionari/UserControls/ucDomandaMeetingEdit.ascx"></url>
		<url Name="ucDomandaTestoLiberoEdit" Path="Questionari/UserControls/ucDomandaTestoLiberoEdit.ascx"></url>
		<url Name="ucDomandaNumericaEdit" Path="Questionari/UserControls/ucDomandaNumericaEdit.ascx"></url>
		<url Name="ucDomandeLista" Path="Questionari/UserControls/ucDomandeLista.ascx"></url>
		<url Name="ucDomandeListaView" Path="Questionari/UserControls/ucDomandeListaView.ascx"></url>
		<url Name="ucStatisticheGenerali" Path="UserControls/ucStatisticheGenerali.ascx"></url>
		<url Name="ucStatisticheUtenti" Path="UserControls/ucStatisticheUtenti.ascx"></url>
		<url Name="ucUserAttemptsStatistics" Path="UserControls/ucUserAttemptsStatistics.ascx"></url>
	  
		<url Name="ucPNLValutazione" Path="UserControls/ucPNLValutazione.ascx"></url>
		<url Name="ucVisualizzaRisposta" Path="UserControls/ucVisualizzaRisposta.ascx"></url>
		<url Name="compileUrlUI" Path="questionari/uicompile.aspx"></url>
		<url Name="compileUrlUI_short" Path="uicompile.aspx"></url>
		<url Name="compileUrl" Path="questionari/questionariocompile.aspx"></url>
		<url Name="compileUrl_short" Path="questionariocompile.aspx"></url>
		<url Name="helpQuestionario" Path="help/helpQuestionario.aspx"></url>
		<url Name="helpUtentiInvitati_mail" Path="help/helpUtentiInvitati_mail.aspx"></url>
		<url Name="helpUtentiInvitati_dettagli" Path="help/helpUtentiInvitati_dettagli.aspx"></url>
		<url Name="helpUtentiInvitati_lista" Path="help/helpUtentiInvitati_lista.aspx"></url>
		<url Name="helpUtentiInvitati_listaEdit" Path="help/helpUtentiInvitati_listaEdit.aspx"></url>
		<url Name="helpQuestionariGestioneList" Path="help/helpQuestionariGestioneList.aspx?type=0"></url>
		<url Name="helpSondaggiGestioneList" Path="help/helpQuestionariGestioneList.aspx?type=2"></url>
		<url Name="helpQuestionariEdit" Path="help/helpQuestionariEdit.aspx"></url>
		<url Name="helpQuestionariList" Path="help/helpQuestionariList.aspx?type=0"></url>
		<url Name="helpSondaggiList" Path="help/helpQuestionariList.aspx?type=2"></url>
		<url Name="anteprimaTemplate" Path="help/anteprimaTemplate.aspx"></url>
		<url Name="helpDomandaMultipla" Path="../questionari/help/helpDomandaMultipla.aspx"></url>
		<url Name="helpDomandaTestoLibero" Path="../questionari/help/helpDomandaTestoLibero.aspx"></url>
		<url Name="helpDomandaRating" Path="../questionari/help/helpDomandaRating.aspx"></url>
		<url Name="helpDomandaNumerica" Path="../questionari/help/helpDomandaNumerica.aspx"></url>
		<url Name="helpDomandaDropDown" Path="../questionari/help/helpDomandaDropDown.aspx"></url>
		<url Name="GruppiList" Path="Questionari/GruppiList.aspx"></url>
		<url Name="ReportElencoUtentiInvitati" Path="Report/rpElencoUtentiInvitati.rpt"></url>
		<url Name="ReportFogliUtentiInvitatiDomande" Path="Report/rpFogliUtentiInvitatiDomande.rpt"></url>
		<url Name="WizardDomandaMultipla" Path="Questionari/WizardDomandaMultipla.aspx"></url>
		<url Name="WizardDomandaTestoLibero" Path="Questionari/WizardDomandaTestoLibero.aspx"></url>
		<url Name="WizardDomandaNumerica" Path="Questionari/WizardDomandaNumerica.aspx"></url>
		<url Name="WizardDomandaRating" Path="Questionari/WizardDomandaRating.aspx"></url>
		<url Name="WizardDomandaRatingStars" Path="Questionari/WizardDomandaRatingStars.aspx"></url>
		<url Name="WizardDomandaMeeting" Path="Questionari/WizardDomandaMeeting.aspx"></url>
		<url Name="WizardDomandaDropDown" Path="Questionari/WizardDomandaDropDown.aspx"></url>
		<url Name="urlQuestionarioEsameComol" Path="http://localhost/esame.aspx"></url>
		<url Name="urlQuestionarioEsame" Path="esame.aspx"></url>
		<url Name="LibreriaDomandeSelect" Path="Questionari/LibreriaDomandeSelect.aspx"></url>
		<url Name="HomePagePortale" Path="Modules/DashBoard/Portal.aspx"></url>
		<url Name="CreateQuiz" Path="Questionari/QuestionarioAdmin.aspx?type=0&amp;owType={1}&amp;owId={0}"></url>
		<url Name="CreateQuizByType" Path="Questionari/QuestionarioAdmin.aspx?type={2}&amp;owType={1}&amp;owId={0}"></url>
	  
		<url Name="UpdateQuizByType" Path="Questionari/QuestionarioAdmin.aspx?type={3}&amp;owType={2}&amp;owId={0}&amp;idQ={1}"></url>
		<url Name="UpdateQuiz" Path="Questionari/QuestionarioAdmin.aspx?type=0&amp;owType={2}&amp;owId={0}&amp;idQ={1}"></url>
		<url Name="CompileQuiz" Path="Questionari/QuestionarioCompile.aspx?type=0&amp;owType={2}&amp;owId={0}&amp;idQ={1}&amp;lId={3}"></url>
		<url Name="CompileQuizByType" Path="Questionari/QuestionarioCompile.aspx?type={4}&amp;owType={2}&amp;owId={0}&amp;idQ={1}&amp;lId={3}&amp;idrQ={5}"></url>
		<url Name="StatQuiz" Path="Questionari/QuestionarioStat.aspx?type=0&amp;owType={2}&amp;owId={0}&amp;idQ={1}&amp;IdP={3}&amp;mode={4}"></url>
		<url Name="UserRandomAttemptsStat" Path="Questionari/RandomAttemptsStatistics.aspx?type={5}&amp;owType={2}&amp;owId={0}&amp;idQ={1}&amp;IdP={3}&amp;mode={4}"></url>
	  
	  
		<url Name="ViewAdvancedStatistics" Path="Modules/Questionnaire/AdvancedStatistics.aspx?type=0&amp;owType={2}&amp;owId={0}&amp;idQ={1}&amp;idL={3}&amp;BackUrl={4}"></url>
	  
	</Urls>
	<constants>
		<constant Name="DefaultGroupName" Value="Cartella Principale"></constant>
		<constant Name="DefaultScalaValutazione" Value="30"></constant>
		<constant Name="vitaSessione_max" Value="60"></constant>
		<constant Name="nQuestionsPerPage_Default" Value="5"></constant>
		<constant Name="tickMassimo" Value="600000"></constant>
		<constant Name="autoSaveTimer" Value="300000"></constant>
		<constant Name="maxOvertimeSalvataggio" Value="60"></constant>
		<constant Name="lunghezzaOpzioniDropDown" Value="50"></constant>
		<constant Name="popUpHeight" Value="800"></constant>
		<constant Name="popUpWidth" Value="750"></constant>
		<constant Name="nRighePaginaGridView" Value="20"></constant>
		<constant Name="ValidatorMaxDouble" Value="999999999999999"></constant>
	</constants>
</Config>