<?xml version="1.0" encoding="utf-8"?>
<SmartTags>
  <SmartTag Class="LatexSmartTag" DisplayHeight="200" DisplayWidth="700" Name="Latex" Tag="latex" Enabled="true" RegEx="" Details="Address=#PortalBaseUrl#SmartTagsRender/LatexImage.aspx|AddressPopup=#PortalBaseUrl#SmartTagsRender/LatexPopUp.aspx|DPI=160" Height="" Width="" Image="~/images/Smarttags/Latex_2.gif">
  </SmartTag>
  <SmartTag Class="YoutubeSmartTag" DisplayHeight="480" DisplayWidth="700" Name="YouTube" Tag="youtube" Enabled="true" RegEx="" Details="" Height="355" Width="425" Image="~/images/Smarttags/Youtube.gif">
    <ReplaceStrings>
	 <ReplaceString Original="watch?v=" Replaced="embed/" isRegEx="false" />
    </ReplaceStrings>
  </SmartTag>
  <SmartTag Class="SlideShareSmartTag" DisplayHeight="480" DisplayWidth="700" Name="SlideShare" Tag="slideshare" Enabled="true" RegEx="" Details="" Height="355" Width="425" Image="~/images/Smarttags/SlideShare.gif">
    <ReplaceStrings>
	 <ReplaceString Original="\[slideshare id=.*&amp;doc=" Replaced="" isRegEx="true" />
	 <ReplaceString Original="&amp;w=.*\]" Replaced="" isRegEx="true">
	 </ReplaceString>
    </ReplaceStrings>
  </SmartTag>
  <SmartTag Class="DocStocSmartTag" DisplayHeight="480" DisplayWidth="700" Name="DocStoc" Tag="docstoc" Enabled="false" RegEx="" Details="" Height="355" Width="425" Image="~/images/Smarttags/LaTeX.png">
  </SmartTag>
</SmartTags>