<?xml version="1.0"?>
<Resource>
    <item name=".arj">images/ico/arj.gif</item>
    <item name=".asa">images/ico/asa.gif</item>
    <item name=".asax">images/ico/asax.gif</item>
    <item name=".ascx">images/ico/ascx.gif</item>
    <item name=".asmx">images/ico/asmx.gif</item>
    <item name=".asp">images/ico/asp.gif</item>
    <item name=".aspx">images/ico/aspx.gif</item>
    <item name=".aif">images/ico/media.gif</item>
    <item name=".aifc">images/ico/media.gif</item>
    <item name=".aiff">images/ico/media.gif</item>
    <item name=".asf">images/ico/media.gif</item>
    <item name=".asr">images/ico/media.gif</item>
    <item name=".asx">images/ico/media.gif</item>
    <item name=".au">images/ico/au.gif</item>
    <item name=".avi">images/ico/avi.gif</item>
  <item name=".bas">images/ico/txt.gif</item>
  <item name=".bat">images/ico/bat.gif</item>
    <item name=".bin">images/ico/exe.gif</item>
    <item name=".bmp">images/ico/bmp.gif</item>
    <item name=".c">images/ico/txt.gif</item>
  <item name=".config">images/ico/config.gif</item>
  <item name=".cs">images/ico/cs.gif</item>
  <item name=".cab">images/ico/cab.gif</item>
   <item name=".chm">images/ico/chm.gif</item>
  <item name=".com">images/ico/com.gif</item>
    <item name=".class">images/ico/exe.gif</item>
    <item name=".css">images/ico/css.gif</item>
    <item name=".dll">images/ico/dll.gif</item>
  <item name=".disco">images/ico/disco.gif</item>
    <item name=".dms">images/ico/exe.gif</item>
    <item name=".doc">images/ico/doc.gif</item>
  <item name=".docx">images/ico/docx.gif</item>
    <item name=".dot">images/ico/doc.gif</item>
    <item name=".eps">images/ico/pdf.gif</item>
    <item name=".exe">images/ico/exe.gif</item>
    <item name=".fla">images/ico/flash.gif</item>
    <item name=".gif">images/ico/gif.gif</item>
    <item name=".gtar">images/ico/zip.gif</item>
    <item name=".gz">images/ico/zip.gif</item>
    <item name=".h">images/ico/txt.gif</item>
    <item name=".hlp">images/ico/hlp.gif</item>
    <item name=".htc">images/ico/txt.gif</item>
    <item name=".htm">images/ico/htm.gif</item>
    <item name=".html">images/ico/html.gif</item>
  <item name=".inc">images/ico/inc.gif</item>
  <item name=".ini">images/ico/ini.gif</item>
    <item name=".jfif">images/ico/jpg.gif</item>
    <item name=".jpe">images/ico/jpg.gif</item>
    <item name=".jpeg">images/ico/jpg.gif</item>
    <item name=".jpg">images/ico/jpg.gif</item>
    <item name=".js">images/ico/js.gif</item>
  <item name=".log">images/ico/log.gif</item>
    <item name=".lsf">images/ico/media.gif</item>
    <item name=".lsx">images/ico/media.gif</item>
    <item name=".lzh">images/ico/exe.gif</item>
  <item name=".m3u">images/ico/mp3.gif</item>
    <item name=".mid">images/ico/mid.gif</item>
  <item name=".midi">images/ico/midi.gif</item>
    <item name=".mdb">images/ico/mdb.gif</item>
    <item name=".mov">images/ico/mov.gif</item>
    <item name=".movie">images/ico/quicktime.png</item>
    <item name=".mp2">images/ico/mp3.gif</item>
    <item name=".mp3">images/ico/mp3.gif</item>
    <item name=".mpa">images/ico/media.gif</item>
    <item name=".mpe">images/ico/media.gif</item>
    <item name=".mpeg">images/ico/mpeg.gif</item>
    <item name=".mpg">images/ico/mpg..gif</item>
    <item name=".pdf">images/ico/pdf.gif</item>
  <item name=".psd">images/ico/psd.gif</item>
    <item name=".pot">images/ico/ppt.gif</item>
    <item name=".pps">images/ico/ppt.gif</item>
    <item name=".ppt">images/ico/ppt.gif</item>
    <item name=".ps">images/ico/pdf.gif</item>
    <item name=".qt">images/ico/quicktime.png</item>
    <item name=".ra">images/ico/real.gif</item>
    <item name=".ram">images/ico/real.gif</item>
    <item name=".snd">images/ico/media.gif</item>
    <item name=".stm">images/ico/html.gif</item>
  <item name=".sys">images/ico/sys.gif</item>
    <item name=".tar">images/ico/rar.gif</item>
    <item name=".tgz">images/ico/zip.gif</item>
    <item name=".tif">images/ico/tif.gif</item>
  <item name=".tiff">images/ico/tif.gif</item>
  <item name=".txt">images/ico/txt.gif</item>
  <item name=".vb">images/ico/vb.gif</item>
  <item name=".vbs">images/ico/vbs.gif</item>
  <item name=".vsdisco">images/ico/vsdisco.gif</item>
    <item name=".wav">images/ico/wav.gif</item>
    <item name=".wri">images/ico/wri.gif</item>
    <item name=".xla">images/ico/xls.gif</item>
    <item name=".xlc">images/ico/xls.gif</item>
    <item name=".xlm">images/ico/xls.gif</item>
  <item name=".xml">images/ico/xml.gif</item>
    <item name=".xls">images/ico/xls.gif</item>
  <item name=".xlsx">images/ico/xlsx.gif</item>
    <item name=".xlt">images/ico/xls.gif</item>
    <item name=".xlw">images/ico/xls.gif</item>
    <item name=".z">images/ico/zip.gif</item>
    <item name=".zip">images/ico/zip.gif</item>
    <item name=".wcm">images/ico/zip.gif</item>
    <item name=".wdb">images/ico/zip.gif</item>
    <item name=".wks">images/ico/rar.gif</item>
    <item name=".wps">images/ico/rar.gif</item>
    <item name=".rar">images/ico/rar.gif</item>
    <item name=".noico">images/ico/bo.gif</item>
  </Resource>