<?xml version="1.0"?>
<Resource>
  <item name=".323">text/h323</item>
  <item name=".123">application/vnd.lotus-1-2-3</item>
  <item name=".3dml">text/vnd.in3d.3dml</item>
  <item name=".3g2">video/3gpp2</item>
  <item name=".3gp">video/3gpp</item>
  <item name=".7z">application/x-7z-compressed</item>
  <item name=".aab">application/x-authorware-bin</item>
  <item name=".aac">audio/x-aac</item>
  <item name=".aam">application/x-authorware-map</item>
  <item name=".aas">application/x-abiword</item>
  <item name=".ac">application/pkix-attr-cert</item>
  <item name=".ace">application/x-ace-compressed</item>
  <item name=".acu">application/vnd.acucobol</item>
  <item name=".adp">audio/adpcm</item>
  <item name=".aep">audio/vnd.audiograph</item>
  <item name=".afp">audio/vnd.ibm.modcap</item>
  <item name=".ahead">audio/vnd.ahead.space</item>
  <item name=".acx">application/internet-property-stream</item>
	<item name=".ai">application/postscript</item>
  <item name=".aif">audio/x-aiff</item>
	<item name=".aifc">audio/x-aiff</item>
	<item name=".aiff">audio/x-aiff</item>
  <item name=".air">application/vnd.adobe.air-application-installer-package+zip</item>
  <item name=".ait">application/vnd.dvb.ait</item>
  <item name=".ami">application/vnd.amiga.ami</item>
  <item name=".apk">application/vnd.android.package-archiv</item>
  <item name=".application">application/x-ms-application</item>
  <item name=".apr">application/vnd.lotus-approach</item>
  
	<item name=".asf">video/x-ms-asf</item>
  <item name=".aso">video/vnd.accpac.simply.aso</item>
  <item name=".atc">video/vnd.acucorp</item>
  <item name=".atom">application/atom+xml</item>
  <item name=".atomcat">application/atomcat+xml</item>
  <item name=".atomsvc">application/atomsvc+xml</item>
  <item name=".atx">vnd.antix.game-component</item>
  
	<item name=".asr">video/x-ms-asf</item>
	<item name=".asx">video/x-ms-asf</item>
	<item name=".au">audio/basic</item>
	<item name=".avi">video/x-msvideo</item>
  <item name=".aw">application/applixware</item>
  <item name=".azf">application/vnd.airzip.filesecure.azf</item>
  <item name=".azs">application/vnd.airzip.filesecure.azs</item>
  <item name=".azw">application/vnd.amazon.ebook</item>
	<item name=".axs">application/olescript</item>


  <item name=".bcpio">application/x-bcpio</item>
  <item name=".bdf">application/x-font-bdf</item>
  <item name=".bdm">application/vnd.syncml.dm+wbxml</item>
  <item name=".bed">application/vnd.realvnc.bed</item>
  <item name=".bh2">application/vnd.fujitsu.oasysprs</item>
  <item name=".bin">application/octet-stream</item>
  <item name=".bmi">application/vnd.bmi</item>
  <item name=".bmp">image/bmp</item>
  <item name=".box">application/vnd.previewsystems.box</item>
  <item name=".btif">image/prs.btif</item>
  <item name=".bz">application/x-bzip</item>
  <item name=".bz2">application/x-bzip2</item>
  <item name=".c">text/x-c</item>
  <item name=".c11amc">application/vnd.cluetrust.cartomobile-config</item>
  <item name=".c11amz">application/vnd.cluetrust.cartomobile-config-pkg</item>
  <item name=".c4g">application/vnd.clonk.c4group</item>
  <item name=".cab">application/vnd.ms-cab-compressed</item>
  <item name=".car">application/vnd.curl.car</item>
  <item name=".cat">application/vnd.ms-pki.seccat</item>
  <item name=".ccxml">application/ccxml+xml,</item>
  <item name=".cdbcmsg">application/vnd.contact.cmsg</item>
  <item name=".cdkey">application/vnd.mediastation.cdkey</item>
  <item name=".cdmia">application/cdmi-capability</item>
  <item name=".cdmic">application/cdmi-container</item>
  <item name=".cdmid">application/cdmi-domain</item>
  <item name=".cdmio">application/cdmi-object</item>
  <item name=".cdmiq">application/cdmi-queue</item>
  <item name=".cdx">chemical/x-cdx</item>
  <item name=".cdxml">application/vnd.chemdraw+xml</item>
  <item name=".cdy">application/vnd.cinderella</item>
  <item name=".cer">application/pkix-cert</item>
  <item name=".cgm">image/cgm</item>
  <item name=".chat">application/x-chat</item>
  <item name=".chm">application/vnd.ms-htmlhelp</item>
  <item name=".chrt">application/vnd.kde.kchart</item>
  <item name=".cif">chemical/x-cif</item>
  <item name=".cii">application/vnd.anser-web-certificate-issue-initiation</item>
  <item name=".cil">application/vnd.ms-artgalry</item>
  <item name=".cla">application/vnd.claymore</item>
  <item name=".class">application/java-vm</item>
  <item name=".clkk">application/vnd.crick.clicker.keyboard</item>
  <item name=".clkp">application/vnd.crick.clicker.palette</item>
  <item name=".clkt">application/vnd.crick.clicker.template</item>
  <item name=".clkw">application/vnd.crick.clicker.wordbank</item>
  <item name=".clkx">application/vnd.crick.clicker</item>
  <item name=".clp">application/x-msclip</item>
  <item name=".cmc">application/vnd.cosmocaller</item>
  <item name=".cmdf">chemical/x-cmdf</item>
  <item name=".cml">chemical/x-cml</item>
  <item name=".cmp">application/vnd.yellowriver-custom-menu</item>
  <item name=".cmx">image/x-cmx</item>
  <item name=".cod">application/vnd.rim.cod</item>
  <item name=".cpio">application/x-cpio</item>
  <item name=".cpt">application/mac-compactpro</item>
  <item name=".crd">application/x-mscardfile</item>
  <item name=".crl">application/pkix-crl</item>
  <item name=".cryptonote">application/vnd.rig.cryptonote</item>
  <item name=".csh">application/x-csh</item>
  <item name=".csml">chemical/x-csml</item>
  <item name=".csp">application/vnd.commonspace</item>
  <item name=".css">text/css</item>
  <item name=".csv">text/csv</item>
  <item name=".cu">application/cu-seeme</item>
  <item name=".curl">text/vnd.curl</item>
  <item name=".cww">application/prs.cww</item>
  <item name=".dae">model/vnd.collada+xml</item>
  <item name=".daf">application/vnd.mobius.daf</item>
  <item name=".davmount">application/davmount+xml</item>
  <item name=".dcurl">text/vnd.curl.dcurl</item>
  <item name=".dd2">application/vnd.oma.dd2+xml</item>
  <item name=".ddd">application/vnd.fujixerox.ddd</item>
  <item name=".deb">application/x-debian-package</item>
  <item name=".der">application/x-x509-ca-cert</item>
  <item name=".dfac">application/vnd.dreamfactory</item>
  <item name=".dir">application/x-director</item>
  <item name=".dis">application/vnd.mobius.dis</item>
  <item name=".djvu">image/vnd.djvu</item>
  <item name=".dna">application/vnd.dna</item>
  <item name=".doc">application/msword</item>
  <item name=".docm">application/vnd.ms-word.document.macroenabled.12</item>
  <item name=".docx">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
  <item name=".dotm">application/vnd.ms-word.template.macroenabled.12</item>
  <item name=".dotx">application/vnd.openxmlformats-officedocument.wordprocessingml.template</item>
  <item name=".dp">application/vnd.osgi.dp</item>
  <item name=".dpg">application/vnd.dpgraph</item>
  <item name=".dra">audio/vnd.dra</item>
  <item name=".dsc">text/prs.lines.tag</item>
  <item name=".dssc">application/dssc+der</item>
  <item name=".dtb">application/x-dtbook+xml</item>
  <item name=".dtd">application/xml-dtd</item>
  <item name=".dts">audio/vnd.dts</item>
  <item name=".dtshd">audio/vnd.dts.hd</item>
  <item name=".dvi">application/x-dvi</item>
  <item name=".dwf">model/vnd.dwf</item>
  <item name=".dwg">image/vnd.dwg</item>
  <item name=".dxf">image/vnd.dxf</item>
  <item name=".dxp">application/vnd.spotfire.dxp</item>
  <item name=".ecelp4800">audio/vnd.nuera.ecelp4800</item>
  <item name=".ecelp7470">audio/vnd.nuera.ecelp7470</item>
  <item name=".ecelp9600">audio/vnd.nuera.ecelp9600</item>
  <item name=".edm">application/vnd.novadigm.edm</item>
  <item name=".edx">application/vnd.novadigm.edx</item>
  <item name=".efif">application/vnd.picsel</item>
  <item name=".ei6">application/vnd.pg.osasli</item>
  <item name=".eml">message/rfc822</item>
  <item name=".emma">application/emma+xml</item>
  <item name=".eol">audio/vnd.digital-winds</item>
  <item name=".eot">application/vnd.ms-fontobject</item>
  <item name=".epub">application/epub+zip</item>
  <item name=".es">application/ecmascript</item>
  <item name=".es3">application/vnd.eszigno3+xml</item>
  <item name=".esf">application/vnd.epson.esf</item>
  <item name=".etx">text/x-setext</item>
  <item name=".exe">application/x-msdownload</item>
  <item name=".exi">application/exi</item>
  <item name=".ext">application/vnd.novadigm.ext</item>
  <item name=".ez2">application/vnd.ezpix-album</item>
  <item name=".ez3">application/vnd.ezpix-package</item>
  <item name=".f">text/x-fortran</item>
  <item name=".f4v">video/x-f4v</item>
  <item name=".fbs">image/vnd.fastbidsheet</item>
  <item name=".fcs">application/vnd.isac.fcs</item>
  <item name=".fdf">application/vnd.fdf</item>
  <item name=".fe_launch">application/vnd.denovo.fcselayout-link</item>
  <item name=".fg5">application/vnd.fujitsu.oasysgp</item>
  <item name=".fh">image/x-freehand</item>
  <item name=".fig">application/x-xfig</item>
  <item name=".fli">video/x-fli</item>
  <item name=".flo">application/vnd.micrografx.flo</item>
  <item name=".flv">video/x-flv</item>
  <item name=".flw">application/vnd.kde.kivio</item>
  <item name=".flx">text/vnd.fmi.flexstor</item>
  <item name=".fly">text/vnd.fly</item>
  <item name=".fm">application/vnd.framemaker</item>
  <item name=".fnc">application/vnd.frogans.fnc</item>
  <item name=".fpx">image/vnd.fpx</item>
  <item name=".fsc">application/vnd.fsc.weblaunch</item>
  <item name=".fst">image/vnd.fst</item>
  <item name=".ftc">application/vnd.fluxtime.clip</item>
  <item name=".fti">application/vnd.anser-web-funds-transfer-initiation</item>
  <item name=".fvt">video/vnd.fvt</item>
  <item name=".fxp">application/vnd.adobe.fxp</item>
  <item name=".fzs">application/vnd.fuzzysheet</item>
  <item name=".g2w">application/vnd.geoplan</item>
  <item name=".g3">image/g3fax</item>
  <item name=".g3w">application/vnd.geospace</item>
  <item name=".gac">application/vnd.groove-account</item>
  <item name=".gdl">model/vnd.gdl</item>
  <item name=".geo">application/vnd.dynageo</item>
  <item name=".gex">application/vnd.geometry-explorer</item>
  <item name=".ggb">application/vnd.geogebra.file</item>
  <item name=".ggt">application/vnd.geogebra.tool</item>
  <item name=".ghf">application/vnd.groove-help</item>
  <item name=".gif">image/gif</item>
  <item name=".gim">application/vnd.groove-identity-message</item>
  <item name=".gmx">application/vnd.gmx</item>
  <item name=".gnumeric">application/x-gnumeric</item>
  <item name=".gph">application/vnd.flographit</item>
  <item name=".gqf">application/vnd.grafeq</item>
  <item name=".gram">application/srgs</item>
  <item name=".grv">application/vnd.groove-injector</item>
  <item name=".grxml">application/srgs+xml</item>
  <item name=".gsf">application/x-font-ghostscript</item>
  <item name=".gtar">application/x-gtar</item>
  <item name=".gtm">application/vnd.groove-tool-message</item>
  <item name=".gtw">model/vnd.gtw</item>
  <item name=".gv">text/vnd.graphviz</item>
  <item name=".gxt">application/vnd.geonext</item>
  <item name=".h261">video/h261</item>
  <item name=".h263">video/h263</item>
  <item name=".h264">video/h264</item>
  <item name=".hal">application/vnd.hal+xml</item>
  <item name=".hbci">application/vnd.hbci</item>
  <item name=".hdf">application/x-hdf</item>
  <item name=".hlp">application/winhlp</item>
  <item name=".hpgl">application/vnd.hp-hpgl</item>
  <item name=".hpid">application/vnd.hp-hpid</item>
  <item name=".hps">application/vnd.hp-hps</item>
  <item name=".hqx">application/mac-binhex40</item>
  <item name=".htke">application/vnd.kenameaapp</item>
  <item name=".html">text/html</item>
  <item name=".hvd">application/vnd.yamaha.hv-dic</item>
  <item name=".hvp">application/vnd.yamaha.hv-voice</item>
  <item name=".hvs">application/vnd.yamaha.hv-script</item>
  <item name=".i2g">application/vnd.intergeo</item>
  <item name=".icc">application/vnd.iccprofile</item>
  <item name=".ice">x-conference/x-cooltalk</item>
  <item name=".ico">image/x-icon</item>
  <item name=".ics">text/calendar</item>
  <item name=".ief">image/ief</item>
  <item name=".ifm">application/vnd.shana.informed.formdata</item>
  <item name=".igl">application/vnd.igloader</item>
  <item name=".igm">application/vnd.insors.igm</item>
  <item name=".igs">model/iges</item>
  <item name=".igx">application/vnd.micrografx.igx</item>
  <item name=".iif">application/vnd.shana.informed.interchange</item>
  <item name=".imp">application/vnd.accpac.simply.imp</item>
  <item name=".ims">application/vnd.ms-ims</item>
  <item name=".ipfix">application/ipfix</item>
  <item name=".ipk">application/vnd.shana.informed.package</item>
  <item name=".irm">application/vnd.ibm.rights-management</item>
  <item name=".irp">application/vnd.irepository.package+xml</item>
  <item name=".itp">application/vnd.shana.informed.formtemplate</item>
  <item name=".ivp">application/vnd.immervision-ivp</item>
  <item name=".ivu">application/vnd.immervision-ivu</item>
  <item name=".jad">text/vnd.sun.j2me.app-descriptor</item>
  <item name=".jam">application/vnd.jam</item>
  <item name=".jar">application/java-archive</item>
  <item name=".java">text/x-java-source,java</item>
  <item name=".jisp">application/vnd.jisp</item>
  <item name=".jlt">application/vnd.hp-jlyt</item>
  <item name=".jnlp">application/x-java-jnlp-file</item>
  <item name=".joda">application/vnd.joost.joda-archive</item>
  <item name=".jpeg, .jpg">image/jpeg</item>
  <item name=".jpgv">video/jpeg</item>
  <item name=".jpm">video/jpm</item>
  <item name=".js">application/javascript</item>
  <item name=".json">application/json</item>
  <item name=".karbon">application/vnd.kde.karbon</item>
  <item name=".kfo">application/vnd.kde.kformula</item>
  <item name=".kia">application/vnd.kidspiration</item>
  <item name=".kml">application/vnd.google-earth.kml+xml</item>
  <item name=".kmz">application/vnd.google-earth.kmz</item>
  <item name=".kne">application/vnd.kinar</item>
  <item name=".kon">application/vnd.kde.kontour</item>
  <item name=".kpr">application/vnd.kde.kpresenter</item>
  <item name=".ksp">application/vnd.kde.kspread</item>
  <item name=".ktx">image/ktx</item>
  <item name=".ktz">application/vnd.kahootz</item>
  <item name=".kwd">application/vnd.kde.kword</item>
  <item name=".lasxml">application/vnd.las.las+xml</item>
  <item name=".latex">application/x-latex</item>
  <item name=".lbd">application/vnd.llamagraphics.life-balance.desktop</item>
  <item name=".lbe">application/vnd.llamagraphics.life-balance.exchange+xml</item>
  <item name=".les">application/vnd.hhe.lesson-player</item>
  <item name=".link66">application/vnd.route66.link66+xml</item>
  <item name=".lrm">application/vnd.ms-lrm</item>
  <item name=".ltf">application/vnd.frogans.ltf</item>
  <item name=".lvp">audio/vnd.lucent.voice</item>
  <item name=".lwp">application/vnd.lotus-wordpro</item>
  <item name=".m21">application/mp21</item>
  <item name=".m3u">audio/x-mpegurl</item>
  <item name=".m3u8">application/vnd.apple.mpegurl</item>
  <item name=".m4v">video/x-m4v</item>
  <item name=".ma">application/mathematica</item>
  <item name=".mads">application/mads+xml</item>
  <item name=".mag">application/vnd.ecowin.chart</item>
  <item name=".mathml">application/mathml+xml</item>
  <item name=".mbk">application/vnd.mobius.mbk</item>
  <item name=".mbox">application/mbox</item>
  <item name=".mc1">application/vnd.medcalcdata</item>
  <item name=".mcd">application/vnd.mcd</item>
  <item name=".mcurl">text/vnd.curl.mcurl</item>
  <item name=".mdb">application/x-msaccess</item>
  <item name=".mdi">image/vnd.ms-modi</item>
  <item name=".meta4">application/metalink4+xml</item>
  <item name=".mets">application/mets+xml</item>
  <item name=".mfm">application/vnd.mfmp</item>
  <item name=".mgp">application/vnd.osgeo.mapguide.package</item>
  <item name=".mgz">application/vnd.proteus.magazine</item>
  <item name=".mid">audio/midi</item>
  <item name=".mif">application/vnd.mif</item>
  <item name=".mj2">video/mj2</item>
  <item name=".mlp">application/vnd.dolby.mlp</item>
  <item name=".mmd">application/vnd.chipnuts.karaoke-mmd</item>
  <item name=".mmf">application/vnd.smaf</item>
  <item name=".mmr">image/vnd.fujixerox.edmics-mmr</item>
  <item name=".mny">application/x-msmoney</item>
  <item name=".mods">application/mods+xml</item>
  <item name=".movie">video/x-sgi-movie</item>
  <item name=".mp4">application/mp4</item>
  <item name=".mp4">video/mp4</item>
  <item name=".mp4a">audio/mp4</item>
  <item name=".mpc">application/vnd.mophun.certificate</item>
  <item name=".mpeg">video/mpeg</item>
  <item name=".mpga">audio/mpeg</item>
  <item name=".mpkg">application/vnd.apple.installer+xml</item>
  <item name=".mpm">application/vnd.blueice.multipass</item>
  <item name=".mpn">application/vnd.mophun.application</item>
  <item name=".mpp">application/vnd.ms-project</item>
  <item name=".mpy">application/vnd.ibm.minipay</item>
  <item name=".mqy">application/vnd.mobius.mqy</item>
  <item name=".mrc">application/marc</item>
  <item name=".mrcx">application/marcxml+xml</item>
  <item name=".mscml">application/mediaservercontrol+xml</item>
  <item name=".mseq">application/vnd.mseq</item>
  <item name=".msf">application/vnd.epson.msf</item>
  <item name=".msh">model/mesh</item>
  <item name=".msl">application/vnd.mobius.msl</item>
  <item name=".msty">application/vnd.muvee.style</item>
  <item name=".mts">model/vnd.mts</item>
  <item name=".mus">application/vnd.musician</item>
  <item name=".musicxml">application/vnd.recordare.musicxml+xml</item>
  <item name=".mvb">application/x-msmediaview</item>
  <item name=".mwf">application/vnd.mfer</item>
  <item name=".mxf">application/mxf</item>
  <item name=".mxl">application/vnd.recordare.musicxml</item>
  <item name=".mxml">application/xv+xml</item>
  <item name=".mxs">application/vnd.triscape.mxs</item>
  <item name=".mxu">video/vnd.mpegurl</item>
  <item name=".n-gage">application/vnd.nokia.n-gage.symbian.install</item>
  <item name=".n3">text/n3</item>
  <item name=".nbp">application/vnd.wolfram.player</item>
  <item name=".nc">application/x-netcdf</item>
  <item name=".ncx">application/x-dtbncx+xml</item>
  <item name=".ngdat">application/vnd.nokia.n-gage.data</item>
  <item name=".nlu">application/vnd.neurolanguage.nlu</item>
  <item name=".nml">application/vnd.enliven</item>
  <item name=".nnd">application/vnd.noblenet-directory</item>
  <item name=".nns">application/vnd.noblenet-sealer</item>
  <item name=".nnw">application/vnd.noblenet-web</item>
  <item name=".npx">image/vnd.net-fpx</item>
  <item name=".nsf">application/vnd.lotus-notes</item>
  <item name=".oa2">application/vnd.fujitsu.oasys2</item>
  <item name=".oa3">application/vnd.fujitsu.oasys3</item>
  <item name=".oas">application/vnd.fujitsu.oasys</item>
  <item name=".obd">application/x-msbinder</item>
  <item name=".oda">application/oda</item>
  <item name=".odb">application/vnd.oasis.opendocument.database</item>
  <item name=".odc">application/vnd.oasis.opendocument.chart</item>
  <item name=".odf">application/vnd.oasis.opendocument.formula</item>
  <item name=".odft">application/vnd.oasis.opendocument.formula-template</item>
  <item name=".odg">application/vnd.oasis.opendocument.graphics</item>
  <item name=".odi">application/vnd.oasis.opendocument.image</item>
  <item name=".odm">application/vnd.oasis.opendocument.text-master</item>
  <item name=".odp">application/vnd.oasis.opendocument.presentation</item>
  <item name=".ods">application/vnd.oasis.opendocument.spreadsheet</item>
  <item name=".odt">application/vnd.oasis.opendocument.text</item>
  <item name=".oga">audio/ogg</item>
  <item name=".ogv">video/ogg</item>
  <item name=".ogx">application/ogg</item>
  <item name=".onetoc">application/onenote</item>
  <item name=".opf">application/oebps-package+xml</item>
  <item name=".org">application/vnd.lotus-organizer</item>
  <item name=".osf">application/vnd.yamaha.openscoreformat</item>
  <item name=".osfpvg">application/vnd.yamaha.openscoreformat.osfpvg+xml</item>
  <item name=".otc">application/vnd.oasis.opendocument.chart-template</item>
  <item name=".otf">application/x-font-otf</item>
  <item name=".otg">application/vnd.oasis.opendocument.graphics-template</item>
  <item name=".oth">application/vnd.oasis.opendocument.text-web</item>
  <item name=".oti">application/vnd.oasis.opendocument.image-template</item>
  <item name=".otp">application/vnd.oasis.opendocument.presentation-template</item>
  <item name=".ots">application/vnd.oasis.opendocument.spreadsheet-template</item>
  <item name=".ott">application/vnd.oasis.opendocument.text-template</item>
  <item name=".oxt">application/vnd.openofficeorg.extension</item>
  <item name=".p">text/x-pascal</item>
  <item name=".p10">application/pkcs10</item>
  <item name=".p12">application/x-pkcs12</item>
  <item name=".p7b">application/x-pkcs7-certificates</item>
  <item name=".p7m">application/pkcs7-mime</item>
  <item name=".p7r">application/x-pkcs7-certreqresp</item>
  <item name=".p7s">application/pkcs7-signature</item>
  <item name=".p8">application/pkcs8</item>
  <item name=".par">text/plain-bas</item>
  <item name=".paw">application/vnd.pawaafile</item>
  <item name=".pbd">application/vnd.powerbuilder6</item>
  <item name=".pbm">image/x-portable-bitmap</item>
  <item name=".pcf">application/x-font-pcf</item>
  <item name=".pcl">application/vnd.hp-pcl</item>
  <item name=".pclxl">application/vnd.hp-pclxl</item>
  <item name=".pcurl">application/vnd.curl.pcurl</item>
  <item name=".pcx">image/x-pcx</item>
  <item name=".pdb">application/vnd.palm</item>
  <item name=".pdf">application/pdf</item>
  <item name=".pfa">application/x-font-type1</item>
  <item name=".pfr">application/font-tdpfr</item>
  <item name=".pgm">image/x-portable-graymap</item>
  <item name=".pgn">application/x-chess-pgn</item>
  <item name=".pgp">application/pgp-signature</item>
  <item name=".pic">image/x-pict</item>
  <item name=".pki">application/pkixcmp</item>
  <item name=".pkipath">application/pkix-pkipath</item>
  <item name=".plb">application/vnd.3gpp.pic-bw-large</item>
  <item name=".plc">application/vnd.mobius.plc</item>
  <item name=".plf">application/vnd.pocketlearn</item>
  <item name=".pls">application/pls+xml</item>
  <item name=".pml">application/vnd.ctc-posml</item>
  <item name=".png">image/png</item>
  <item name=".pnm">image/x-portable-anymap</item>
  <item name=".portpkg">application/vnd.macports.portpkg</item>
  <item name=".potm">application/vnd.ms-powerpoint.template.macroenabled.12</item>
  <item name=".potx">application/vnd.openxmlformats-officedocument.presentationml.template</item>
  <item name=".ppam">application/vnd.ms-powerpoint.addin.macroenabled.12</item>
  <item name=".ppd">application/vnd.cups-ppd</item>
  <item name=".ppm">image/x-portable-pixmap</item>
  <item name=".ppsm">application/vnd.ms-powerpoint.slideshow.macroenabled.12</item>
  <item name=".ppsx">application/vnd.openxmlformats-officedocument.presentationml.slideshow</item>
  <item name=".ppt">application/vnd.ms-powerpoint</item>
  <item name=".pptm">application/vnd.ms-powerpoint.presentation.macroenabled.12</item>
  <item name=".pptx">application/vnd.openxmlformats-officedocument.presentationml.presentation</item>
  <item name=".prc">application/x-mobipocket-ebook</item>
  <item name=".pre">application/vnd.lotus-freelance</item>
  <item name=".prf">application/pics-rules</item>
  <item name=".psb">application/vnd.3gpp.pic-bw-small</item>
  <item name=".psd">image/vnd.adobe.photoshop</item>
  <item name=".psf">application/x-font-linux-psf</item>
  <item name=".pskcxml">application/pskc+xml</item>
  <item name=".ptid">application/vnd.pvi.ptid1</item>
  <item name=".pub">application/x-mspublisher</item>
  <item name=".pvb">application/vnd.3gpp.pic-bw-var</item>
  <item name=".pwn">application/vnd.3m.post-it-notes</item>
  <item name=".pya">audio/vnd.ms-playready.media.pya</item>
  <item name=".pyv">video/vnd.ms-playready.media.pyv</item>
  <item name=".qam">application/vnd.epson.quickanime</item>
  <item name=".qbo">application/vnd.intu.qbo</item>
  <item name=".qfx">application/vnd.intu.qfx</item>
  <item name=".qps">application/vnd.publishare-delta-tree</item>
  <item name=".qt">video/quicktime</item>
  <item name=".qxd">application/vnd.quark.quarkxpress</item>
  <item name=".ram">audio/x-pn-realaudio</item>
  <item name=".rar">application/x-rar-compressed</item>
  <item name=".ras">image/x-cmu-raster</item>
  <item name=".rcprofile">application/vnd.ipunplugged.rcprofile</item>
  <item name=".rdf">application/rdf+xml</item>
  <item name=".rdz">application/vnd.data-vision.rdz</item>
  <item name=".rep">application/vnd.businessobjects</item>
  <item name=".res">application/x-dtbresource+xml</item>
  <item name=".rgb">image/x-rgb</item>
  <item name=".rif">application/reginfo+xml</item>
  <item name=".rip">audio/vnd.rip</item>
  <item name=".rl">application/resource-lists+xml</item>
  <item name=".rlc">image/vnd.fujixerox.edmics-rlc</item>
  <item name=".rld">application/resource-lists-diff+xml</item>
  <item name=".rm">application/vnd.rn-realmedia</item>
  <item name=".rmp">audio/x-pn-realaudio-plugin</item>
  <item name=".rms">application/vnd.jcp.javame.midlet-rms</item>
  <item name=".rnc">application/relax-ng-compact-syntax</item>
  <item name=".rp9">application/vnd.cloanto.rp9</item>
  <item name=".rpss">application/vnd.nokia.radio-presets</item>
  <item name=".rpst">application/vnd.nokia.radio-preset</item>
  <item name=".rq">application/sparql-query</item>
  <item name=".rs">application/rls-services+xml</item>
  <item name=".rsd">application/rsd+xml</item>
  <item name=".rss, .xml">application/rss+xml</item>
  <item name=".rtf">application/rtf</item>
  <item name=".rtx">text/richtext</item>
  <item name=".s">text/x-asm</item>
  <item name=".saf">application/vnd.yamaha.smaf-audio</item>
  <item name=".sbml">application/sbml+xml</item>
  <item name=".sc">application/vnd.ibm.secure-container</item>
  <item name=".scd">application/x-msschedule</item>
  <item name=".scm">application/vnd.lotus-screencam</item>
  <item name=".scq">application/scvp-cv-request</item>
  <item name=".scs">application/scvp-cv-response</item>
  <item name=".scurl">text/vnd.curl.scurl</item>
  <item name=".sda">application/vnd.stardivision.draw</item>
  <item name=".sdc">application/vnd.stardivision.calc</item>
  <item name=".sdd">application/vnd.stardivision.impress</item>
  <item name=".sdkm">application/vnd.solent.sdkm+xml</item>
  <item name=".sdp">application/sdp</item>
  <item name=".sdw">application/vnd.stardivision.writer</item>
  <item name=".see">application/vnd.seemail</item>
  <item name=".seed">application/vnd.fdsn.seed</item>
  <item name=".sema">application/vnd.sema</item>
  <item name=".semd">application/vnd.semd</item>
  <item name=".semf">application/vnd.semf</item>
  <item name=".ser">application/java-serialized-object</item>
  <item name=".setpay">application/set-payment-initiation</item>
  <item name=".setreg">application/set-registration-initiation</item>
  <item name=".sfd-hdstx">application/vnd.hydrostatix.sof-data</item>
  <item name=".sfs">application/vnd.spotfire.sfs</item>
  <item name=".sgl">application/vnd.stardivision.writer-global</item>
  <item name=".sgml">text/sgml</item>
  <item name=".sh">application/x-sh</item>
  <item name=".shar">application/x-shar</item>
  <item name=".shf">application/shf+xml</item>
  <item name=".sis">application/vnd.symbian.install</item>
  <item name=".sit">application/x-stuffit</item>
  <item name=".sitx">application/x-stuffitx</item>
  <item name=".skp">application/vnd.koan</item>
  <item name=".sldm">application/vnd.ms-powerpoint.slide.macroenabled.12</item>
  <item name=".sldx">application/vnd.openxmlformats-officedocument.presentationml.slide</item>
  <item name=".slt">application/vnd.epson.salt</item>
  <item name=".sm">application/vnd.stepmania.stepchart</item>
  <item name=".smf">application/vnd.stardivision.math</item>
  <item name=".smi">application/smil+xml</item>
  <item name=".snf">application/x-font-snf</item>
  <item name=".spf">application/vnd.yamaha.smaf-phrase</item>
  <item name=".spl">application/x-futuresplash</item>
  <item name=".spot">text/vnd.in3d.spot</item>
  <item name=".spp">application/scvp-vp-response</item>
  <item name=".spq">application/scvp-vp-request</item>
  <item name=".src">application/x-wais-source</item>
  <item name=".sru">application/sru+xml</item>
  <item name=".srx">application/sparql-results+xml</item>
  <item name=".sse">application/vnd.kodak-descriptor</item>
  <item name=".ssf">application/vnd.epson.ssf</item>
  <item name=".ssml">application/ssml+xml</item>
  <item name=".st">application/vnd.sailingtracker.track</item>
  <item name=".stc">application/vnd.sun.xml.calc.template</item>
  <item name=".std">application/vnd.sun.xml.draw.template</item>
  <item name=".stf">application/vnd.wt.stf</item>
  <item name=".sti">application/vnd.sun.xml.impress.template</item>
  <item name=".stk">application/hyperstudio</item>
  <item name=".stl">application/vnd.ms-pki.stl</item>
  <item name=".str">application/vnd.pg.format</item>
  <item name=".stw">application/vnd.sun.xml.writer.template</item>
  <item name=".sub">image/vnd.dvb.subtitle</item>
  <item name=".sus">application/vnd.sus-calendar</item>
  <item name=".sv4cpio">application/x-sv4cpio</item>
  <item name=".sv4crc">application/x-sv4crc</item>
  <item name=".svc">application/vnd.dvb.service</item>
  <item name=".svd">application/vnd.svd</item>
  <item name=".svg">image/svg+xml</item>
  <item name=".swf">application/x-shockwave-flash</item>
  <item name=".swi">application/vnd.aristanetworks.swi</item>
  <item name=".sxc">application/vnd.sun.xml.calc</item>
  <item name=".sxd">application/vnd.sun.xml.draw</item>
  <item name=".sxg">application/vnd.sun.xml.writer.global</item>
  <item name=".sxi">application/vnd.sun.xml.impress</item>
  <item name=".sxm">application/vnd.sun.xml.math</item>
  <item name=".sxw">application/vnd.sun.xml.writer</item>
  <item name=".t">text/troff</item>
  <item name=".tao">application/vnd.tao.intent-module-archive</item>
  <item name=".tar">application/x-tar</item>
  <item name=".tcap">application/vnd.3gpp2.tcap</item>
  <item name=".tcl">application/x-tcl</item>
  <item name=".teacher">application/vnd.smart.teacher</item>
  <item name=".tei">application/tei+xml</item>
  <item name=".tex">application/x-tex</item>
  <item name=".texinfo">application/x-texinfo</item>
  <item name=".tfi">application/thraud+xml</item>
  <item name=".tfm">application/x-tex-tfm</item>
  <item name=".thmx">application/vnd.ms-officetheme</item>
  <item name=".tiff">image/tiff</item>
  <item name=".tmo">application/vnd.tmobile-livetv</item>
  <item name=".torrent">application/x-bittorrent</item>
  <item name=".tpl">application/vnd.groove-tool-template</item>
  <item name=".tpt">application/vnd.trid.tpt</item>
  <item name=".tra">application/vnd.trueapp</item>
  <item name=".trm">application/x-msterminal</item>
  <item name=".tsd">application/timestamped-data</item>
  <item name=".tsv">text/tab-separated-values</item>
  <item name=".ttf">application/x-font-ttf</item>
  <item name=".ttl">text/turtle</item>
  <item name=".twd">application/vnd.simtech-mindmapper</item>
  <item name=".txd">application/vnd.genomatix.tuxedo</item>
  <item name=".txf">application/vnd.mobius.txf</item>
  <item name=".txt">text/plain</item>
  <item name=".ufd">application/vnd.ufdl</item>
  <item name=".umj">application/vnd.umajin</item>
  <item name=".unityweb">application/vnd.unity</item>
  <item name=".uoml">application/vnd.uoml+xml</item>
  <item name=".uri">text/uri-list</item>
  <item name=".ustar">application/x-ustar</item>
  <item name=".utz">application/vnd.uiq.theme</item>
  <item name=".uu">text/x-uuencode</item>
  <item name=".uva">audio/vnd.dece.audio</item>
  <item name=".uvh">video/vnd.dece.hd</item>
  <item name=".uvi">image/vnd.dece.graphic</item>
  <item name=".uvm">video/vnd.dece.mobile</item>
  <item name=".uvp">video/vnd.dece.pd</item>
  <item name=".uvs">video/vnd.dece.sd</item>
  <item name=".uvu">video/vnd.uvvu.mp4</item>
  <item name=".uvv">video/vnd.dece.video</item>
  <item name=".vcd">application/x-cdlink</item>
  <item name=".vcf">text/x-vcard</item>
  <item name=".vcg">application/vnd.groove-vcard</item>
  <item name=".vcs">text/x-vcalendar</item>
  <item name=".vcx">application/vnd.vcx</item>
  <item name=".vis">application/vnd.visionary</item>
  <item name=".viv">video/vnd.vivo</item>
  <item name=".vsd">application/vnd.visio</item>
  <item name=".vsf">application/vnd.vsf</item>
  <item name=".vtu">model/vnd.vtu</item>
  <item name=".vxml">application/voicexml+xml</item>
  <item name=".wad">application/x-doom</item>
  <item name=".wav">audio/x-wav</item>
  <item name=".wax">audio/x-ms-wax</item>
  <item name=".wbmp">image/vnd.wap.wbmp</item>
  <item name=".wbs">application/vnd.criticaltools.wbs+xml</item>
  <item name=".wbxml">application/vnd.wap.wbxml</item>
  <item name=".weba">audio/webm</item>
  <item name=".webm">video/webm</item>
  <item name=".webp">image/webp</item>
  <item name=".wg">application/vnd.pmi.widget</item>
  <item name=".wgt">application/widget</item>
  <item name=".wm">video/x-ms-wm</item>
  <item name=".wma">audio/x-ms-wma</item>
  <item name=".wmd">application/x-ms-wmd</item>
  <item name=".wmf">application/x-msmetafile</item>
  <item name=".wml">text/vnd.wap.wml</item>
  <item name=".wmlc">application/vnd.wap.wmlc</item>
  <item name=".wmls">text/vnd.wap.wmlscript</item>
  <item name=".wmlsc">application/vnd.wap.wmlscriptc</item>
  <item name=".wmv">video/x-ms-wmv</item>
  <item name=".wmx">video/x-ms-wmx</item>
  <item name=".wmz">application/x-ms-wmz</item>
  <item name=".woff">application/x-font-woff</item>
  <item name=".wpd">application/vnd.wordperfect</item>
  <item name=".wpl">application/vnd.ms-wpl</item>
  <item name=".wps">application/vnd.ms-works</item>
  <item name=".wqd">application/vnd.wqd</item>
  <item name=".wri">application/x-mswrite</item>
  <item name=".wrl">model/vrml</item>
  <item name=".wsdl">application/wsdl+xml</item>
  <item name=".wspolicy">application/wspolicy+xml</item>
  <item name=".wtb">application/vnd.webturbo</item>
  <item name=".wvx">video/x-ms-wvx</item>
  <item name=".x3d">application/vnd.hzn-3d-crossword</item>
  <item name=".xap">application/x-silverlight-app</item>
  <item name=".xar">application/vnd.xara</item>
  <item name=".xbap">application/x-ms-xbap</item>
  <item name=".xbd">application/vnd.fujixerox.docuworks.binder</item>
  <item name=".xbm">image/x-xbitmap</item>
  <item name=".xdf">application/xcap-diff+xml</item>
  <item name=".xdm">application/vnd.syncml.dm+xml</item>
  <item name=".xdp">application/vnd.adobe.xdp+xml</item>
  <item name=".xdssc">application/dssc+xml</item>
  <item name=".xdw">application/vnd.fujixerox.docuworks</item>
  <item name=".xenc">application/xenc+xml</item>
  <item name=".xer">application/patch-ops-error+xml</item>
  <item name=".xfdf">application/vnd.adobe.xfdf</item>
  <item name=".xfdl">application/vnd.xfdl</item>
  <item name=".xhtml">application/xhtml+xml</item>
  <item name=".xif">image/vnd.xiff</item>
  <item name=".xlam">application/vnd.ms-excel.addin.macroenabled.12</item>
  <item name=".xls">application/vnd.ms-excel</item>
  <item name=".xlsb">application/vnd.ms-excel.sheet.binary.macroenabled.12</item>
  <item name=".xlsm">application/vnd.ms-excel.sheet.macroenabled.12</item>
  <item name=".xlsx">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</item>
  <item name=".xltm">application/vnd.ms-excel.template.macroenabled.12</item>
  <item name=".xltx">application/vnd.openxmlformats-officedocument.spreadsheetml.template</item>
  <item name=".xml">application/xml</item>
  <item name=".xo">application/vnd.olpc-sugar</item>
  <item name=".xop">application/xop+xml</item>
  <item name=".xpi">application/x-xpinstall</item>
  <item name=".xpm">image/x-xpixmap</item>
  <item name=".xpr">application/vnd.is-xpr</item>
  <item name=".xps">application/vnd.ms-xpsdocument</item>
  <item name=".xpw">application/vnd.intercon.formnet</item>
  <item name=".xslt">application/xslt+xml</item>
  <item name=".xsm">application/vnd.syncml+xml</item>
  <item name=".xspf">application/xspf+xml</item>
  <item name=".xul">application/vnd.mozilla.xul+xml</item>
  <item name=".xwd">image/x-xwindowdump</item>
  <item name=".xyz">chemical/x-xyz</item>
  <item name=".yaml">text/yaml</item>
  <item name=".yang">application/yang</item>
  <item name=".yin">application/yin+xml</item>
	<item name=".z">application/x-compress</item>
  <item name=".zaz">application/vnd.zzazz.deck+xml</item>
  <item name=".zip">application/zip</item>
  <item name=".zir">application/vnd.zul</item>
  <item name=".zmm">application/vnd.handheld-entertainment+xml</item>
  <!--<item name=".123">application/vnd.lotus-1-2-3</item>
  <item name=".3dml">text/vnd.in3d.3dml</item>
  <item name=".3g2">video/3gpp2</item>
  <item name=".3gp">video/3gpp</item>
  <item name=".7z">application/x-7z-compressed</item>
  <item name=".aab">application/x-authorware-bin</item>
  <item name=".aac">audio/x-aac</item>
  <item name=".aam">application/x-authorware-map</item>
  <item name=".aas">application/x-authorware-seg</item>
  <item name=".abw">application/x-abiword</item>
  <item name=".ac">application/pkix-attr-cert</item>
  <item name=".acc">application/vnd.americandynamics.acc</item>
  <item name=".ace">application/x-ace-compressed</item>
  <item name=".acu">application/vnd.acucobol</item>
  <item name=".adp">audio/adpcm</item>
  <item name=".aep">application/vnd.audiograph</item>
  <item name=".afp">application/vnd.ibm.modcap</item>
  <item name=".ahead">application/vnd.ahead.space</item>
  <item name=".ai">application/postscript</item>
  <item name=".aif">audio/x-aiff</item>
  <item name=".air">application/vnd.adobe.air-application-installer-package+zip</item>
  <item name=".ait">application/vnd.dvb.ait</item>
  <item name=".ami">application/vnd.amiga.ami</item>
  <item name=".apk">application/vnd.android.package-archive</item>
  <item name=".application">application/x-ms-application</item>
  <item name=".apr">application/vnd.lotus-approach</item>
  <item name=".asf">video/x-ms-asf</item>
  <item name=".aso">application/vnd.accpac.simply.aso</item>
  <item name=".atc">application/vnd.acucorp</item>
  <item name=".atom, .xml">application/atom+xml</item>
  <item name=".atomcat">application/atomcat+xml</item>
  <item name=".atomsvc">application/atomsvc+xml</item>
  <item name=".atx">application/vnd.antix.game-component</item>
  <item name=".au">audio/basic</item>
  <item name=".avi">video/x-msvideo</item>
  <item name=".aw">application/applixware</item>
  <item name=".azf">application/vnd.airzip.filesecure.azf</item>
  <item name=".azs">application/vnd.airzip.filesecure.azs</item>
  <item name=".azw">application/vnd.amazon.ebook</item>-->
</Resource>