.title1-editor {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0px 20px 0px;
}

.title2-editor {
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0px 16px 0px;
}

.title3-editor {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.subtitle-editor {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

.text-editor {
    font-size: 12px;
    margin: 8px 0px 8px 0px;
}