.RadAutoCompleteBox_Metro {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Metro .racTokenList {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Metro .racDisabled {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Metro .racToken {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadAutoCompleteBox_Metro .racTokenHovered {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadAutoCompleteBox_Metro .racTokenSelected {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadAutoCompleteBox_Metro .racDisabled .racToken {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
  .RadAutoCompleteBox_Metro .racRemoveTokenLink {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1342px; }
  * + html .RadAutoCompleteBox_Metro .racInput {
    color: #000000;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Metro .racEmptyMessage {
    color: #bbbbbb; }
  .RadAutoCompleteBox_Metro .racLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Metro {
  border-color: #cdcdcd;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Metro .racHeader,
  .RadAutoCompleteBoxPopup_Metro .racFooter {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e8e8e8; }
  .RadAutoCompleteBoxPopup_Metro .racShowAll {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e8e8e8; }
  .RadAutoCompleteBoxPopup_Metro .racItemHovered {
    color: #000000;
    background-color: #e8e8e8; }
