.RadComboBox_Metro {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Metro .rcbInputCell, .RadComboBox_Metro .rcbArrowCell {
    height: 20px;
    border-width: 1px;
    border-style: solid; }
  .RadComboBox_Metro table td.rcbInputCell, .RadComboBox_Metro table td.rcbArrowCell {
    border-width: 1px; }
  .RadComboBox_Metro .rcbInputCell {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #ffffff; }
  .RadComboBox_Metro table td.rcbInputCellLeft {
    border-right-width: 0; }
  .RadComboBox_Metro table td.rcbInputCellRight {
    border-left-width: 0; }
  .RadComboBox_Metro .rcbInput {
    height: 17px;
    color: #000000;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Metro .rcbEmptyMessage {
    color: #bbbbbb; }
  .RadComboBox_Metro .rcbArrowCell {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadComboBox_Metro .rcbArrowCell a {
    width: 16px;
    height: 20px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -20px;
    background-repeat: no-repeat; }
  .RadComboBox_Metro .rcbArrowCellHidden, .RadComboBox_Metro .rcbArrowCellHidden a {
    width: 0; }
  .RadComboBox_Metro .rcbArrowCellHidden.rcbArrowCellLeft {
    border-right-width: 0; }
  .RadComboBox_Metro .rcbArrowCellHidden.rcbArrowCellRight {
    border-left-width: 0; }
  .RadComboBox_Metro .rcbReadOnly .rcbArrowCellLeft {
    border-right-width: 0; }
  .RadComboBox_Metro .rcbReadOnly .rcbArrowCellRight {
    border-left-width: 0; }
  .RadComboBox_Metro .rcbHovered .rcbInputCell {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #ffffff; }
  .RadComboBox_Metro .rcbHovered .rcbInput {
    color: #000000; }
  .RadComboBox_Metro .rcbHovered .rcbArrowCell {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadComboBox_Metro .rcbHovered .rcbArrowCell a {
    background-position: -2px -20px; }
  .RadComboBox_Metro .rcbFocused .rcbInputCell {
    border-color: #25a0da;
    color: #000000;
    background-color: #ffffff; }
  .RadComboBox_Metro .rcbFocused .rcbInput {
    color: #000000; }
  .RadComboBox_Metro .rcbFocused .rcbArrowCell {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadComboBox_Metro .rcbFocused .rcbArrowCell a {
    background-position: -42px -20px; }
  .RadComboBox_Metro .rcbReadOnly .rcbInputCell {
    border-color: #e5e5e5;
    background-color: #f9f9f9;
    color: #000000; }
  .RadComboBox_Metro .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbInputCell {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadComboBox_Metro .rcbHovered .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Metro .rcbFocused .rcbReadOnly .rcbInputCell {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadComboBox_Metro .rcbFocused .rcbReadOnly .rcbInput {
    color: #ffffff; }

.RadComboBoxDropDown_Metro {
  border-color: #e5e5e5;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Metro .rcbHovered {
    color: #000000;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .RadComboBoxDropDown_Metro .rcbLoading {
    color: #000000;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbItem em {
    color: #000000;
    background-color: #e8e8e8; }
  .RadComboBoxDropDown_Metro .rcbCheckAllItems {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_Metro .rcbMoreResults {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #f9f9f9; }
  .RadComboBoxDropDown_Metro .rcbSeparator {
    border-bottom: 1px solid #cdcdcd;
    color: #333333;
    background: #f9f9f9; }
