.RadDropDownList_Metro {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_Metro .rddlInner {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadDropDownList_Metro .rddlEmptyMessage,
  .RadDropDownList_Metro .rddlDefaultMessage {
    color: #bbbbbb; }
  .RadDropDownList_Metro .rddlIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -20px; }
  .RadDropDownList_Metro .rddlHovered {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
    .RadDropDownList_Metro .rddlHovered .rddlIcon {
      background-position: -2px -20px; }
  .RadDropDownList_Metro .rddlFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
    .RadDropDownList_Metro .rddlFocused .rddlIcon {
      background-position: -42px -20px; }

.rddlPopup_Metro {
  border-color: #cdcdcd;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddlPopup_Metro .rddlHeader,
  .rddlPopup_Metro .rddlFooter {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e8e8e8; }
  .rddlPopup_Metro .rddlItemHovered {
    color: #000000;
    background-color: #e8e8e8; }
  .rddlPopup_Metro .rddlItemSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .rddlPopup_Metro .rddlItemLoading {
    color: #000000;
    background-color: #e8e8e8; }
