.RadDropDownTree_Metro {
  color: #000000;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Metro .rddtInner {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadDropDownTree_Metro .rddtEmptyMessage {
    color: #bbbbbb;
    font-style: italic; }
  .RadDropDownTree_Metro .rddtClearButton {
    background-position: -2px -124px; }
  .RadDropDownTree_Metro .rddtIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px; }
  .RadDropDownTree_Metro .rddtHovered {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
    .RadDropDownTree_Metro .rddtHovered .rddtClearButton {
      background-position: -22px -124px; }
      .RadDropDownTree_Metro .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -124px; }
    .RadDropDownTree_Metro .rddtHovered .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_Metro .rddtFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
    .RadDropDownTree_Metro .rddtFocused .rddtClearButton {
      background-position: -42px -124px; }
      .RadDropDownTree_Metro .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -124px; }
    .RadDropDownTree_Metro .rddtFocused .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_Metro .rddtDisabled {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
    .RadDropDownTree_Metro .rddtDisabled .rddtIcon {
      background-position: -1px -20px; }

.rddtPopup_Metro {
  border-color: #cdcdcd;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_Metro .rddtHeader,
  .rddtPopup_Metro .rddtFooter {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e8e8e8; }
  .rddtPopup_Metro .rddtFilter {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e8e8e8; }
    .rddtPopup_Metro .rddtFilter .rddtFilterInput {
      font: 12px "Segoe UI", Arial, Helvetica, sans-serif;
      border-color: #e5e5e5;
      color: #000000;
      background-color: #ffffff; }
    .rddtPopup_Metro .rddtFilter .rddtFilterEmptyMessage {
      color: #bbbbbb;
      font-style: italic; }
  .rddtPopup_Metro .RadTreeView em {
    color: #000000;
    background-color: #e8e8e8; }
