.RadImageGallery_Metro {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: black; }
  .RadImageGallery_Metro .rigDescriptionBox {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7); }
  .RadImageGallery_Metro .rigToolbar,
  .RadImageGallery_Metro .rigCloseButton,
  .RadImageGallery_Metro .rigDrawerButton {
    background-color: #e5e5e5;
    background-color: rgba(229, 229, 229, 0.9);
    color: #767676; }
  .RadImageGallery_Metro .rigProgressBar div {
    background-color: #25a0da; }
  .RadImageGallery_Metro .rigPager {
    background-color: white;
    color: black; }
    .RadImageGallery_Metro .rigPager a {
      color: black; }
    .RadImageGallery_Metro .rigPager a.rigCurrentPage {
      color: #000;
      border-color: #898989;
      background: #fff; }
  .RadImageGallery_Metro .rigIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadImageGallery_Metro .rigDotList > a {
    border-color: #e5e5e5; }
  .RadImageGallery_Metro .rigDotList a span {
    background-color: #e5e5e5; }
  .RadImageGallery_Metro .rigDotList a.rigCurrentItem span {
    background-color: #25a0da;
    border-color: #e5e5e5; }
  .RadImageGallery_Metro .rigTooltip {
    background-color: white;
    border-color: #cdcdcd; }
    .RadImageGallery_Metro .rigTooltip:after {
      border-top-color: white; }
  .RadImageGallery_Metro input.rigNextButton {
    right: 0; }
  .RadImageGallery_Metro input.rigPrevButton {
    left: 0; }
  .RadImageGallery_Metro .rigPrevButton,
  .RadImageGallery_Metro .rigNextButton,
  .RadImageGallery_Metro .rigScrollPrevIcon,
  .RadImageGallery_Metro .rigScrollNextIcon,
  .RadImageGallery_Metro .rigCloseIcon {
    background-image: url('LightBox/sprite.png'); }
  .RadImageGallery_Metro .rigPrevButton {
    background-position: 0 -140px; }
  .RadImageGallery_Metro .rigNextButton {
    background-position: -60px -140px; }
  .RadImageGallery_Metro .rigScrollPrevIcon {
    background-position: -79px  -49px; }
  .RadImageGallery_Metro .rigScrollNextIcon {
    background-position: -104px -49px; }
  .RadImageGallery_Metro.RadImageGallery_RightOutside .rigScrollPrevIcon,
  .RadImageGallery_Metro.RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Metro .rigThumbnailsBoxVertical .rigScrollPrevIcon,
  .RadImageGallery_Metro .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -62px -89px; }
  .RadImageGallery_Metro .RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Metro .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -96px -89px; }
  .RadImageGallery_Metro .rigCloseIcon {
    background-position: -79px -12px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigCloseIcon {
    background-position: -101px -12px; }
  .RadImageGallery_Metro .rigDrawerIcon {
    background-position: -52px -60px; }
  .RadImageGallery_Metro .rigPlayIcon {
    background-position: -39px -1999px; }
  .RadImageGallery_Metro .rigPauseIcon {
    background-position: -39px -2019px; }
  .RadImageGallery_Metro .rigFullScrIcon {
    background-position: -39px -2099px; }
  .RadImageGallery_Metro .rigExtFullScrIcon {
    background-position: -39px -2119px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigPlayIcon {
    background-position: -19px -1999px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigPauseIcon {
    background-position: -19px -2019px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigFullScrIcon {
    background-position: -19px -2099px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigExtFullScrIcon {
    background-position: -19px -2119px; }
  .RadImageGallery_Metro .rigShowThumbnIcon {
    background-position: -40px -2159px; }
  .RadImageGallery_Metro .rigHideThumbnIcon {
    background-position: -40px -2179px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigShowThumbnIcon {
    background-position: -20px -2159px; }
  .RadImageGallery_Metro .rigActionButton:hover .rigHideThumbnIcon {
    background-position: -20px -2179px; }
