.RadLightBox_Metro {
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadLightBox_Metro .rltbWrapper {
    background: #ffffff; }
  .RadLightBox_Metro .rltbDescriptionBox {
    color: #000000; }
  .RadLightBox_Metro .rltbPager {
    color: #767676; }
  .RadLightBox_Metro .rltbDescOverlayTop,
  .RadLightBox_Metro .rltbDescOverlayBottom {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    color: black; }
    .RadLightBox_Metro .rltbDescOverlayTop .rltbPager,
    .RadLightBox_Metro .rltbDescOverlayBottom .rltbPager {
      color: #4d4d4d; }
  .RadLightBox_Metro .rltbToolbar .rltbActionButton {
    background: #25a0da;
    border: 1px solid #25a0da; }
    .RadLightBox_Metro .rltbToolbar .rltbActionButton:hover {
      border-color: #25a0da;
      background: white; }
  .RadLightBox_Metro .rltbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadLightBox_Metro .rltbMaximizeIcon {
    background-position: 0px -2100px; }
  .RadLightBox_Metro .rltbRestoreIcon {
    background-position: 0px -2120px; }
  .RadLightBox_Metro .rltbActionButton:hover .rltbMaximizeIcon {
    background-position: -20px -2100px; }
  .RadLightBox_Metro .rltbActionButton:hover .rltbRestoreIcon {
    background-position: -20px -2120px; }
  .RadLightBox_Metro .rltbClose,
  .RadLightBox_Metro .rltbCloseIcon,
  .RadLightBox_Metro .rltbPrevButton,
  .RadLightBox_Metro .rltbNextButton {
    background-image: url('LightBox/sprite.png'); }
  .RadLightBox_Metro .rltbClose {
    background-position: 0 -89px; }
  .RadLightBox_Metro .rltbCloseButton:hover .rltbCloseIcon {
    background-position: -40px 0; }
  .RadLightBox_Metro .rltbPrevButton {
    background-position: -40px -40px; }
  .RadLightBox_Metro .rltbNextButton {
    background-position: 0 -40px; }
