.RadListBox_Metro {
  color: #000000;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 18px; }
  .RadListBox_Metro .rlbGroup,
  .RadListBox_Metro .rlbTemplateContainer {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #ffffff; }
  .RadListBox_Metro .rlbHeader,
  .RadListBox_Metro .rlbFooter {
    border-color: #e5e5e5; }
  .RadListBox_Metro .rlbHeader {
    font-weight: 700; }
  .RadListBox_Metro .rlbHighlight {
    color: #000000;
    background-color: #e8e8e8; }
  .RadListBox_Metro .rlbItem.rlbHovered {
    color: #000000;
    background-color: #e8e8e8; }
  .RadListBox_Metro .rlbItem.rlbSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .RadListBox_Metro .rlbEmptyMessage {
    color: #bbbbbb; }
  .RadListBox_Metro .rlbCheckAllItems {
    padding: 2px 5px;
    color: #333333;
    background-color: #f9f9f9; }
  .RadListBox_Metro .rlbCheckAllItemsHovered {
    color: #333333;
    background-color: #e8e8e8; }
  .RadListBox_Metro .rlbDropClue {
    background-image: url('ListBox/rlbDropClue.png'); }
  .RadListBox_Metro .rlbDropClueAbove {
    border-top-color: #8e8e8e; }
  .RadListBox_Metro .rlbDropClueBelow {
    border-bottom-color: #8e8e8e; }
  .RadListBox_Metro .rlbButton {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9;
    height: 20px;
    border-width: 1px;
    border-style: solid; }
    .RadListBox_Metro .rlbButton:hover {
      border-color: #e5e5e5;
      color: #000000;
      background-color: #e5e5e5; }
    .RadListBox_Metro .rlbButton:active {
      border-color: #25a0da;
      color: #ffffff;
      background-color: #25a0da; }
    .RadListBox_Metro .rlbButton .rlbButtonBL,
    .RadListBox_Metro .rlbButton .rlbButtonBR,
    .RadListBox_Metro .rlbButton .rlbButtonTR,
    .RadListBox_Metro .rlbButton .rlbButtonTL {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      display: block;
      position: static; }
    .RadListBox_Metro .rlbButton .rlbButtonText {
      padding-top: 0;
      height: 20px;
      background: url('ListBox/rlbSprite.png') no-repeat;
      line-height: 20px;
      position: static; }
  .RadListBox_Metro .rlbNoButtonText {
    padding: 0;
    width: 20px; }
    .RadListBox_Metro .rlbNoButtonText .rlbButtonBL,
    .RadListBox_Metro .rlbNoButtonText .rlbButtonBR,
    .RadListBox_Metro .rlbNoButtonText .rlbButtonTR,
    .RadListBox_Metro .rlbNoButtonText .rlbButtonTL {
      width: 20px;
      height: 20px; }
    .RadListBox_Metro .rlbNoButtonText .rlbButtonText {
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      display: block;
      position: static; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbNoButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbNoButtonText {
    padding: 0; }
  .RadListBox_Metro .rlbDisabled,
  .RadListBox_Metro .rlbDisabled:hover,
  .RadListBox_Metro .rlbDisabled:active {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadListBox_Metro .rlbMoveUp .rlbButtonText {
    background-position: 0 0; }
  .RadListBox_Metro .rlbMoveUp:active .rlbButtonText {
    background-position: -400px 0; }
  .RadListBox_Metro .rlbMoveUpDisabled .rlbButtonText,
  .RadListBox_Metro .rlbMoveUpDisabled:hover .rlbButtonText {
    background-position: -200px 0; }
  .RadListBox_Metro .rlbMoveDown .rlbButtonText {
    background-position: 0 -25px; }
  .RadListBox_Metro .rlbMoveDown:active .rlbButtonText {
    background-position: -400px -25px; }
  .RadListBox_Metro .rlbMoveDownDisabled .rlbButtonText,
  .RadListBox_Metro .rlbMoveDownDisabled:hover .rlbButtonText {
    background-position: -200px -25px; }
  .RadListBox_Metro .rlbMoveToTop .rlbButtonText {
    background-position: 0 -275px; }
  .RadListBox_Metro .rlbMoveToTop:active .rlbButtonText {
    background-position: -400px -275px; }
  .RadListBox_Metro .rlbMoveToTopDisabled .rlbButtonText,
  .RadListBox_Metro .rlbMoveToTopDisabled:hover .rlbButtonText {
    background-position: -200px -275px; }
  .RadListBox_Metro .rlbMoveToBottom .rlbButtonText {
    background-position: 0 -300px; }
  .RadListBox_Metro .rlbMoveToBottom:active .rlbButtonText {
    background-position: -400px -300px; }
  .RadListBox_Metro .rlbMoveToBottomDisabled .rlbButtonText,
  .RadListBox_Metro .rlbMoveToBottomDisabled:hover .rlbButtonText {
    background-position: -200px -300px; }
  .RadListBox_Metro .rlbDelete .rlbButtonText {
    background-position: 0 -50px; }
  .RadListBox_Metro .rlbDelete:active .rlbButtonText {
    background-position: -400px -50px; }
  .RadListBox_Metro .rlbDeleteDisabled .rlbButtonText,
  .RadListBox_Metro .rlbDeleteDisabled:hover .rlbButtonText {
    background-position: -200px -50px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
    background-position: 0 -100px; }
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
    background-position: 0 -75px; }
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferFrom:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferTo:active .rlbButtonText {
    background-position: -400px -100px; }
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferTo:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferFrom:active .rlbButtonText {
    background-position: -400px -75px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -100px; }
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -75px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -150px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText {
    background-position: 0 -125px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllTo:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllFrom:active .rlbButtonText {
    background-position: -400px -150px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllFrom:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllTo:active .rlbButtonText {
    background-position: -400px -125px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllToDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllFromDisabled:active .rlbButtonText {
    background-position: -200px -150px; }
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaRight .rlbTransferAllFromDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaLeft .rlbTransferAllToDisabled:active .rlbButtonText {
    background-position: -200px -125px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText {
    background-position: 0 -200px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
    background-position: 0 -175px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferFrom:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferTo:active .rlbButtonText {
    background-position: -400px -200px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferTo:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferFrom:active .rlbButtonText {
    background-position: -400px -175px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferFromDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferToDisabled:active .rlbButtonText {
    background-position: -200px -200px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferToDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferFromDisabled:active .rlbButtonText {
    background-position: -200px -175px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText {
    background-position: 0 -250px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
    background-position: 0 -225px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllFrom:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllTo:active .rlbButtonText {
    background-position: -400px -250px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllTo:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllFrom:active .rlbButtonText {
    background-position: -400px -225px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllFromDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllToDisabled:active .rlbButtonText {
    background-position: -200px -250px; }
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaTop .rlbTransferAllToDisabled:active .rlbButtonText,
  .RadListBox_Metro .rlbButtonAreaBottom .rlbTransferAllFromDisabled:active .rlbButtonText {
    background-position: -200px -225px; }

.RadListBox_Metro .rlbHighlight {
  color: #000000;
  background-color: #e8e8e8; }
