.RadUploadProgressArea_Metro {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Metro .ruProgressHeader {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadUploadProgressArea_Metro .ruActions {
    border-color: #cdcdcd;
    color: black;
    background-color: #e8e8e8; }
  .RadUploadProgressArea_Metro .ruButton {
    border-color: #cdcdcd;
    color: black;
    background-color: #f9f9f9;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Metro .ruButtonHover {
    border-color: #e5e5e5;
    color: black;
    background-color: #e5e5e5; }
  .RadUploadProgressArea_Metro .ruProgress {
    border-color: #e5e5e5;
    color: #767676;
    background-color: #ffffff; }
  .RadUploadProgressArea_Metro .ruCurrentFile {
    color: #767676; }
  .RadUploadProgressArea_Metro .ruBar {
    border-color: #25a0da; }
    .RadUploadProgressArea_Metro .ruBar div {
      border-color: #25a0da;
      background-image: url('Upload/ruProgress.gif'); }
