.RadRibbonBar_Metro {
  font: 11px "Segoe UI", Arial, sans-serif;
  background-color: #25a0da; }
  .RadRibbonBar_Metro .rrbContentWrapIn {
    border: 0; }

.RadRibbonBar_Metro .rrbButtonOut, .RadRibbonBar_Metro .rrbButtonMid, .RadRibbonBar_Metro .rrbButtonIn {
  border-color: transparent; }

.RadRibbonBar_Metro .rrbButtonArea .rrbCollapsedGroup, .RadRibbonBar_Metro .rrbCollapsedGroup .rrbButtonMid {
  background-color: #e4e4e4;
  border-color: #999; }

.RadRibbonBar_Metro .rrbDecoration, .RadRibbonBar_Metro .rrbDecoration .rrbButtonMid {
  background-color: #fff;
  border-color: #cdcdcd; }

.RadRibbonBar_Metro .rrbDetachedContainer .rrbContentWrapOut, .RadRibbonBar_Metro .rrbDetachedContainer .rrbContentWrapMid {
  border-color: #e5e5e5;
  background-color: #ffffff; }

.RadRibbonBar_Metro a.rrbButtonStripPart, .RadRibbonBar_Metro a.rrbButtonStripPart .rrbButtonMid {
  border-color: #cccccc;
  background-color: #ffffff; }

.RadRibbonBar_Metro a.rrbButtonHovered, .RadRibbonBar_Metro a.rrbButtonOut:hover, .RadRibbonBar_Metro a.a.rrbButtonHovered .rrbButtonMid, .RadRibbonBar_Metro a.rrbButtonOut:hover .rrbButtonMid, .RadRibbonBar_Metro a.a.rrbButtonHovered, .RadRibbonBar_Metro a.rrbButtonStripPart:hover, .RadRibbonBar_Metro a.a.rrbButtonHovered .rrbButtonMid, .RadRibbonBar_Metro a.rrbButtonStripPart:hover .rrbButtonMid {
  border-color: #cccccc;
  color: #000000;
  background-color: #e5e5e5; }

.RadRibbonBar_Metro .rrbButtonArea a.rrbCollapsedGroup:hover, .RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbButtonMid {
  border-color: #cccccc;
  background-color: #e5e5e5; }

.RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbDecoration, .RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbDecoration .rrbButtonMid {
  border-color: #cccccc;
  background-color: #e5e5e5; }

.RadRibbonBar_Metro .rrbButtonClicked, .RadRibbonBar_Metro .rrbButtonClicked .rrbButtonMid, .RadRibbonBar_Metro div.rrbButtonGroup .rrbToggled, .RadRibbonBar_Metro div.rrbButtonGroup .rrbToggled .rrbButtonMid, .RadRibbonBar_Metro a.rrbExpanded, .RadRibbonBar_Metro a.rrbExpanded .rrbButtonMid, .RadRibbonBar_Metro a.rrbButtonClicked:hover, .RadRibbonBar_Metro a.rrbButtonClicked:hover .rrbButtonMid, .RadRibbonBar_Metro a.rrbButtonClicked:hover .rrbButtonOut {
  border-color: #25a0da;
  color: #ffffff;
  background-color: #25a0da; }

.RadRibbonBar_Metro .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup, .RadRibbonBar_Metro .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup .rrbButtonMid {
  border-color: #25a0da;
  background-color: #25a0da; }

.RadRibbonBar_Metro a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration, .RadRibbonBar_Metro a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration .rrbButtonMid {
  border-color: #25a0da;
  background-color: #25a0da; }

.RadRibbonBar_Metro .rrbButtonOut, .RadRibbonBar_Metro .rrbButtonStripPart {
  color: #000000; }

.RadRibbonBar_Metro .rrbTabs {
  background: #25a0da;
  border-bottom: 0; }
.RadRibbonBar_Metro .rrbApplicationTab .rrbTabLabel {
  border-color: #e5e5e5;
  color: #000000;
  background-color: #f9f9f9; }
.RadRibbonBar_Metro .rrbHeaderBar {
  border-color: #e5e5e5;
  background-color: #f9f9f9; }
.RadRibbonBar_Metro .rrbContextualTab .rrbContextualTabLabel {
  color: #ffffff;
  background-image: none; }
.RadRibbonBar_Metro .rrbTab .rrbTabLabel {
  border-color: transparent;
  color: #ffffff; }
.RadRibbonBar_Metro .rrbHoveredTab .rrbTabLabel {
  border-color: #ffffff; }
.RadRibbonBar_Metro .rrbSelectedTab .rrbTabLabel {
  color: #767676;
  border-color: #ffffff;
  background: #ffffff; }
.RadRibbonBar_Metro .rrbMenu .rrbMenuLabel {
  color: #333333;
  background-color: #f9f9f9; }
.RadRibbonBar_Metro .rrbToolTip {
  border-color: #cccccc;
  color: #000000;
  background-color: #e5e5e5;
  background-image: none; }
.RadRibbonBar_Metro .rrbToggleHandle {
  background-position: -2px -622px; }
.RadRibbonBar_Metro.rrbMinimized .rrbToggleHandle, .RadRibbonBar_Metro.rrbExtendedChromeMinimized .rrbToggleHandle {
  background-position: -2px -662px; }
.RadRibbonBar_Metro .rrbButtonArea {
  background-color: #ffffff; }
.RadRibbonBar_Metro .rrbResizeHandle {
  background-position: -5px -885px; }
.RadRibbonBar_Metro .rrbGroupLauncher {
  background-position: -6px -1926px; }
.RadRibbonBar_Metro .rrbButtonGroupIn {
  border-color: #e5e5e5; }
.RadRibbonBar_Metro .rrbCollapsedGroup .rrbGroupToggleIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbCollapsedGroup .rrbGroupIcon {
  border-color: #e5e5e5; }

.RadRibbonBar_Metro .rrbQatButton, .RadRibbonBar_Metro .rrbButtonOut, .RadRibbonBar_Metro .rrbSplitButton:hover .rrbButtonArrow, .RadRibbonBar_Metro .rrbButtonStripPart, .RadRibbonBar_Metro .rrbComboBox .rrbActionButton, .RadRibbonBar_Metro .rrbDropDown .rrbActionButton, .RadRibbonBar_Metro .rrbNumericTextBox .rrbActionButton, .RadRibbonBar_Metro .rrbColorPicker .rrbActionButton, .RadRibbonBar_Metro .rrbDropDown .rrbDDInner, .RadRibbonBar_Metro .rrbColorPicker .rrbCPInner, .RadRibbonBar_Metro .rrbGalleryAction {
  border-color: #e5e5e5;
  color: #000000;
  background-color: #f9f9f9; }

.RadRibbonBar_Metro .rrbQatButton, .RadRibbonBar_Metro .rrbButtonOut {
  border-color: transparent;
  background-color: transparent; }

.RadRibbonBar_Metro .rrbQatButton:hover, .RadRibbonBar_Metro .rrbButtonOut:hover, .RadRibbonBar_Metro .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_Metro .rrbSplitButton .rrbButtonArrow:hover, .RadRibbonBar_Metro .rrbButtonStripPart:hover, .RadRibbonBar_Metro .rrbComboBox .rrbActionButton:hover, .RadRibbonBar_Metro .rrbDropDown .rrbActionButton:hover, .RadRibbonBar_Metro .rrbNumericTextBox .rrbActionButton:hover, .RadRibbonBar_Metro .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_Metro .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Metro .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Metro .rrbGalleryAction:hover, .RadRibbonBar_Metro .rrbGalleryItemHovered, .rrbSlide_Metro .rrbGalleryItemHovered {
  border-color: #e5e5e5;
  color: #000000;
  background-color: #e5e5e5; }

.RadRibbonBar_Metro .rrbQatButton:active, .RadRibbonBar_Metro .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_Metro .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_Metro .rrbButtonOut.rrbToggled, .RadRibbonBar_Metro .rrbExpanded .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Metro .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Metro .rrbButtonStripPart:active, .RadRibbonBar_Metro .rrbButtonStripPart.rrbButtonClicked, .RadRibbonBar_Metro .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_Metro .rrbComboBox .rrbActionButton:active, .RadRibbonBar_Metro .rrbDropDown .rrbActionButton:active, .RadRibbonBar_Metro .rrbNumericTextBox .rrbActionButton:active, .RadRibbonBar_Metro .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_Metro .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Metro .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Metro .rrbGalleryAction:active, .RadRibbonBar_Metro .rrbGalleryItemSelected, .rrbSlide_Metro .rrbGalleryItemSelected {
  border-color: #25a0da;
  color: #ffffff;
  background-color: #25a0da; }

.RadRibbonBar_Metro .rrbMenu, .RadRibbonBar_Metro .rrbMenuGroupMid, .rrbDropDownSlide_Metro .rrbPopup, .rrbSlide_Metro .rrbPopup, .rrbPopup_Metro, .rrbPopup_Metro .rrbPopup {
  border-color: #cdcdcd;
  color: #000000;
  background-color: #ffffff;
  border-color: #999999;
  background-color: #ffffff; }

.RadRibbonBar_Metro .rrbMenu .rrbMenuItem, .RadRibbonBar_Metro .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_Metro .rrbMenuItem .rrbMIInner, .rrbPopup_Metro .rrbMenuItem .rrbMIToggle {
  color: #000000; }

.RadRibbonBar_Metro .rrbMenu .rrbMenuItem:hover, .RadRibbonBar_Metro .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_Metro .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_Metro .rrbMIHovered > .rrbMIInner, .rrbPopup_Metro .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_Metro .rrbMIExpanded > .rrbMIInner {
  color: #000000;
  background-color: #e8e8e8; }

.RadRibbonBar_Metro .rrbMenuGroupOut .rrbButtonOut.rrbExpanded, .RadRibbonBar_Metro .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_Metro .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  color: #ffffff;
  background-color: #25a0da; }

.RadRibbonBar_Metro .rrbIcon, .RadRibbonBar_Metro .rrbToggleHandle, .RadRibbonBar_Metro .rrbResizeHandle, .RadRibbonBar_Metro .rrbGroupLauncher, .RadRibbonBar_Metro .rrbGroupToggleIcon {
  background-image: url('Common/radActionsSprite.png'); }
.RadRibbonBar_Metro .rrbButtonOut .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbMenuGroupMid {
  box-shadow: 3px 2px 3px #888; }
.RadRibbonBar_Metro .rrbComboBox .rrbCBInner {
  border-color: #cdcdcd;
  background-color: #ffffff; }
.RadRibbonBar_Metro .rrbComboBox .rrbCBInput {
  color: #000000; }
.RadRibbonBar_Metro .rrbComboBox .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbDropDown .rrbActionButton, .RadRibbonBar_Metro .rrbDropDown .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Metro .rrbDropDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbNumericTextBox .rrbNTBInner {
  border-color: #cdcdcd;
  background-color: #ffffff; }
.RadRibbonBar_Metro .rrbNumericTextBox .rrbNTBInput {
  color: #000000; }
.RadRibbonBar_Metro .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -2px -402px; }
.RadRibbonBar_Metro .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbColorPicker .rrbActionButton, .RadRibbonBar_Metro .rrbColorPicker .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Metro .rrbColorPicker .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Metro .rrbGallery {
  border-color: #e5e5e5;
  background-color: #ffffff; }
.RadRibbonBar_Metro .rrbGalleryActionUp .rrbIcon {
  background-position: -2px -2px; }
.RadRibbonBar_Metro .rrbGalleryActionDown .rrbIcon {
  background-position: -2px -22px; }
.RadRibbonBar_Metro .rrbGalleryActionExpand .rrbIcon {
  background-position: -2px -182px; }
.RadRibbonBar_Metro .rrbCategoryTitle {
  color: #333333;
  background-color: #f9f9f9; }
.RadRibbonBar_Metro .rrbGalleryItemInner {
  color: #000000;
  background-color: #ffffff; }

.rrbDropDownSlide_Metro .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbDropDownSlide_Metro .rrbListItem:hover {
  color: #000000;
  background-color: #e8e8e8; }

.rrbSlide_Metro .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbSlide_Metro .rrbGallery {
  background-color: #ffffff; }
.rrbSlide_Metro .rrbCategoryTitle {
  color: #333333;
  background-color: #f9f9f9; }
.rrbSlide_Metro .rrbGalleryItemInner {
  color: #000000;
  background-color: #ffffff; }

.rrbPopup_Metro {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rrbPopup_Metro .rrbHeaderBar {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .rrbPopup_Metro .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .rrbPopup_Metro .rrbDisabled > .rrbMIInner {
    color: #767676;
     }
  .rrbPopup_Metro .rrbHeader {
    border-color: #c5c5c5;
    background: #ebebeb; }
  .rrbPopup_Metro .rrbAuxiliaryPane {
    background: #eeeeee;
    border-color: #8a8a8a; }
  .rrbPopup_Metro .rrbFooterPane {
    border-color: #c5c5c5;
    background: #ebebeb; }
