.RadSearchBox_Metro {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Metro .rsbInner {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #ffffff;
    line-height: 16px; }
  .RadSearchBox_Metro .rsbEmptyMessage {
    color: #bbbbbb; }
  .RadSearchBox_Metro .rsbButton:hover {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadSearchBox_Metro .rsbButton:active {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadSearchBox_Metro .rsbButtonSearch .rsbIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1882px; }
  .RadSearchBox_Metro .rsbButtonSearch:active .rsbIcon {
    background-position: -42px -1882px; }
  .RadSearchBox_Metro .rsbSCInner {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f9f9f9; }
  .RadSearchBox_Metro .rsbSCIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -422px; }
  .RadSearchBox_Metro .rsbSCHovered {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadSearchBox_Metro .rsbSCFocused {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadSearchBox_Metro .rsbSCDisabled {
    border-color: #e6e6e6;
    color: #767676;
    background-color: #fcfcfc; }
  .RadSearchBox_Metro .rsbLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.rsbPopup_Metro {
  border-color: #e5e5e5;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rsbPopup_Metro .rsbShowAll {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #f9f9f9; }
  .rsbPopup_Metro .rsbListItemHovered {
    color: #000000;
    background-color: #e8e8e8; }
  .rsbPopup_Metro .rsbListItemSelected {
    color: #ffffff;
    background-color: #25a0da; }
  .rsbPopup_Metro .rsbListItemLoading {
    color: #000000;
    background-color: #e8e8e8; }
