.RadSocialShare_Metro {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #cdcdcd;
  background-color: white;
  border-radius: 0; }
  .RadSocialShare_Metro .sshLinkItem .sshText {
    color: #767676; }
  .RadSocialShare_Metro .sshLinkItem:hover .sshText {
    color: black; }

.RadComboBoxDropDown_Metro .rcbItem .sshLinkItem .sshText {
  color: #767676; }

.RadComboBoxDropDown_Metro .rcbHovered .sshLinkItem .sshText {
  color: black; }

div.RadComboBox_Metro.sshComboWrapper table td.rcbArrowCell {
  background-image: none;
  background-color: transparent;
  border-left-color: transparent; }

