.RadSplitter_Metro {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Borders */
  /* When ShowContentDuringLoad="false" */
  /* RadSlidingPane tab */
  /* RadSplitBar/RadSlidingPane resize elements */
  /* RadSlidingPane tab */
  /* RadSlidingPane header elements */
  /* RadSlidingPane buttons */
  /* RadSplitBar buttons */
  /* RadSlidingPane buttons */
  /* RadSlidingPane title text */ }
  .RadSplitter_Metro,
  .RadSplitter_Metro .rspPaneTabContainer,
  .RadSplitter_Metro .rspPane,
  .RadSplitter_Metro .rspResizeBar,
  .RadSplitter_Metro .rspSlideContainerResize,
  .RadSplitter_Metro .rspPaneHorizontal,
  .RadSplitter_Metro .rspResizeBarHorizontal,
  .RadSplitter_Metro .rspSlideContainerResizeHorizontal {
    border-color: #cdcdcd; }
  .RadSplitter_Metro .rspLoading {
    background-image: url('Common/loading.gif'); }
  .RadSplitter_Metro .rspResizeBarOver,
  .RadSplitter_Metro .rspSlideContainerResizeOver {
    border-right-color: #25a0da; }
  .RadSplitter_Metro .rspResizeBarOverHorizontal,
  .RadSplitter_Metro .rspSlideContainerResizeOverHorizontal {
    border-bottom-color: #25a0da; }
  .RadSplitter_Metro .rspPaneTabContainer,
  .RadSplitter_Metro .rspSlideHeader,
  .RadSplitter_Metro .rspSlideTitleContainer {
    background-color: #25a0da; }
  .RadSplitter_Metro .rspResizeBar,
  .RadSplitter_Metro .rspSlideContainerResize,
  .RadSplitter_Metro .rspResizeBarHorizontal,
  .RadSplitter_Metro .rspSlideContainerResizeHorizontal {
    background-color: #e8e8e8; }
  .RadSplitter_Metro .rspSlideTitleContainer,
  .RadSplitter_Metro .rspSlideHeaderIconWrapper {
    background-color: white; }
  .RadSplitter_Metro .rspResizeBarOver,
  .RadSplitter_Metro .rspSlideContainerResizeOver,
  .RadSplitter_Metro .rspResizeBarOverHorizontal,
  .RadSplitter_Metro .rspSlideContainerResizeOverHorizontal {
    background-color: #25a0da; }
  .RadSplitter_Metro td.rspTop .rspPaneTabContainer,
  .RadSplitter_Metro td.rspBottom .rspPaneTabContainer {
    border-width: 1px; }
  .RadSplitter_Metro .rspPaneTabContainer {
    border-color: #25a0da; }
  .RadSplitter_Metro .rspPaneTabContainerExpanded,
  .RadSplitter_Metro .rspPaneTabContainerDocked {
    background-color: white;
    border-color: #cdcdcd; }
  .RadSplitter_Metro .rspSlideTitleContainer,
  .RadSplitter_Metro .rspSlideHeaderIconWrapper {
    border-bottom: 1px solid #cdcdcd; }
  .RadSplitter_Metro .rspSlideHeaderDockIcon,
  .RadSplitter_Metro .rspSlideHeaderUndockIcon,
  .RadSplitter_Metro .rspSlideHeaderCollapseIcon,
  .RadSplitter_Metro .rspCollapseBarExpand,
  .RadSplitter_Metro .rspCollapseBarCollapse,
  .RadSplitter_Metro .rspCollapseBarHorizontalExpand,
  .RadSplitter_Metro .rspCollapseBarHorizontalCollapse {
    background-image: url('Splitter/ExpandCollapseBarsCommands.gif'); }
  .RadSplitter_Metro .rspCollapseBarCollapseOver,
  .RadSplitter_Metro .rspCollapseBarExpandOver,
  .RadSplitter_Metro .rspCollapseBarHorizontalExpandOver,
  .RadSplitter_Metro .rspCollapseBarHorizontalCollapseOver,
  .RadSplitter_Metro .rspTabsContainer {
    background-color: #25a0da; }
  .RadSplitter_Metro td.rspSlideTitle,
  .RadSplitter_Metro span.rspPaneTabText {
    font: normal 14px "Segoe UI", Arial, Sans-serif;
    color: white; }
  .RadSplitter_Metro td.rspSlideTitle,
  .RadSplitter_Metro .rspPaneTabContainerExpanded .rspPaneTabText {
    color: black; }
  .RadSplitter_Metro .rspPaneTabContainerDocked .rspPaneTabText {
    color: #767676; }

