.RadTagCloud_Metro {
  border: 1px dotted #cdcdcd;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Loading image */ }
  .RadTagCloud_Metro .rtcTagList {
    color: black; }
    .RadTagCloud_Metro .rtcTagList .rtcTagItem a {
      color: black; }
    .RadTagCloud_Metro .rtcTagList .rtcTagItem a:hover {
      background: #e8e8e8;
      color: black; }
    .RadTagCloud_Metro .rtcTagList .rtcTagItem a:active {
      background: #25a0da;
      color: white; }
  .RadTagCloud_Metro.rtcLoading {
    background-image: url('Common/loading_small.gif'); }

