.RadToolBar_Metro {
  color: #000000;
  background-color: #f9f9f9;
  font-size: 12px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_Metro .rtbOuter {
    border-color: #e5e5e5;
    background-color: #f9f9f9; }
  .RadToolBar_Metro .rtbWrap {
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    *color: #000000; }
  .RadToolBar_Metro .rtbOut, .RadToolBar_Metro .rtbMid, .RadToolBar_Metro .rtbIn {
    padding: 0; }
  .RadToolBar_Metro .rtbText {
    padding: 0; }
  .RadToolBar_Metro .rtbChoiceArrow {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -20px; }
  .RadToolBar_Metro .rtbItemClicked .rtbChoiceArrow, .RadToolBar_Metro .rtbSplBtnExpanded .rtbChoiceArrow, .RadToolBar_Metro .rtbDropDownExpanded .rtbChoiceArrow {
    background-position: -42px -20px; }
  .RadToolBar_Metro .rtbItemHovered .rtbWrap {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #e5e5e5; }
  .RadToolBar_Metro .rtbChecked .rtbWrap, .RadToolBar_Metro .rtbItemClicked .rtbWrap {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadToolBar_Metro .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Metro .rtbDropDownExpanded .rtbWrap {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadToolBar_Metro .rtbItemFocused .rtbWrap {
    border-color: #25a0da;
    box-shadow: 0 0 3px 1px #25a0da inset; }
  .RadToolBar_Metro .rtbSeparator {
    border-width: 0;
    background-color: #e5e5e5; }

.RadToolBarDropDown_Metro {
  border-color: #cdcdcd;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBarDropDown_Metro.rtbNoBackground {
    border-width: 1px;
    background-color: #ffffff; }
  .RadToolBarDropDown_Metro .rtbWrap {
    *color: #000000; }
  .RadToolBarDropDown_Metro .rtbItemHovered .rtbWrap {
    border-color: #e8e8e8;
    color: #000000;
    background-color: #e8e8e8; }
  .RadToolBarDropDown_Metro .rtbItemClicked .rtbWrap {
    border-color: #25a0da;
    color: #ffffff;
    background-color: #25a0da; }
  .RadToolBarDropDown_Metro .rtbSeparator {
    border-width: 0;
    background-color: #e5e5e5; }
  .RadToolBarDropDown_Metro .rtbShadows, .RadToolBarDropDown_Metro .rtbRoundedCorners {
    padding: 0; }
  .RadToolBarDropDown_Metro .rtbTopLeft, .RadToolBarDropDown_Metro .rtbTopRight, .RadToolBarDropDown_Metro .rtbBottomLeft, .RadToolBarDropDown_Metro .rtbBottomRight, .RadToolBarDropDown_Metro .rtbTopFix, .RadToolBarDropDown_Metro .rtbBottomFix, .RadToolBarDropDown_Metro .rtbTopShadowLeft, .RadToolBarDropDown_Metro .rtbTopShadowRight, .RadToolBarDropDown_Metro .rtbBottomShadowLeft, .RadToolBarDropDown_Metro .rtbBottomShadowRight {
    display: none; }
