.TreeNode 
{ 
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: normal;
	color: black;
	margin-left: 3px;
}

.TreeNodeOver 
{ 
	font-family: Verdana, Arial;
	font-size: 12px;
	font-weight: normal;
	color: black;
	margin-left: 3px;
}

.TreeNodeSelect 
{ 
	font-weight: normal;
	font-size: 12px;
	color: navy;
	font-family: Verdana, Arial;
	cursor: pointer;
	cursor: hand;
	margin-left: 3px;	
}

.TreeNodeDisabled
{ 
	font-weight: normal;
	font-size: 12px;
	color: dimgray;
	font-family: Verdana, Arial;
	margin-left: 3px;
	cursor: default;
}

.TreeContextItem
{ 
	font-family: Arial, Verdana;
	font-size:12px;
	cursor: default;
	cursor: hand;
	padding-left:4px;
	height:24px;
	background-color:#F6F6F6;
	background-image:url(itemsBg.gif);
	background-repeat:repeat-y;
	width:130px;
	padding-top:1px;
}

.TreeContextItemOver
{
	font-family: Arial, Verdana;
	font-size:12px;
	cursor: default;
	cursor: hand;
	padding-left:4px;
	height:24px;
	background-color: #FFEEC2;
	border: 1px solid #000080;
	width:130px;
}