<div class="filterinner">
    <span class="title" ng-show="filter.Label!=''">{{filter.Label}}:</span>    
    <span class="content">
        <select class="input" name="{{filter.Name}}_select" ng-model="filter.Selected" ng-change="setFiltersChange(filter,'select')" ng-disabled="value.Disabled" ng-options="value.Id as value.Name for value in filter.Values"></select>
        <input type="text" name="{{filter.Name}}_text" class="input" ng-model-onblur ng-model="filter.Value" ng-change="setFiltersChange(filter,'text')" />
    </span>
</div>  