<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property> <!--MsSql2008Dialect-->
    <property name="connection.connection_string">Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#_NotificationService;User ID=#NOME_UTENTE#;Password=#PASSWORD#</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    <mapping assembly="lm.Notification.Core"/>
  </session-factory>
</hibernate-configuration>