<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBconnection" value="NotificationService"/>
    <add key="DefaultTimeToLive" value="1200"/>
    <add key="CacheClassName" value="lm.Comol.Core.Cache.HttpCache"/>
  </appSettings>
  <connectionStrings>
    <add name="NotificationService" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#_NotificationService;User ID=#NOME_UTENTE#;Password=#PASSWORD#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WS_Notifications.NotificationsManagementBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WS_Notifications.NotificationsManagementBehavior" name="WS_Notifications.NotificationsManagement">
        <endpoint address="" binding="wsHttpBinding" contract="lm.Notification.DataContract.Service.iManagementService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_iNotificationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_iNotificationService1">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://127.0.0.1/private/lm_Notification"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iNotificationService"
        contract="SRVnotification.iNotificationService" name="NetMsmqBinding_iNotificationService" />
      <endpoint address="net.msmq://127.0.0.1/private/lm_Notification"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iNotificationService1"
        contract="SRVnotification.iNotificationService" name="NetMsmqBinding_iNotificationService1" />
    </client>
  </system.serviceModel>
</configuration>