body
{
}
.TitoloServizio
{
	font-weight: bolder;
	font-size: 14px;
	color: navy;
	font-family: Verdana,Arial,Tahoma,Helvetica,sans-serif;
}

.Titolo_campo
{	
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
	color: navy;
}

.Pulsante
{
	font-weight: bold;
	font-size: 12px;
	color: blue;
	font-family: Verdana, Arial,Tahoma,Helvetica,sans-serif;
	background-color: lavender;
}

.Testo_campo
{	
	font-family: Verdana, Arial;
	font-size: 10px;
	font-weight: normal;
	color: black;
}

.Righe_Alternate_center_Small
{
	font-size: 9px;
	background: url(images/separatore.gif) lavender fixed repeat-x left bottom;
	color: darkblue;
	font-family: Verdana, Arial;
	text-align: center;
}


.Riga_Header_Small
{
	font-weight: bold;
	font-size: 9px;
	color: navy;
	font-family: Verdana, Arial;
	background-color: aquamarine;
	text-align: center;
}

.Righe_Normali_center_Small
{
	font-family: Verdana, Arial;
	font-size: 9px;	
	color: Black;
	background: url(images/separatore.gif) #fff7e5 fixed repeat-x left bottom;
	background-color: White;
	text-align: center;

}

.Riga_Paginazione_Small
{
	font-size: 8px;
	color: blue;
	font-family: Verdana, Arial;
	background-color: white;
}
