<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- Connessione a DB SQL Server (su  aries) 
	I primi 4 valori sono da mantenere nell'ordine corrente
	Il 5° valore indica il tipo di provider dati da selezionare. 
	-->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Comunita_OnLine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="knowledgetutor" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=knowledgetutor;Persist Security Info=True;User ID=#USER_ID#;Password=#PASSWORD#" providerName="System.Data.SqlClient" />
    <add name="Esse3Connection" connectionString="DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = #IP_ADEVICO_SERVER#)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = test)));PASSWORD=test;PERSIST SECURITY INFO=False;USER ID=test" providerName="System.Data.OracleClient" />
    <add name="statistiche" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=Statistiche;Persist Security Info=True;User ID=#NOME_UTENTE#;Password=#PASSWORD#;" providerName="System.Data.SqlClient" />
    <add name="comol" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#;User ID=#NOME_UTENTE#;Password=#PASSWORD#" providerName="System.Data.SqlClient" />
    <add name="scormplayer" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#_Player;Persist Security Info=True;User ID=#NOME_UTENTE#;Password=#PASSWORD#" providerName="System.Data.SqlClient" />
    <add name="userActions" connectionString="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#_UserActions;User ID=#NOME_UTENTE#;Password=#PASSWORD#" providerName="System.Data.SqlClient" />
    <!-- TeStZero_2008R2 -->
  </connectionStrings>
    
  <dataConfiguration defaultDatabase="comol" />
  <appSettings>
    <add key="External" value="" />
    <add key="Internal" value="" />
    <add key="SuperUser" value="" />
    <add key="Admin" value="Data Source=#IP_ADEVICO_SERVER#;Initial Catalog=#CATALOG_NAME#;User ID=#NOME_UTENTE#;Password=#PASSWORD#" />
    <add key="aspnet:MaxHttpCollectionKeys" value="30000" />
    <add key="LDAPproviderClassName" value="COL_BusinessLogic_v2.LDAPgenerics.UNITNldap" />
    <add key="LdapDomainName" value="DC=abo,DC=fi" />
    <add key="LdapLogin" value="" />
    <add key="LdapPwd" value="" />
    <add key="Provider" value="SQLCLient" />
    <add key="SMTPServer" value="#IP_SMPTP#" />
    <add key="ProviderDateTime" value="en" />
    <add key="ProviderLanguage" value="it" />
    <add key="configFile" value="Config_Sviluppo" />
    <add key="configPath" value="Root" />
    <add key="LogPath" value="c:\COL_logFile" />
    <add key="Comunita_OnLine.Aree.MaxDimensione" value="4000" />
    <add key="defaultCulture" value="it-IT" />
    <add key="ApplicationRealPath" value="E:\Projects\Adevico.LMS_MIT\1-WebApplication\AdevicoWeb" />
    <add key="languageFilePath" value="E:\Projects\Adevico.LMS_MIT\1-WebApplication\AdevicoWeb\Risorse_XML" />
    <add key="ConfigurationPath" value="E:\Projects\Adevico.LMS_MIT\1-WebApplication\AdevicoWeb\Risorse_XML\" />
    <add key="LanguageSettingsPath" value="Root" />
    <add key="LanguageSettingsFile" value="Config_Sviluppo" />
    <add key="ConfigurationFile" value="Config\Config_Sviluppo.config" />
    <add key="ConfigurationIcon" value="Config\IconeFile.config" />
    <add key="ConfigurationMime" value="Config\TipiDownload.config" />
    <add key="ConfigurationTags" value="Config\Config_Tag.config" />
    <add key="ConfigurationSmartTags" value="Config\Config_SmartTag.config" />
    <add key="ConfigurationFileCSV" value="Config\Config_CSV.config" />
    <add key="ConfigurationQuiz" value="Config\Config_Questionari.config" />
    <add key="MailTempServer" value="none.edutech.it" />
    <add key="MailTempSenderName" value="ErroriSviluppo" />
    <add key="MailTempSender" value="ErroriSviluppo@mail.it" />
    <add key="MailTempReplyTo" value="ErroriSviluppo@mail.it" />
    <add key="Telerik.RadUpload.TempFolder" value="E:\Projects\Adevico.LMS_MIT\1-WebApplication\tempUpload" />
    <add key="isImpersonate" value="false" />
    <add key="EditorConfigurations" value="Risorse_XML/Config/Editor/Sviluppo/" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  
  
  </appSettings>
  <system.web>
    <machineKey validationKey="512D0082FE01F4AD2176326C37E532B3C8FD7347416159D316D5E3902480F91CEE55A5B9F5C39D66AA91A36CC78C58ADA90FE8A6F46DBA76CF7C0B554FF750A1" decryptionKey="77D0E8947CEF0ECA596EF239A3FF32432F90234293D1BFFE23B27D6E2F86D7CB" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolKit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="800096" executionTimeout="3600" />
    <!--  COMPILAZIONE CON DEBUG DINAMICO
		  Impostare compilation debug="true" per inserire i simboli di debug (informazioni .pdb)
		  nella pagina compilata. Poiché questo comporta la creazione di un file più grande e più lento da eseguire,
		  si consiglia di impostare il valore true solo durante il debug e di usare
		  false in tutti gli altri casi. Per ulteriori informazioni, vedere la documentazione relativa
		  al debug dei file ASP .NET.
	-->
    <!-- 
	  Set compilation debug="true" to insert debugging 
	  symbols into the compiled page. Because this 
	  affects performance, set this value to true only 
	  during development.
	-->
    <compilation defaultLanguage="vb" debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--  MESSAGGI DI ERRORE PERSONALIZZATI
		  Per abilitare l'utilizzo dei messaggi di errore personalizzati, impostare customErrors mode="On" o "RemoteOnly". Per disabilitare questa funzione, impostare "Off" . 
		  Aggiungere un tag <error> per ciascun errore da gestire.
	-->
    <customErrors mode="RemoteOnly" />
    <!--  AUTENTICAZIONE 
		  Questa sezione imposta i criteri di autenticazione dell'applicazione. Le modalità supportate sono: "Windows", 
		  "Forms", "Passport" e "None"
	-->
    <!--
	  The <authentication> section enables configuration 
	  of the security authentication mode used by 
	  ASP.NET to identify an incoming user. 
	-->
    <authentication mode="Windows" />
    <!--  AUTORIZZAZIONE 
		  Questa sezione imposta i criteri di autorizzazione dell'applicazione. È possibile consentire o negare l'accesso
		  alle risorse dell'applicazione in base all'utente o al ruolo. Il carattere jolly "*" indica "tutti", mentre "?" indica gli utenti anonimi 
		  (non autenticati).
	-->
    <authorization>
      <allow users="*" />
      <!-- Operazioni consentite a tutti gli utenti -->
      <!--  <allow     users="[elenco di utenti separati da virgole]"
							 roles="[elenco di ruoli separati da virgole]"/>
				  <deny      users="[elenco di utenti separati da virgole]"
							 roles="[elenco di ruoli separati da virgole]"/>
			-->
    </authorization>
    <!--  REGISTRAZIONE ANALISI A LIVELLO DI APPLICAZIONE
		  L'analisi a livello di applicazione permette di registrare l'output dell'analisi per ogni singola pagina dell'applicazione. 
		  Per abilitare la registrazione dell'analisi a livello di applicazione, impostare trace enabled="true". Se pageOutput="true",
		  le informazioni fornite dell'analisi verranno visualizzate in fondo a ogni pagina. In caso contrario, per vedere
		  la registrazione dell'analisi sarà necessario aprire nel browser la pagina "trace.axd",
		  che si trova nella radice dell'applicazione Web. 
	-->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  IMPOSTAZIONI RELATIVE ALLO STATO DI SESSIONE
		  In base all'impostazione predefinita, ASP .NET utilizza i cookie per identificare la sessione a cui appartengono le richieste. 
		  Se i cookie non sono disponibili, è possibile aggiungere un identificatore di sessione all'URL. 
		  Per disabilitare i cookie, impostare sessionState cookieless="true".
	-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;User ID=#USER_ID#;password=" cookieless="false" timeout="120" />
    <!--  GLOBALIZZAZIONE
		  Questa sezione specifica le impostazioni di globalizzazione dell'applicazione. 
	-->
    <globalization culture="it-IT" requestEncoding="utf-8" uiCulture="it-IT" />
    <identity impersonate="false" userName="none" password="none" />
    <!--
	  The <customErrors> section enables configuration 
	  of what to do if/when an unhandled error occurs 
	  during the execution of a request. Specifically, 
	  it enables developers to configure html error pages 
	  to be displayed in place of a error stack trace.

	<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
	  <error statusCode="403" redirect="NoAccess.htm" />
	  <error statusCode="404" redirect="FileNotFound.htm" />
	</customErrors>
	-->
    <httpHandlers>
      <add path="*.repository" verb="*" type="PresentationLayer.HTTPhandler_DownloadRepositoryItem,COL_PresentationLayer" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DataContext" type="lm.Comol.UI.Presentation.SessionModule, lm.Comol.UI.Presentation" />
      <add name="HTTPscormModule" type="PresentationLayer.HTTPscormModule,COL_PresentationLayer" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <!--<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />-->
    </httpModules>
  </system.web>
  <!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
  <location path="Modules/Repository/CommunityRepositoryManagement.aspx">
    <system.web>
      <httpRuntime executionTimeout="999999" maxRequestLength="2097151" />
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name=".repository" path="*.repository" verb="*" type="PresentationLayer.HTTPhandler_DownloadRepositoryItem,COL_PresentationLayer" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="AsyncRepositoryHandler" path="*.download" verb="*" type="Comunita_OnLine.AsyncRepositoryHandler" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="819298304" />
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="DebugAccess.aspx" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <profileService enabled="true" readAccessProperties="propertyname1,propertyname2" writeAccessProperties="propertyname1,propertyname2" />
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSactionStatisticsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="965536" maxBufferSize="10000000" maxReceivedMessageSize="10000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSuserActionsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WsBlogComolSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WS_ChatSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UserOnlineSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="965536" maxReceivedMessageSize="965536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="NotificationManagementSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RoomServiceSoap11Binding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UserServiceSoap11Binding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="RoomServiceSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="UserServiceSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_iErrorsNotificationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_iNotificationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_iServiceMailSender" deadLetterQueue="System" durable="true" exactlyOnce="true" useMsmqTracing="false" queueTransferProtocol="Native" useActiveDirectory="false">
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetMsmqBinding_iNotificationsManagerService">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceUserAccessMonitor" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="965536" maxReceivedMessageSize="965536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_iManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IServicePermission" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IInstantMessengerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Graph">
          <dataContractSerializer maxItemsInObjectGraph="50000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/AdevicoMerge_WS_ActionsStatistics/ServiceStatistics.asmx" behaviorConfiguration="Graph" binding="basicHttpBinding" bindingConfiguration="WSactionStatisticsSoap" contract="WSstatistics.WSactionStatisticsSoap" name="WSactionStatisticsSoap" />
      <endpoint address="http://localhost/AdevicoMerge_WS_ActionsStatistics/ServiceUserAccessMonitor.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceUserAccessMonitor" contract="SRV_accessMonitor.IServiceUserAccessMonitor" name="WSHttpBinding_IServiceUserAccessMonitor">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
        <endpoint address="http://localhost/AdevicoMerge_WS_Action/UserActions.asmx" binding="basicHttpBinding" bindingConfiguration="WSuserActionsSoap" contract="WS_Actions.WSuserActionsSoap" name="WSuserActionsSoap" />
        <endpoint address="http://localhost/AdevicoMerge_WS_Action/UserOnline.asmx" binding="basicHttpBinding" bindingConfiguration="UserOnlineSoap" contract="WS_OnLine.UserOnlineSoap" name="UserOnlineSoap" />

        
        <endpoint address="http://localhost/AdevicoMerge_WS_Chat/WS_Chat.asmx" binding="basicHttpBinding" bindingConfiguration="WS_ChatSoap" contract="WS_Chat.WS_ChatSoap" name="WS_ChatSoap" />
        <!--ToDo-->
        <endpoint address="http://localhost/AdevicoMerge_WS_BlogComol/wsblogcomol.asmx" binding="basicHttpBinding" bindingConfiguration="WsBlogComolSoap" contract="WS_Blog.WsBlogComolSoap" name="WsBlogComolSoap" />
        
      
      
      <endpoint address="http://localhost/AdevicoMerge_WS_Notifications/NotificationManagement.asmx" binding="basicHttpBinding" bindingConfiguration="NotificationManagementSoap" contract="WSremoteManagement.NotificationManagementSoap" name="NotificationManagementSoap" />
      
        <endpoint address="http://localhost/WCF_AdevicoCoreServices/ServicePermission.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicePermission" contract="PermissionService.IServicePermission" name="WSHttpBinding_IServicePermission">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  

        <endpoint address="http://localhost:2205/InstantMessengerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInstantMessengerService" contract="InstantMessangerService.IInstantMessengerService" name="WSHttpBinding_IInstantMessengerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  
        
        
      <endpoint address="net.msmq://localhost/private/advmerge_errors" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iErrorsNotificationService" contract="ErrorsNotificationService.iErrorsNotificationService" name="NetMsmqBinding_iErrorsNotificationService" />
      <endpoint address="net.msmq://localhost/private/advmerge_usernotification" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iNotificationService" contract="NotificationService.iNotificationService" name="NetMsmqBinding_iNotificationService" />
       <endpoint address="net.msmq://localhost/private/advmerge_mail" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iServiceMailSender" contract="SrvMailSender.iServiceMailSender" name="NetMsmqBinding_iServiceMailSender" />
      <endpoint address="net.msmq://localhost/private/advmerge_centralnotificationscollector" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_iNotificationsManagerService" contract="SrvNotifications.iNotificationsManagerService" name="NetMsmqBinding_iNotificationsManagerService" />
        
     
    </client>
  </system.serviceModel>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.724.40" newVersion="2014.2.724.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
