body {
}

#toolbar {
	background-color: red;
}

#tools ul li#greetings {
	color: lightGray;
	font-weight: normal;
}

#toolbar a {
	color: white;
	font-weight: normal;
}

#notifications ul li {
    background-color: red;
}

#notifications {
    background-color: red;
}

#notifications ul li .sub {
    background-color: red;
}