﻿.filters .input-group input,
.filters .input-group .input-group-btn {
/*    height: 10px;*/
}


div.filters .sectionheader  div.right {
    width: 49%;
    text-align: right;
}

.filters .input-group .input-group-btn .btn.btn-default {
    padding-top: 1px;
    padding-bottom: 1px;
    color: #888;
	text-decoration: none;
	font-weight: normal !important;
	font-style: normal!important;

}


.filters .filtercontainer div.filter .content{
  max-width:700px;
}

.filters .filtercontainer div.filter .content .input-group{
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin-bottom:4px;
  margin-right:10px;
}

.filters .input-group input.form-control {
    padding-top: 1px;
    padding-bottom: 1px;
}


.filters .filtercontainer div.filter div.fieldrow label.fieldlabel {
	width: 200px !important;
	font-weight: normal;
	font-style: normal;
}

.filters .filtercontainer div.fieldobject.filter {
	margin: 0;
}

.filters .filtercontainer div.fieldobject.filter input.inputtext {
	width: 300px;
}

.filtercontainer .filter {
    margin-bottom:1.4em !important;
}

.filtercontainer .filter.select.choosen {
    margin-bottom:2em !important;
	/*min-height:50px;*/
	height:auto;
}

.filtercontainer .filter select.chzn-select{
  width:800px;
}

div.filtercontainer div.filter div.chzn-drop{
	width:798px !important;
}

.filtercontainer .filter ul.chzn-results{
	width:100% !important;
}

.filtercontainer .filter input.input {
    line-height: 1em;
    padding: 1px 3px;
}

.filtercontainer .filter.textselect input {    
    min-width: 30px !important;
    width:100px;
}

.filtercontainer .filter.textselect select {    
    width:100px !important;
    min-width: 30px !important;
}

.filtercontainer .filter.grid_12.textx2select input {    
    min-width: 30px !important;
    width:150px;
}

/*.filtercontainer .filter.grid_12.textx2select [type="checkbox"],
.filtercontainer .filter.grid_12.textx2select [type="radio"] {    
    min-width: 0px !important;
    width: auto !important;
}*/

.filtercontainer .filter.grid_12 .RadDateTimePicker input {
	width: 110px !important;
}

.filtercontainer .filter.grid_12.textx2select select {    
    max-width:280px !important;
    min-width: 200px !important;   
    margin-right:10px !important;
}

.filtercontainer .filter.grid_12.textx2select .input-group.datetimepicker label.label {
    margin-left: 32px;
}

.filtercontainer .filter.grid_12.textx2select .input-group.datetimepicker:nth-of-type(1) label.label,
.filtercontainer .filter.grid_12.textx2select .input-group.datetimepicker.first label.label {
    margin-left: 0px;
}