/* @override 
	http:///Skins/4/Login.css
	https:///Skins/4/Login.css */


/* ---- Skin Login Demo Unitn Updated 11.11.2013 ---- */
/* ------ Richiede defaultlogin.css ------ */

/* @group Page layout */

body.internal_body  {
  font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;	
}

form.mainForm
{
	background-color: #fff;
}
div#page-box {
	background-color: #fff;
}

div#container {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#header {
	background-color: #fff;
	height: 97px;
	border-top: 34px solid #81C560;
}

#header img#logo {
	margin-top: 12px;
}

#branding img.logo {
	margin-top: 0;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	padding-top: 15px;
}

div#top-content {
	background-color: #bd3e7f;
	/*border-bottom: 1px solid #e7e7e7;*/
	height: 34px;
	margin-top: 20px;
}

div#middle-content {
	background-color: #fff;
}

div#bottom-content {
	background-color: #fff;
}

/* @end */

/* @group Tools */

div#tools {
	background-color: #transparent;
	color: #666;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	line-height: 1em;
	height: 36px;
}

div#tools a {
	color: #eee;
	text-decoration: none;
	line-height: 1.4em;
}

div#tools a:hover {
	color: #fff;
	text-decoration: underline;
}

div#tools ul li {
	background-color: transparent;
}

div#tools li a.menu {
	background-image: url(./images/i-triangle_login.png) !important;
	background-position: right 0.4em !important;
	padding-right: 15px;
	padding-left: 0;
}

div#tools li a.help {
	background: url(./images/help_login.png) no-repeat left center;
	padding-left: 24px;
	padding-top: 3px;
}

div#tools li#Top_Lang {
	background: url(./images/globe_login.png) no-repeat left center;
	padding-left: 24px;
}

div#tools li#Top_Lang a {
	background-image: url(./images/i-triangle-sprite.png);
	background-position: right -174px;
	padding-right: 15px;
	text-decoration: none;
	cursor: default;
}

div#tools li#Top_Lang ul.sub li a {
	background-image: none;
	padding-left: 0;
	cursor: pointer;
}

div#tools ul li ul.sub {
	background-color: #c7c7c7;
	top: 23px;
	left: 0;
	font-weight: normal;
	font-style: normal;
	padding-left: 0;
	padding-bottom: 4px;
	border-top: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.300);
}

div#tools ul li ul.sub li a:hover {
	color: #fff;
	background-color: #005591 !important;
	background: -moz-linear-gradient(left, #005591 0%, #436389 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005591), color-stop(100%,#436389));
	background: -webkit-linear-gradient(left, #005591 0%,#436389 100%);
	background: -o-linear-gradient(left, #005591 0%,#436389 100%);
	background: -ms-linear-gradient(left, #005591 0%,#436389 100%);
	background: linear-gradient(left, #005591 0%,#436389 100%);
}

div#tools ul li li.first a {
	border-top: 1px solid #c7c7c7;
}

/* icons */

div#tools li a.home {
	background: url(./images/i-home.png) top left no-repeat;
}

div#tools li a.menu {
	background: url(./images/i-triangle.png) top left no-repeat;
}

/* @end */

/* @group Form */

div#form {
	background-color: #fff;
}

div#form  h2 {
	color: #005591;
	font-size: 1.2em;
	margin: 1em 0;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 55, 91, 0.3);
	font-weight: normal;
	font-style: normal;
}

div#form div#submit-feedback span {
	color: #56493f;
	background-color: #fff3b7;
	background: -moz-linear-gradient(top, #fff3b7 0%, #ffe57c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3b7), color-stop(100%,#ffe57c));
	background: -webkit-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: -o-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: -ms-linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	background: linear-gradient(top, #fff3b7 0%,#ffe57c 100%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #797669;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2),
		inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}

div#form div#submit-feedback span.invisible {
	display: none;
}

div#form div#submit-feedback a,
div#form div#submit-feedback a:visited {
	font-weight: bold;
	color: #56493f !important;
	text-decoration: none;
	border-bottom: 1px dotted #56493f;
}

div#form div#submit-feedback a:hover {
	border-bottom: 1px solid #56493f;
}

/* @end */

/* @group Form inputs */

div#form input,
div#form span.submit {
	display: inline-block;
}

div#form input,
div#form span.submit a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
}

div#form input {
	line-height: 2em;
	padding-left: 6px;
	color: #52606d;
	background-color: #e6e9ed;
	border: 1px solid #565656;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	vertical-align: bottom;
}

div#form input.jq_watermark {
	line-height: 2em;
	padding-left: 6px;
	color: #52606d;
	background-color: #e6e9ed;
	border: 1px solid #565656;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 1px rgba(0,0,0,0.5);
	vertical-align: bottom;
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#form .info-label {
	color: #777;
	font-size: 0.9em;
}

div#form .info-text {
	color: #777;
	font-size: 0.9em;
	margin: 0.5em	 0;
}

*+html div#form input.jq_watermark,
*+html div#form input.textbox {
	border: 1px solid #005591;
	color: #2f3c4c;
}

div#form input:focus {
	color: #005591;
	background-color: #fff;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.2), 0 0 12px rgba(255,255,255,0.3);
	
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

div#form input.submit {	
	color: #c7d0da;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	border: 1px solid #565656;
	background: #005591;
	/*
	background: -moz-linear-gradient(left, #354d6d 0%, #405e82 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#354d6d),color-stop(100%,#405e82));
	background: -webkit-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: -o-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: -ms-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: linear-gradient(left, #354d6d 0%,#405e82 100%);
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 1px 1px 0 #476891;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #476891;
		*/
}

div#form span.submit a {	
	color: #c7d0da;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	border: 1px solid #565656;
	background: #005591; /*#354d6d;*/
	/*
	background: -moz-linear-gradient(left, #354d6d 0%, #405e82 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#354d6d),color-stop(100%,#405e82));
	background: -webkit-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: -o-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: -ms-linear-gradient(left, #354d6d 0%,#405e82 100%);
	background: linear-gradient(left, #354d6d 0%,#405e82 100%);
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 1px 1px 0 #476891;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #476891;
		*/
}

div#form input.submit:hover,
div#form span.submit a:hover {
	background-color:  #005591;
	color: #fff;
	font-variant: underline;
	/*
	background-image: -moz-linear-gradient(left, #005591 0%, #436389 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#005591), color-stop(100%,#436389));
	background-image: -webkit-linear-gradient(left, #005591 0%,#436389 100%);
	background-image: -o-linear-gradient(left, #005591 0%,#436389 100%);
	background-image: -ms-linear-gradient(left, #005591 0%,#436389 100%);
	background-image: linear-gradient(left, #005591 0%,#436389 100%);
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #476891;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #476891;
		*/
}

div#form input.submit:active,
div#form span.submit a:active {
	background-color: #005591;
	background-image: -moz-linear-gradient(left, #005591 0%, #436389 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#005591), color-stop(100%,#436389));
	background-image: -webkit-linear-gradient(left, #005591 0%,#436389 100%);
	background-image: -o-linear-gradient(left, #005591 0%,#436389 100%);
	background-image: -ms-linear-gradient(left, #005591 0%,#436389 100%);
	background.image: linear-gradient(left, #005591 0%,#436389 100%);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
}

/* @group Alt version buttons */


div#form.auth-type input a {
	color: #fff;
}

div#form.auth-type div.box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3),
		 0 1px 1px rgba(255,255,255,0.3); 
}

*+html div#form.auth-type div.box {
	border: 1px solid;
	border-color: #777 #aaa #aaa #777 ;
}

* html div#form.auth-type div.box {
	border: 1px solid;
	border-color: #777 #aaa #aaa #777 ;
}

div#form.auth-type div.box {
	border: 1px solid \0/;
	border-color: #777 #aaa #aaa #777 \0/;
}

:root div#form.auth-type div.box /* IE9 + IE10pp4 */ {
	border: none \0/IE9;
} 

div#page-box div#container.page-width div#middle-content div#form.section div.box ul.info-text.Manuali li a {
	color: #cecece;
	text-transform: uppercase;	
}

div#page-box div#container.page-width div#middle-content div#form.section div.box ul.info-text.Manuali li a:hover {
	text-decoration: underline;
}

div#form.auth-type div.box ul,
div#form.auth-type div.box ol,
div#form.auth-type div.box dl,
div#form.auth-type div.box span {
	text-align: left;
}

div#form.auth-type div.box ul,
div#form.auth-type div.box dl {
	padding-left: 10px;
	margin-left: 0;
}

div#form.auth-type div.box li {
	padding-left: 1em;
	margin-bottom: 1em;
}

div#form.auth-type div.box dd {
	color: #cecece;
	margin: 0;
	margin-bottom: 1em;
	font-style: italic;
}

div#form .submit.alt a {
	background: #383838 url(./images/logo-myunitn.png) no-repeat right;
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 #555;
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555;
	cursor: pointer;
}

div#form span.submit.alt span {
	text-indent: -9999px !important;
	font-size: 0.01em |important;
	display: none;
}

div#form .submit.alt a:hover {
	background: #383838 url(./images/logo-myunitn.png) no-repeat right;
	border: 1px solid #565656;
	-moz-box-shadow: 0px 1px 0px rgba(000,000,000,0.2),
		inset 1px 1px 0 #555,
		inset 0px 0 60px rgba(255,255,255,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 1px 1px 0 #555,
		inset 0px 0 60px rgba(255,255,255,0.05);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2),
		inset 0px 0 60px rgba(255,255,255,0.05);		
	outline: none;
}

div#form .submit.alt a:active {
	background: #383838 url(./images/logo-myunitn.png) no-repeat right;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 1px 4px rgba(000,000,000,0.35);
	outline: none;
}

/* @end */

/* @end */

/* @group Info */

div#info {
	color: #666;
	text-align: center;
	background-color: transparent;
	padding: 24px 0 24px 0;
}

div#info fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-size: 0.9em;
	background-color: inherit;
	border: 1px solid #ccc;
	padding: 10px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.7), inset 1px 1px 0px rgba(255,255,255,0.7);
	text-align: left;
}

div#info fieldset p,
div#info fieldset span {
	margin: 12px 0;
}

div#info legend {
	color: #666;
	background-color: inherit;
	font-weight: bold;
}

/* @end */

/* @group Footer */

#footer {
	margin-top: 0;
	padding-top: 0.7em;
	font-size: 0.9em;
	line-height: 1.7em !important;
	color: #fff;
	border-top: 2px solid #005591;

	background-color: #005591;
	
	/*background: -moz-linear-gradient(top, #cccccc 0%, #005591 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#005591));
	background: -webkit-linear-gradient(top, #cccccc 0%,#005591 100%);
	background: -o-linear-gradient(top, #cccccc 0%,#005591 100%);
	background: -ms-linear-gradient(top, #cccccc 0%,#005591 100%);
	background: linear-gradient(top, #cccccc 0%,#005591 100%);
	text-shadow: 0px 1px 0px #efefef;*/
}

/* @group #cFooter IE hacks */

* html #footer {
	background: #005591;
	background-image: none;
	background-repeat: repeat-x;
	background-position: 0 top;
	height: 150px;
	border-top: 2px solid #005591;
}

*+html #footer {
	background: #005591;
	background-image: none;
	background-repeat: repeat-x;
	background-position: 0 top;
	height: 150px;
	border-top: 2px solid #005591;
}

/* @end */

#footer a {
	color: #c7d0da;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline !important;
}

div#footer div#siteinfo div.chiusura ul,
div#footer div#siteinfo div.chiusura ul li,
div#footer div#siteinfo div.chiusura ul li a,
div#footer div#siteinfo div.chiusura ul li a img {
	border: 0;
}

/* @end */

/* @group Varie */

a.temp {
	color: #666;
	float: right;
	margin: 0;
	margin-right: 12px;
	padding: 0;
	font-size: 0.8em;
	font-style: italic;
}

/* Assegnazione profilo MyUnitn */
/* MyUnitn - Assegnazione profilo */

.description {   
    padding-top: 1em;
}
        
.half {
    width: 437px;
    height: 130px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    background-color: #EEEEEE;
    padding: 2em 5px 1em 5px;
    margin-bottom: 15px;
    text-align: justify;
}
    
.Cbx_Title {
    font-weight: bold;
    font-size: 13px;
    width: 340px !important;
    height: 34px;
    padding-left: 3em;
    display: inline-block;
}
        
.OldProfile {
    background-repeat: no-repeat;
    background-image:url("./Images/permessiutenti32.png");
}
            
.NewProfile {
    background-repeat: no-repeat;
    background-image:url("./Images/IsNew32.png");
}

.Cbx_Description {
    font-weight: normal;
    font-size: 11px;
    padding-left: 2.3em;
}
    
.MyUnitn {
    padding-left: 115px;
    height: 45px;
    display: block;
    background-repeat: no-repeat;
    background-image:url("./Images/logo-myunitn.png");
    
}

/* @end */

/* FOOTER - Allineamenti */
div#footer
{
	font-size: 11px;
    line-height: 1.5em;
    min-height: 110px;
    text-align: center;
}

div#footer div#siteinfo
{
	
	display: block;	
	max-width: 1400px;
    min-width: 640px;
    width: 960px;
}

div#footer div#siteinfo ul.Logos
{
	padding: 10px 0 0;
	float: right;
	margin: 0px;
	border: 0px;
}


div#footer div#siteinfo div.footer_text
{
	text-align: left;
	float: left;
	width: 52%;
	/*float: left;*/
}

div#form {
    padding: 40px 70px 20px;
}
